<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0056)https://www.kpscrecruitment.in/Profile/PersonalForm.aspx -->
<html xmlns="http://www.w3.org/1999/xhtml"><head id="FormsHead"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>
	KARNATAKA PUBLIC SERVICE COMMISSION
</title><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><link id="ContrastStyleSheet" href="/stylesheets/Layout.css" rel="stylesheet" type="text/css">
<link id="CultureSheet" href="/stylesheets/LayoutEN.css" rel="stylesheet" type="text/css">
<link id="Link1" href="/stylesheets/LayoutEN.css" rel="stylesheet" type="text/css">
<link id="ContrastStyleSheet" href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/sb-admin-2.css" rel="stylesheet" type="text/css"><link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"><link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css"><link href="/stylesheets/PopStyles.css" rel="stylesheet" type="text/css"><link href="/stylesheets/fileuploader.css" rel="stylesheet" type="text/css"><link href="/stylesheets/vscroller.css" rel="stylesheet" type="text/css"><link href="/stylesheets/GridviewScroll.css" rel="stylesheet" type="text/css"><link id="SiteLayoutSheet" href="/stylesheets/Layout1.css" rel="stylesheet" type="text/css"><link id="Link2" href="/stylesheets/Site1.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        /* The Modal (background) */
        .mySessionModal-modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .mySessionModal-modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 400px;
        }

        /* The Close Button */
        .mySessionModalclose {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .mySessionModalclose:hover, .mySessionModalclose:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
    <script src="/javascript/CountDownSession.js" type="text/javascript"></script>
    <script src="/javascript/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/javascript/CommonValidations.js" type="text/javascript"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/javascript/ie10-viewport-bug-workaround.css" type="text/css" rel="stylesheet">
    <script src="/javascript/ie-emulation-modes-warning.js" type="text/javascript"></script>
    <link href="/javascript/ForIEOnly.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
         <script src="../../ForIEOnly/html5shiv.min.js" type="text/javascript"></script>
      <script src="../../ForIEOnly/respond.min.js" type="text/javascript"></script>
    <![endif]-->

    <script type="text/javascript">
        function burstCache() {
            if (!navigator.onLine) {
                document.body.innerHTML = 'Loading...';
            }
        }
        window.history.forward();
        function noBack() { window.history.forward(); }
    </script>

    
    <script type="text/javascript" language="javascript" src="/javascript/Registration.js"></script>
    <script src="/javascript/RPSencryption.js" type="text/javascript"></script>
    <script type="text/javascript" language="javascript">

        function ConfirmNext() {
            if (confirm("Details has been saved successfully.Do you want to proceed ?")) {
                location.href = "AddressForm.aspx";
            }
            else {
                return false;
            }
            return false;
        }

        function Check_AtLeastOneContact(LangID) {
            if (LangID == 1) {
                alert('Any one field mandatory,(Aadhar No/PAN Card/Driving Licence/Election Card) ');
            }
            else {
                alert('Any one field mandatory. (Aadhar No/PAN Card/Driving Licence/Election Card) ');
            }
        }


        function RequiredField(LangID) {
            if (LangID == 1) {
                alert('* mark fields are mandatory.');
            }
            else {
                alert('* mark fields are mandatory.');
            }
        }

        function FunWhiteSpace(t) {
            str = $(t).val()
            str = str.replace(/\s/g, '')
            $(t).val(str)
        }


    </script>

<link href="/javascript/WebResource.axd" type="text/css" rel="stylesheet"></head>
<body onload="burstCache();  " onpageshow="if (event.persisted) noBack();">

    <form method="post" action="https://www.kpscrecruitment.in/Profile/PersonalForm.aspx" onsubmit="javascript:return WebForm_OnSubmit();" id="FormsForm" enctype="multipart/form-data">
<div class="aspNetHidden">
<input type="hidden" name="ToolkitScriptManager1_HiddenField" id="ToolkitScriptManager1_HiddenField" value=";;AjaxControlToolkit, Version=4.1.50731.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e:en-IN:f8fb2a65-e23a-483b-b20e-6db6ef539a22:5546a2b:475a4ef5:effe2a26:4355a41:2a35a54f:addc6819:d2e10b12:37e2e5c9:5a682656:c7029a2:e9e598a9:beb16dc9">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="">
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="c/lwfX8+tD/QkK1KA90bnM99RjqbLwfCaZts0qGun5kOUTyIc28tcl4JKVXHFcZpU/J85h/u48w7xkLnaPnNO/m7YHwfypzIIVBWrf4/yyBqpG3jZnmCPiOy+49AQvbbtvtBUfcQ6AWzrUzD9qkvnw1+d3df0PJx4udacFllr/a3bFOZrn8MFalawKrO1r/rCD8ZhOZevgo4iadpqU+z88Y2SEE63DcQbWhkd4sXXKCi4CtQab8h9MZgUKx3NxY/fDgrEmDIc+rlj4E4MYIexcNOwHKsVpcbwZ3crgaRDDuVa5XN9u8W7ig/IZMi+x5p4AvxFgybxVTjHVyoCejzx4AYKafCt4CD+GAmo7sUIPio42tb/QuTZxsI+s+KWbPXDileSDiD79z6XoVAtqBqg3zqC7jIENGU3xBaKq3CuIIk/l5xNv5UQ4A2ALPNwyTmKW0Ofnl9Mt07KCs3NtV/97zJJgiWgFTAN/QO9RwQTXDYQ6ZH4gnb3Z7KfXkWURHOPba5tUXQW3pNr4+HHrb6+dQsMiyubjQOgUmZKkFmCzqUa/m+JMrcinIwJgLw1UHyEGtPFbXRmIR6iXhYFArkHvzVlrwoV6eR1uPkJNNQ+q2eypq0aGvsqQ0GUp+rclpPo21qWhiBrJCs98yZpvV4tdMedIDObaRmvh5X3WSE3iIR/eMxmsWbj9pboBzz/UAyo5qjEexZ2j5uT65XA+4SpfU4k9i4ktw8YwrqrmHfYV++q6br3Xruev7TaxxrkxYuAAR0n/wdF9EfOwyGNWQY2UVxCkaB8gJDzS2L/kNE5kyPmkRLzV1J9uPPJV5CJfX2u/qUBitFMUsgUWsPq/Sf8daJYRogiYP+f1iO7Evc8NrBJcvUU5HtoPe9p7VlrS6CsgaDJN15Ieh7t3qWuQB4XsXU6aFGMpFN5hb8HCwaj8D6+lwVX+KNG102uO20rYeO5HoeH8+IjYP9nMd2uRvU4h+Q8jOjuOosAM1e0y0OMclKnWCDZSbjbKk0Fg35GEAGO7GMwMvXXTJVKfYBPRnY338Jvj0kYrospaDJzzcTavCkn69EPBb8nIbWB6vMDhdthwr4BlXVN48w5MVlqvQrX+tlp43KNgTx16k00yKgfMD/Mu7BM4295/niO8qq1WxEedsDhv5354IL1DXFFJjuIkMGCpYmQqHqKRLgXTByiBW9pq2qx8p/1iPMubPEMd2VePUJnKsGc/3MVz3wLqsq4rL8Y2fpifkRY7EwPUId8UbhjEAi2gMD7676V25YqsABVb0em+WzPjzl3GFoa66E2mLZbNwRUIo501rBLM2SmfrrpXpQ8AHuPZlyQB4DplgoBFG6vQ2evG2Tqf7FwrEkHTIDNBehZgyZIhKGGO+3wc719TPfZV7AZLb5CoV59wWm0K+gN/RLuYlAxJVRGzIekeNFS+RiUL3Mofh/vLbxNQ90r5Kp9hZ1EnCMESbxSijQpRWe5LuMWxRPV4p84hMeRbsySP7En2CIwx24RcMOgOK23QWzHTqR8odZDZytnOPVDwHnuXUFvfL91ov0cwvAbtrpys1HgR60aSn0aDvVJEAj4MeJWJZbaAGjli5tED50h9EeyGR4eWCIyebA8RWbf0OQf1Rlo3co3fGbThzV9lMfPAkqgNLknR8oef+muJ3OaVjVElhrzcgfGZYNVR7FoHAXOlvHN5CJ10MYRT6zjUntZnubxeFOh50Mw4tg55EreGOHep7kDGn16gJgPnTyrrvfVLnugX3BcO05UukEG4gj6k3pIfxth83rfQg3mZwbRWl8L6AMzMfxLPclRIEV2LCL15hK5NRbjsUhaUNQGvnyimsq9PfFxGM+KgSMQDUtFK/BgQ17LLuG6FT7ti3bj5fr17wh6sN8iRdPv3UW2yc/1othdR56cbgMJmBdmySvGcFPSpRM7QGUh1uly7eh+s+YfA2LLmH7Tr502QFhKW3juvkqZ/5fdlV5O/zcsQ/UUekbB4JHUF22yxa6GDZBMvdc9QUe3/GjVtkyO9M+9vBKSYEFn+D41OHl/eSXsu+tP+KJ08VWr4+mmvhl27sbt3gkr1AiTTd/gwb2Psp9zXL6czvu8BkNBWAwF/l3hTDKzT+6L3C91/caTbPe4OnF8bnB9AgNxgolMZY0BMa4RWV8UqDvD40B3jrO6pfl2U8u54qFYAOPE8wbMekrvEKPy39cR3jioBYSlf14yfK+LKV4IHrkqwIM4V8y7WCPIRO20+oA9mpXWJlxquRB+LKeDo+mi/7B7GFwGswq6mcSdB3+UbCiOjNSnFE9VRVuGRIyAblLOp3kulihnXpWYn1i61N/R74+zfm70zgz2Az4c/XT+KKHIn5Fc3ftkJ9zGZQkmmis4+rVEociiyNymgBPUpBFu2gCuMdkq/zOOar8tfQ2ynR65gXWpcsNlJ3Ea4Wubw++h59XMbZmTVQCd1AXIDEdS7mo7CMHCokJwPkFskKyZ6EgLxPajYzHqwhbHWHwP/wedrJOVDP2xS1DEMS5fa2KoFcByCmrIHt0Vua/nqI+Z6FpnwNarYG9F8fWeBkF5JJqVJV/5oWaap2PEC4M6leF07pmpCn/4YJ3GCjicgUYtpIm2groVQ26xkx0nCLUS/eUDgsjNMahPnMtt0SlH5axOslIdE4RPczKlG+Z+6nfhWYvZnhi0jaLdofgw9zx+JiS93E5ujS5vFZgzY5tTCBWxmHRoav+G57p8udWnAd8M7UkPh4kWUxEFB1M5uRRFdUKhOJYEdxevHmjjFzMaVKMI5bsxoTiCI+PrGBA99V6H3JNZInbp11FRHmc4VkxAGyCJdsoAUeduxF60eQF2+NBCrQTcydThffUs7VvL/PyIX//u6kKFpy4Xu7LjzQmc9sLl5GtyL/kjtD5B5ydd6p2waTxJzxADZJIBaZ/cDYKTS37htxfkEUrGYECjRkI0mNf06i9rEKoQqcQizVqP2vnx7DyUiW5tUqnazVtXePHMKqs1borz82xPmqiChDB9wDOBMLSLdw4IK9WshDhY/THYxEDf+zWBC7o2afiO6xupGmU7jIqPo9FRRBkJYGz2VvJyLdeq3+jw5mpoQR8ecXBtvKs3yoQbUPeZ7nGHMfmwUb2ln9dV6J8c7veg6bSjXq/WwjthOv/m4OPA/6aPB/zD0vyhrzYmhwgj8Wq7KUCnw2IRGQr+dUxT9p1jpujEBzcoNBAT+Y8TzMsxmPKbyErZXTx6GrKja6ZR8Vf+vCjvHoAbAJZaOyMq/oM90NdUiI7kI+jy98DnvNiEoZnFr+8nmWpSlmAQc3/DZbm3Bkn+UVCacqqB63OM5uhdGP5jw4jd9iJLHILwWJnc+BBep2CsRNFP88b9Pgh6aNA6ysE3Hjtbq7x1LTtfeXuzw12Jh9orkYdln6rQW5XKlLY47ITV1CiLK1Q99IM1Ky4p/adVs+8neybXGqBEzddyRuFL3PZwL170jkormkNrw6db7Sd81lzEnovAcpEVveEgFG2dNX/NtLMvcAMK34wzo1+xPp3wBhFlxnPWgMCNVXcgbUyqDiwYxx7Tn5jWhdcCF7yF3yRCQyoWN7A6D+SvmNqz9zXzG/Vi3dDKWsL3mMMbXLnp1nXm2OibZR4hZpmbapjXUqaRFmIq1D7VOQBxRdMxytrEe7WgOYYs5hULrcdzPf7S7T6lN9K/XGVrGR5omLMGQdTdeGwyQ/LTarWOro74+232LjK6Ld/UKJTOvQJpRXHd0Taq3/NTYfRtIgRj40g5s7sEmgu8JSdWgXe6Wh585hanaKpAJwST2VB2WXDCL3bR/4dNuVz628Hp6bzmv4DLwF+gqZYostuzbmbG9ggqHVCPZFvh+WH0UeWo/I7z6VuDZnE/tDUaYF1bzhOoAh3gFt8TKXjNH/3Wd2vtvM2sAAWSA9Y0tezILkPbsW7KIfeZqJ8EuWtgGEiBONq/FE7Rb0BgnyI54G+aiHEmrYrX5qXngEHk2l3YBWYvvwE1J0pSSiK+4H7HXSdl1WH3BD43+t6fpJvkKqNACeVYpu3ZkTRf/Ltq8pU2033UQ20k8uCohilbZHokOhj/2qquy+N4ilMHjlIzMrlIaO3VmbGJQTqzsgTIEXWCWQti/B5KAvJQBvKW4UoyrkNMVHc6qoJ/nmM7onWHETIb9/BTZlxBJVLS0LtoDSb+nMuzHhQySboq6DLOE8sy0tj+n5ZNM5vQOyw53KoRBJB1tgDQkbgVSzlGmKsPkpiaZqn6LRtxqHwfCQ8ArNcvAotZg3PqqcqDGV42MWf4VVMbhYasEM4y/JMRA2J41TFhxi68k/iDq0Ud0L8cF6nFBPzR9xPGPx9kYX//weei19DNGpYl0bpEZt3YG+lqGIY7cn0xNfHrJmP/xSy2TaDPZJv2NpmH1Aq8sXJYO29PAW98RdVTS2qQhV5ReBue5kQeexUw1VqSSgmADJ5XT8b9qudmbGDn2mg+mn+aSxHW+foKfS3hFpdb+FxQ4cHY+DAE8iw3H2ZkVRwfldQ2PcNJcb7KYPUh52IPWYNpoCo/MEMMp0MWdUJCzmUWgn6UaSSc9WhVG7X979PeRB2MZrVR2dTvL9nSnZzHvuH+B1VwoKCOGLEDUN+xjuXtdmgHLYTvK+xZy7fX8UYkrsMngDc2zmhS5Lo6q6d+dcDaZFEL/2gx2Eu/17FMb/7rQEVYOXaWxsdCDs2OOgNU90bJ9mmj3ux009NkxJ+p3e0ZBzQ8miEHwDtjmEsR7nvy2BWsk+z8yoWVabb045MxhPemcZBsW+2wyMlP3HD9VZ15Na0IDHcgCjm8xwI1i4TI0rZhEQWYQjVnvCeAh2tDdcXnMU8MWIwwaTGg1nhH2AIA2LCkQYdWjGmaVm6orq1ECsHDmGSeESPiOz7OPY/8qOsfJFwbPy5UBEphAAjVB0MKj8IPOPJ1PfLrwYqsUl42KQJPtnCwxV+vFCQ7+R/3wJvibmFhnpD2/KyFOW1XoEWvHBrOyblboCsLVjH9xSu965g3iUk2CONGBVk6XdEaX6mAI42BZuQjvmn1kMP2A2iO4rMqJYOvSA6vnruJwOfEH/7Ev78f0pL04oUnzmCm72n1saQ1PoQdky+FUIQHGoD1uvdyMBjVrgwk82l7lEJCGboS6EBCtVNfwE3S6vUFb9Rd/XNbkFhjL6H8nyt10+C3hnE6sSlbs0V5Y9bvozla4TdEE8rOwdDI7mPRfiW0vTFFkBYtMDFSeEDTOErfsiEAwf9DJ7iY3Jhl0jgWzxdmAkXLDGJpXmYIk4oPsJHIzu/Y/tjxhK/VntyQUeVjs3esbG1KUoaFyrQH1AHC1LbDlit8FnZgB+3pg2atU1vAG8VjlCbGkn0ddzeOg6RVaIC7WfWR0c5H6DB8kW7/E1Fiv0cSYFHnqHI1dl4b+0NyIKk10vOFqAijjnNrM9TKPqKP9spE6od7sbcLVNP+/cdzvGpmN2Ykx4SmcSwi0Pjw0SRaXXplCptiCmwi13Ous6V500mDo6fK//DfrJHMZZM8svq+PlR0wqNesiTmet23me855Uc3jt7EH6XUfO9SI8KbY5vrgf5ViinM9patWJY1qehRSND/Vf0mNd6cgP6AdAoCeoFxmYZM5urrMgUZxiDi7IQRJoZcpzRLW3KfB+ZYiuNEKylxT1AjInuDniLIS8i8Gz0SKPSCqnU82Puf4dy85y1wCJk9lTM0Ta/nC5tmcQBPOIaFPFxC6AYwDkrqaU7xo4f8f8XrLhgbiO8RF+mKVoTZnBvs4RefXy39842rASl5LhynBIpMfVmz0N+YnTuuNQTZkER6GVuPrfX8JXmc7kNxpqPXrndU4cDEBBCHELgB0oDP0GIWojdUx3wLhUM5uzQ8tYg0Y9L2Qoy3FgmiAXPClVX7FOpyH+AoblMxI3PfDwZ89nou+6l6UFGvnK/V0JdpRIysQlhMTso22XwQgve9KSrT3MCknNkqSvGlkjxSiwvWDKz/przHIJ2kXjy6/o1iM77jZpERZv3R+c9A+d05md1ezuzTAtE6Hv6+JwBg+pcfQt4JE5EP6BqYaOgGO39XWuCREMQSDZlKJ8V/F+30YapuGD0s5a9hP2zl5nnm8dKVbLhQ328IuYMOOX+O/NYOiNfAbiXIIJXVRN8P3JHM+hvlXks+qq9Jscwj9HqDpgOybRx3rn/fSA/qg+Zo/yDOobXqHIlmNs9cx6AOtvjmRLbJcLgO/BIdZv/pOCV4Uk2OtYo93EHR00IySvjNDIVW+0dwsGI/8HLgTmA7so1XW1v5W2zpWYjuP4iykN8Y2gfCRZ97qlpgFe9ht6SRw1y8EDFHzHsmTXYakQ2MhkHeVR4XdIsqMr1ZWKcAPs5gZ9ZaUxWh6kxyQ/uXLyKQpiGpqFQT9wbi0j2qRdNpHTihtdRBIh0KQzxMlGUVfM5UO7nlXLpsYf8LB+ffcYGzIl/DrO07/vqc8r5uTDzBeIZ1aa+UaETTRmxfKDSGakGcsP+f9TYg8TTWWOTENKS9r2P9YKAT8sBpJ+wiXiRg/SbttSi+7wL+otRl09V6OdQrq9T7jQf/i84wgLatp9u5LGwbgkqOusy//ZCjd80USeCYO6BPe+vPTU9yGqfhyr+xbFyA8zb3w+0YjdeCCO3k/qikki1e0i5+RDapJg6HXg8jTlj3VDJI64XIp85uI185DZ/rhhr7i4AkooHs9KSgvQl+jjOR1olObnl0jReCSbydnYraMzwXoSjlmhSapA/jTgqA4Lx6RDPL2kfAVaQIXuvPxkAMKExA4YdJrQmu0HJtwXLKDKuReMAoThP+n07GsCI5Ahd1xRI4pkZUehcsvMSyfr3hwMefmmXcK1YSRB8godFwgAGMNXGNCvepEaNh9suYORuUKOV57kK7lDP8xgkp3VXWTYVltTo+V+RYpcvve5Dh+BqvgRSr3gh6xgDdDJfGMp3FcO8mX4Zd1ic/rtH6/i5+oqacZhNzz0fk91lYU70tNaMVfnW7ULyvSq72Q1mTTIvBBLb4fF+EQBMBNbYTxagv6EHarQhj7B1hb4F+XwW2CvXb+iyTlzFNViRb628JJ0DbtsSlWO3zxdy3nm5qbKNwgzMgA2UVm+VvWQkaGhQ+N76yoDyW6tXlt/A8XMY+GxI2MPESxZJBE4lJ/4xZrfEGbKDayf3OwHwDLe9/QhjcW76wvgbEs7bGy0HNRzBjGrGqejokCuyfcdpNSqK7WTHQW7Lj6k283TuOhSwb8mUOnxDVVXQjAmMdE8HkFTSYe0W19BZ60vYgMPsxy3ARh+3JMthKqpkBl55PivZkKWDGWS3WetI1MOpwFrdNe1OfAydajoBzKGysMIywuz+zJSiRA9ecUOEuylgNCwok/ze/S4eGIFYJfVoGrYP1P//DKnmlrEc8LvFEufjHwUKmRLmhyc4muQXHIANkKyfj+x8LzuegzvbsFOKtWOrTtNWLvaiZYSJGAQ+79BOSq03ZAyGqFPrgnK+C6EqvEFY61pRk8cE/2hjeyOuYLhHy0yFKAc7D4E9xJK9agAfRLFWD9JqTgQH7X/fLTWVHoFhCCFheQDgqvEcKeijpC5/gAt3weMCqJ5BnEEOj/BAXB+WfLY9Mto3qVq4Xl4B5X+qt2S1GhaDkQuOCv7g3Qaow3He13NqCAf/fFUtWvFZouxSP+ktpEY1yWNc7mJI8d6dd6zgLTp2Wkt0Cs1EWlvGMnyWZzVf2XwvxwcRtJRcLSiHTmhqAIknsuhW6kCO9T5qjKnZcfnlA8Eh8WhZi4FbpLdyk5wWrwuru/9iDcePvv6tJNZ/CkEj4gfRp5csnuA65h8sz17SSTkZyjzIeQwg7fqRWKuAkE4h2AkfUqmqlQ6vISWj+vd57wzCZF9qZfL0dg25m4lflUgAac42YBjwc1mPczWFQWyoH3NNcsc1qZ2QE1frumuq9oQHw4mt0QXWyoAFEUosC29gXA2IdSpTRAc3aYOhM+lRcreuwo7zUwQRQtPgX/04uiv3sHRZBBUqWMXW7oKW6LzbqLi84AHr7gRRP5mVUhAJZ0vHIvg4acekoOjQra3pt9ZhYS5mLTnnbQe7bG9+2iHdIxRhbNnxl2wxlxrEinQEJ19HoiLc/xwXXog+roC0DAyfOAYNAnRLTSaHfyW7H1j2RMSVa0PEdVKSU058iI1gOyNnFFgGyA7ovZQ+nH/ZJTz4cYfitylo4PyxTvN1zDDTFp7pnGcB1kGF2gR/n5l4LWc9d/olgIBkCvhSVSpRZX2o5zbc7zrfGozwtwz8iFo+XIWpHYTHvT7kbN5kcnRnnU7cjuKuWD4B7YRCIMDeU8x0UcBUXr6eiH8usaW+2UwY7yveQx00i/3IDMX6LL5e2llRAj/abl9E+8vkV5+he5X36j16oxvYokiamNMiv1HhuTZJZdlCNveKeYAOVS964i/iI2l2AYaPGa7tAn2j3OOJTrDNvHKFQL1qSPn1gHCr51zV+6HlDpLHvRN8qoRId9FHry3skejg3BlXQiUhuO/qf00Oy0oL3SgrVPxdijNUMTl3Na+b377MiwIePtYugoQ4koi3pHF3JWuDceCkZ5DcndeyPaBsCN8YDQ7+xf8+9JmdqRd90/87AjbILExlx53o2jIe6CK7LRo04ccR1G6BJoWLRU6Vihtc5VatdyIxQ7AGiZmdp8hxMK8m6GCzGRGyfEroArFcwVGYzKLblw0DuXSv34OhSTUdMsoYpEto3sxLMfcwi8yI31p7bPgZVJr2ujOzM321zye30lwYdmcGg19BoMXoXhoab4D2bBDXhO0323iSIkDTLLpocgSyDY+8Izor1kJjvSyJZfNYc+oQs/DY01Yr9+BhCrS+aDseOmBnS7K0GlpDx7aJirc/r44W2G+fz3g0znp19Jb6OP/rnhqBkqHALwr2ZZshCt9k+0dXV1igrJf+dZsZPFiUaqfXcjDtcedgzl4P6xCaHNZ4RnI9s3WjrnZbk2B4zxintU74QusrKDEGv4NKH/qfqgqYTQtJ9Vgdg1aJ0F7mW/luAN71kuE8wOJRSZuzqTrb9VmkU8rEwJNO3Wr51D3E9oJwZXgc/qSWjDD4kPu3Hg4=">
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['FormsForm'];
if (!theForm) {
    theForm = document.FormsForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/javascript/WebResource(1).axd" type="text/javascript"></script>


<script src="/javascript/ScriptResource.axd" type="text/javascript"></script>
<script src="/javascript/ScriptResource(1).axd" type="text/javascript"></script>
<script src="/javascript/ScriptResource(2).axd" type="text/javascript"></script>
<script src="/javascript/PersonalForm.aspx" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function WebForm_OnSubmit() {
if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
return true;
}
//]]>
</script>

<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="260F296F">
	<input type="hidden" name="__VIEWSTATEENCRYPTED" id="__VIEWSTATEENCRYPTED" value="">
</div>
        <div id="divnew" class="medium">
            <div id="main">
                <div id="header">
                    
<style type="text/css">
    #clockdiv
    {
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size:  0.75em;
    }

        #clockdiv > div
        {
            padding: 5px;
            border-radius: 3px;
            background: #2e62a4;
            display: inline-block;
        }

        #clockdiv div > span
        {
            padding: 5px;
            border-radius: 3px;
            background: #003481;
            display: inline-block;
        }

    .smalltext
    {
        padding-top: 5px;
        font-size: 10px;
    }
     blink, .blink {
         animation: blinker 1s linear infinite;
         }
         @keyframes blinker {  
         50% { opacity: 0; }
         }
</style>
<div class="topdiv">
    <div class="topbuton container">
    </div>
</div>
<div class="top_banner">
    <div class="container in_banner">
        <div class=" logo col-md-3 col-sm-3 col-xs-12">
            <img id="" class="img-responsive" src="http://www.tecsok.com/wp-content/uploads/2018/02/tecsok-2.png" style="border-width:0px;">
           
        </div>
        <div class="banner_text col-md-6 col-sm-6 col-xs-12">
            <h2 class="text-center">
                <span id=""><b><u>Technical Consultancy Service Organisation of Karnataka</u></b></span>
            </h2>
            <h4 class="text-center">
                <span id="">Online Application Portal </span>
            </h4>
        </div>
        <div class=" logo col-md-3 col-sm-3 col-xs-12">

      
            
        </div>
    </div>
</div>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="">            
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="">HELP</a></li>  
        <li><a href="/user/logout" id="">LOGOUT</a></li> 
        

         </ul>

    </div>
</div>
</nav>
                <div class="container-fluid" id="main-content">
                    <div id="dvLeftMenu">
                        <div>
                            <div class="navbar-default sidebar" role="navigation">
                                <div class="sidebar-nav navbar-collapse" aria-expanded="false" style="min-height: 570px; background-color: #bd135b;">
                                    <ul class="nav in" id="side-menu">
                                        <li>
                                            <a href="/<%=user.username%>/dashboard"><i class="fa fa-home fa-fw"></i><span id="liHome">Home</span> </a>
                                        </li>
                                        <li>
                                            <a href="/<%=user.username%>/profile"><i class="fa fa-user fa-fw"></i><span id="liProfileCreation">Profile Creation</span></a>
                                        </li>
                                        <li><a href="/<%=user.username%>/View"><i class="fa fa-angle-double-right fa-fw" style="background-color: white ; color: #bd135b;"></i><span id="liView" >View &amp; Print Profile</span></a></li>
                                        <li>
                                            <a href="/<%=user.username%>/online_application"><i class="fa fa-file fa-fw"></i><span id="lionlineApp">Online Application</span></a>
                                        </li>
                                        <li>
                                            <a href="/<%=user.username%>/application"><i class="fa fa-street-view fa-fw"></i><span id="liMyApplication">My Application</span></a>
                                        </li>
                                        <li><a href="/<%=user.username%>/request"><i class="fa fa-user fa-fw"></i><span id="liMyRequest">My Request</span></a></li>
                                        <li>
                                            <a href="/<%=user.username%>/dashboard""><i class="fa fa-info-circle fa-fw"></i><span id="liHelp">Help</span></a>
                                        </li>
                                        
                                        
                                    </ul>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div id="page-wrapper">
                        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ToolkitScriptManager1', 'FormsForm', ['tctl00$FormsPH$UPPersnDet','FormsPH_UPPersnDet','tctl00$FormsPH$UpdatePanel1','FormsPH_UpdatePanel1','tctl00$UpdRandomToken','UpdRandomToken'], [], ['ctl00$FormsPH$btnSavePersonelDet','FormsPH_btnSavePersonelDet'], 90, 'ctl00');
//]]>
</script>

                        
    <script type="text/javascript" language="javascript">
        function EncryptAadharNo() {
            if (!Page_ClientValidate("SAVEPerDet")) {
                return false;
            }
        }
    </script>
    <table id="FormsPH_tblMain" width="100%">
	<tbody><tr>
		<td>
                

<script type="text/javascript">

    $(function () {
        // this will get the full URL at the address bar
        var url = window.location.href;
      
        // passes on every "a" tag 
        $("#cssmenu a").each(function () {
           
            // checks if its the same on the address bar
            if (url.indexOf($(this).attr('navigateurl')) > 0) {
                
                if ($(this).closest("li").hasClass("Complete")) {
                    $(this).closest("li").removeClass("Complete");
                    $(this).closest("li").addClass("CompleteActive");
                }

                if ($(this).closest("li").hasClass("InComplete")) {
                    $(this).closest("li").removeClass("InComplete");
                    $(this).closest("li").addClass("InCompleteActive");
                }
            }

        });


    });


    function SelectProfileTab(ProfileTabID) {

        var varUnsavedChanges = document.getElementById('FormsPH_uxProfileMenu_hdnUnsavedChanges').value;

        if (varUnsavedChanges == 'Unsaved') {
            if (confirm('It looks like you have been editing something. \nIf you leave before saving, your changes will be lost.')) {
                SetProfileTab(ProfileTabID);
            }
        }
        else {
            SetProfileTab(ProfileTabID);
        }
    }

    function SetProfileTab(TabID) {

        if (TabID == 'PersonalForm') {
            location.href = 'PersonalForm.aspx';
        }
        if (TabID == 'AddressForm') {
            location.href = 'AddressForm.aspx';
        }
        if (TabID == 'OtherInfoForm') {
            location.href = 'OtherInfoForm.aspx';
        }
        if (TabID == 'QualificationForm') {
            location.href = 'QualificationForm.aspx';
        }
        if (TabID == 'ExperienceForm') {
            location.href = 'ExperienceForm.aspx';
        }
        if (TabID == 'PhotoSignForm') {
            location.href = 'PhotoSignForm.aspx';
        }
        if (TabID == 'DocumentsForm') {
            location.href = 'DocumentsForm.aspx';
        }
    }
</script>
<table>
    <tbody><tr>
        <td>
            <span id="FormsPH_uxProfileMenu_lblMarks" style="color:Red;font-size:Medium;"> '' * '' marks are mandatory</span>
        </td>
        <td>
            <span id="FormsPH_uxProfileMenu_lblNote" style="color:Red;">If no response found on Save/Add Button, kindly Refresh page (press CTRL + F5) <br>
''Click on Save button to save the information before going to next Step''</span>
        </td>
        <td>
            <span id="FormsPH_uxProfileMenu_lblProfileStatus" style="color:Red;font-size:Medium;font-weight:bold;color:Red;">Profile Status : InComplete</span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <span id="FormsPH_uxProfileMenu_Label1" style="color:Red;font-weight:bold;">These 7 Steps Are Only OTR, Not Application Form. Kindly Go To The Online Application Menu For Apply&nbsp;Notification.</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">
            <div>
            </div>
            <div id="cssmenu">
                <ul>
                    <li id="FormsPH_uxProfileMenu_ProfileStep1" class="Complete"><a href="/<%=user.username%>/profile"  >
                        <span id="FormsPH_uxProfileMenu_stp1">&nbsp;&nbsp;Step1 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp1">&nbsp;&nbsp;Personal Details&nbsp&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep2" class="Complete"><a href="/<%=user.username%>/profile/address"  >
                        <span id="FormsPH_uxProfileMenu_stp2">&nbsp;&nbsp;Step2 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp2">&nbsp;&nbsp;Address Details&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep3" class="Complete"><a href="/<%=user.username%>/profile/details"  >
                        <span id="FormsPH_uxProfileMenu_stp3">&nbsp;&nbsp;Step3 &nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp3">&nbsp;&nbsp;Other Details&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep4" class="CompleteActive"><a href="/<%=user.username%>/profile/education"  >
                        <span id="FormsPH_uxProfileMenu_stp4">&nbsp;&nbsp;Step4 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp4">&nbsp;&nbsp;Educational Qualification&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep5" class="InComplete"><a href="/<%=user.username%>/profile/work"  >
                        <span id="FormsPH_uxProfileMenu_stp5">&nbsp;&nbsp;Step5 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp5">&nbsp;&nbsp;Work Experience Details&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep6" class="Complete"><a href="/<%=user.username%>/profile/photo" >
                        <span id="FormsPH_uxProfileMenu_stp6">&nbsp;&nbsp;Step6 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp6">&nbsp;&nbsp;Upload Photo / Signature&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep7" class="Complete"><a href="/<%=user.username%>/profile/documents" >
                        <span id="FormsPH_uxProfileMenu_stp7">&nbsp;&nbsp;Step7 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp7">&nbsp;&nbsp;Upload Documents&nbsp;&nbsp;</span>
                    </a></li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <hr style="background-color: #0183b5;">
            <input type="hidden" name="ctl00$FormsPH$uxProfileMenu$hdnUnsavedChanges" id="FormsPH_uxProfileMenu_hdnUnsavedChanges">
        </td>
    </tr>
</tbody></table>

            </td>
	</tr>
	<tr>
		<td valign="top">
                <div>
                    <div id="FormsPH_tblAdd1">
                        <div id="FormsPH_UPAdd">
			
                                <table width="100%">
                                    <tbody><tr id="FormsPH_trSameasPresentaddress" style="display:;">
				<td width="100%">
                                            <fieldset id="SameasPresentaddress" class="RFS">
                                                <legend id="FormsPH_PermanentResidenceDetails" class="RFSL">Permanent Address</legend>
                                                <table class="t_default" width="100%">
                                                    <tbody><tr>
                                                        <td style="text-align: left;" colspan="3">
                                                            <span id="FormsPH_PermanentAddress">Address</span><span class="red">*</span>
                                                            <br>
                                                            <textarea name="ctl00$FormsPH$txtPermanentAddress" rows="5" cols="20" id="FormsPH_txtPermanentAddress" title="Address" onfocus="this.placeholder = &#39;&#39;" placeholder="Address" onkeypress="return alphanumericText_only(&#39;(|,|)|-|.&#39;,event);" oncopy="return false;" onpaste="return false;" style="width:30%;"></textarea>
                                                            <br>
                                                            <span id="FormsPH_ReqPermanentAddredd" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td style="text-align: left">
                                                            <span id="FormsPH_PermanentStatecode">State / Union Territory</span>
                                                            <span class="red">*</span>
                                                            <br>
                                                            <select name="ctl00$FormsPH$ddlPermanentStatecode" id="FormsPH_ddlPermanentStatecode" style="width:300px;">
					

				<option value="">Select State</option><option value="1">ANDAMAN &amp; NIKOBAR ISLANDS</option><option value="26">ANDHRA PRADESH</option><option value="9">ARUNACHAL PRADESH</option><option value="35">ASSAM</option><option value="29">BIHAR</option><option value="21">CHANDIGARH</option><option value="25">CHHATTISGARH</option><option value="33">DADRA &amp; NAGAR HAVELI</option><option value="10">DAMAN &amp; DIU</option><option value="7">DELHI</option><option value="32">GOA</option><option value="18">GUJARAT</option><option value="17">HARYANA</option><option value="30">HIMACHAL PRADESH</option><option value="2">JAMMU &amp; KASHMIR</option><option value="22">JHARKHAND</option><option value="24">KARNATAKA</option><option value="8">KERALA</option><option value="4">LAKSHADWEEP</option><option value="34">MADHYA PRADESH</option><option value="27">MAHARASHTRA</option><option value="20">MANIPUR</option><option value="15">MEGHALAYA</option><option value="28">MIZORAM</option><option value="12">NAGALAND</option><option value="3">ORISSA</option><option value="31">PUDUCHERRY</option><option value="5">PUNJAB</option><option value="6">RAJASTHAN</option><option value="13">SIKKIM</option><option value="19">TAMIL NADU</option><option value="36">Telangana</option><option value="11">TRIPURA</option><option value="23">UTTAR PRADESH</option><option value="14">UTTARAKHAND</option><option value="16">WEST BENGAL</option></select>
                                                            <input type="hidden" name="ctl00$FormsPH$ccdddlPermanentStatecode_ClientState" id="FormsPH_ccdddlPermanentStatecode_ClientState" value="::::::">
                                                            <br>
                                                            <span id="FormsPH_ReqPermanentStatecode" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                        </td>
                                                        <td style="text-align: left">
                                                            <span id="FormsPH_PermanentDistrictcode">District</span>
                                                            <span class="red">*</span>
                                                            <br>
                                                            <select name="ctl00$FormsPH$ddlPermanentDistrictcode" id="FormsPH_ddlPermanentDistrictcode" style="width:300px;" disabled="">
					

				<option value="">Select District</option></select>
                                                            <input type="hidden" name="ctl00$FormsPH$ccdddlPermanentDistrictcode_ClientState" id="FormsPH_ccdddlPermanentDistrictcode_ClientState" value="::::::">
                                                            <br>
                                                            <span id="FormsPH_ReqPermanentDistrictcode" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                        </td>
                                                        <td style="text-align: left">
                                                            <span id="FormsPH_PermanentSubdistrictcode">Taluk</span>
                                                            <span class="red">*</span>
                                                            <br>
                                                            <select name="ctl00$FormsPH$ddlPermanentSubdistrictcode" id="FormsPH_ddlPermanentSubdistrictcode" style="width:300px;" disabled="">
					

				<option value="">Select</option></select>
                                                            <input type="hidden" name="ctl00$FormsPH$ccdddlPermanentSubdistrictcode_ClientState" id="FormsPH_ccdddlPermanentSubdistrictcode_ClientState" value="::::::">
                                                            <br>
                                                            <span id="FormsPH_ReqPermanentSubdistrictcode" style="color:Red;display:none;">Information is Mandatory</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: left">
                                                            <span id="FormsPH_PermanentVillageCode">Village/City</span>
                                                            <span class="red">*</span>
                                                            <br>
                                                            <input name="ctl00$FormsPH$txtPermanentVillageCode" type="text" maxlength="50" id="FormsPH_txtPermanentVillageCode" title="Enter Village Name" onfocus="this.placeholder = &#39;&#39;" placeholder="Enter Village Name" onkeypress="return isCharKey(this, event); " oncopy="return false;" onpaste="return false;" style="width:300px;"><br>
                                                            <span id="FormsPH_rfvVillageCode" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                        </td>
                                                        <td style="text-align: left">
                                                            <span id="FormsPH_PermanentPinCode">PinCode</span>
                                                            <span class="red">*</span>
                                                            <br>
                                                            <input name="ctl00$FormsPH$txtPermanentPinCode" type="text" maxlength="6" id="FormsPH_txtPermanentPinCode" title="Enter PinCode" onfocus="this.placeholder = &#39;&#39;" placeholder="Enter PinCode" onkeypress="return isNumberKeyOnly(this, event)" oncopy="return false;" onpaste="return false;" style="width:100px;"><br>
                                                            <span id="FormsPH_ReqPermanentPinCode" class="alerttxt" style="color:Red;display:none;">Information is mandatory</span>
                                                            <span id="FormsPH_RegPermanentPinCode" style="color:Red;display:none;">Pin code must be 6 numeric digits</span>
                                                        </td>
                                                         <td>&nbsp;</td>
                                                    </tr>

                                                </tbody></table>
                                            </fieldset>
                                        </td>
			</tr>
			
                                    <tr>
                                        <td>
                                            <input name="ctl00$FormsPH$ChkSameasPresent" type="checkbox" id="FormsPH_ChkSameasPresent" onclick="IsSameAsPresent(this)">
                                            <span id="FormsPH_SameasPresent">Tick if you Are residing at the permanent address ?</span>
                                            <br>
                                            &nbsp;&nbsp; 
                                            <span id="FormsPH_lblcommunicationsAddress" style="color:Red;font-weight:bold;">KPSC Will Communicate With Permanent Address So Enter Valid Address For Communication.</span>
                                        </td>

                                    </tr>
                                    <tr id="FormsPH_TrCorrespondenceAddress" style="display:;">
				<td width="100%">
                                            <fieldset class="RFS">
                                                <legend id="FormsPH_CorrespondenceAddress" class="RFSL">Correspondence Address</legend>
                                                <table class="t_default">
                                                    <tbody><tr>
                                                        <td style="text-align: left;" colspan="3">
                                                            <span id="FormsPH_PresentAddress">Address</span><span class="red">*</span>

                                                            <br>
                                                            <textarea name="ctl00$FormsPH$txtPresentAddress" rows="5" cols="20" id="FormsPH_txtPresentAddress" title="Enter Address" onfocus="this.placeholder = &#39;&#39;" placeholder="Enter Address" onkeypress="return alphanumericText_only(&#39;(|,|)|-|.&#39;,event);" oncopy="return false;" onpaste="return false;" style="width:30%;"></textarea>
                                                            <br>
                                                            <span id="FormsPH_ReqPresentAddress" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                        </td>

                                                    </tr>
                                                    <tr>


                                                        <td style="text-align: left">
                                                            <span id="FormsPH_PresentStatecode">State / Union Territory</span>
                                                            <span class="red">* </span>
                                                            <br>
                                                            <select name="ctl00$FormsPH$ddlPresentStatecode" id="FormsPH_ddlPresentStatecode" style="width:300px;">
					

				<option value="">Select State</option><option value="1">ANDAMAN &amp; NIKOBAR ISLANDS</option><option value="26">ANDHRA PRADESH</option><option value="9">ARUNACHAL PRADESH</option><option value="35">ASSAM</option><option value="29">BIHAR</option><option value="21">CHANDIGARH</option><option value="25">CHHATTISGARH</option><option value="33">DADRA &amp; NAGAR HAVELI</option><option value="10">DAMAN &amp; DIU</option><option value="7">DELHI</option><option value="32">GOA</option><option value="18">GUJARAT</option><option value="17">HARYANA</option><option value="30">HIMACHAL PRADESH</option><option value="2">JAMMU &amp; KASHMIR</option><option value="22">JHARKHAND</option><option value="24">KARNATAKA</option><option value="8">KERALA</option><option value="4">LAKSHADWEEP</option><option value="34">MADHYA PRADESH</option><option value="27">MAHARASHTRA</option><option value="20">MANIPUR</option><option value="15">MEGHALAYA</option><option value="28">MIZORAM</option><option value="12">NAGALAND</option><option value="3">ORISSA</option><option value="31">PUDUCHERRY</option><option value="5">PUNJAB</option><option value="6">RAJASTHAN</option><option value="13">SIKKIM</option><option value="19">TAMIL NADU</option><option value="36">Telangana</option><option value="11">TRIPURA</option><option value="23">UTTAR PRADESH</option><option value="14">UTTARAKHAND</option><option value="16">WEST BENGAL</option></select>
                                                            <input type="hidden" name="ctl00$FormsPH$ccdddlPresentStatecode_ClientState" id="FormsPH_ccdddlPresentStatecode_ClientState" value="::::::">
                                                            <br>
                                                            <span id="FormsPH_ReqPresentddlPresentStatecode" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                        </td>
                                                        <td style="text-align: left">
                                                            <span id="FormsPH_PresentDistrictcode">District</span>
                                                            <span class="red">* </span>
                                                            <br>
                                                            <select name="ctl00$FormsPH$ddlPresentDistrictcode" id="FormsPH_ddlPresentDistrictcode" style="width:300px;" disabled="">
					

				<option value="">Select District</option></select>
                                                            <input type="hidden" name="ctl00$FormsPH$ccdddlPresentDistrictcode_ClientState" id="FormsPH_ccdddlPresentDistrictcode_ClientState" value="::::::">
                                                            <br>
                                                            <span id="FormsPH_ReqPresentDistrictcode0" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                        </td>
                                                        <td style="text-align: left">
                                                            <span id="FormsPH_PresentSubdistrictcode">Taluk</span>
                                                            <span class="red">* </span>
                                                            <br>
                                                            <select name="ctl00$FormsPH$ddlPresentSubdistrictcode" id="FormsPH_ddlPresentSubdistrictcode" style="width:300px;" disabled="">
					

				<option value="">Select</option></select>
                                                            <input type="hidden" name="ctl00$FormsPH$ccdddlPresentSubdistrictcode_ClientState" id="FormsPH_ccdddlPresentSubdistrictcode_ClientState" value="::::::">
                                                            <br>
                                                            <span id="FormsPH_ReqPresentSubdistrictcode0" style="color:Red;display:none;">Information is Mandatory</span>
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td style="text-align: left">
                                                            <span id="FormsPH_PresentVillageCode">Village/City</span>
                                                            <span class="red">* </span>
                                                            <br>
                                                            <input name="ctl00$FormsPH$txtPresentVillageCode" type="text" maxlength="50" id="FormsPH_txtPresentVillageCode" title="Enter Village Name" onfocus="this.placeholder = &#39;&#39;" placeholder="Enter Village Name" onkeypress="return isCharKey(this, event); " oncopy="return false;" onpaste="return false;" style="width:300px;"><br>
                                                            <span id="FormsPH_rfvPresentVillageCode" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                        </td>
                                                        <td style="text-align: left">
                                                            <span id="FormsPH_PresentPinCode">PinCode</span>
                                                            <span class="red">* </span>
                                                            <br>
                                                            <input name="ctl00$FormsPH$txtPresentPinCode" type="text" maxlength="6" id="FormsPH_txtPresentPinCode" title="Enter PinCode" onfocus="this.placeholder = &#39;&#39;" placeholder="Enter PinCode" onkeypress="return isNumberKeyOnly(this, event)" oncopy="return false;" onpaste="return false;" style="width:100px;"><br>
                                                            <span id="FormsPH_ReqPresentPinCode0" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                            <span id="FormsPH_RegPresentPinCode" style="color:Red;display:none;">Pin code must be 6 numeric digits</span>
                                                        </td>
                                                        <td>&nbsp;</td>
                                                    </tr>

                                                </tbody></table>
                                            </fieldset>
                                        </td>
			</tr>
			

                                    <tr>
                                        <td align="center">
                                            <table width="100%" border="0">
                                                <tbody><tr>
                                                    <td align="right" style="border: none; width: 55%">
                                                        <input type="submit" name="ctl00$FormsPH$BtnSaveAddrs" value="Save" onclick="null" id="FormsPH_BtnSaveAddrs" class="positive" style="width:80px;">
                                                        
                                                    </td>
                                                    <td style="border: none;" align="right">
                                                        <input type="submit" name="ctl00$FormsPH$btnNext" value="Next" onclick=" return ConfirmNext(); ;" id="FormsPH_btnNext" class="positive" style="width:80px;">
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;<br>
                                            <br>
                                    </td></tr>
                                </tbody></table>
                            
		</div>
                    </div>
                </div>
                <div id="FormsPH_UpdatePanel1">
			
                        <div style="display: none;">
                            <input type="hidden" name="ctl00$FormsPH$hdnLangID" id="FormsPH_hdnLangID" value="1">
                            <input type="hidden" name="ctl00$FormsPH$hdnlblcommunicationsAddress" id="FormsPH_hdnlblcommunicationsAddress" value="KPSC Will Communicate With Correspondence Address So Enter Valid Address For Communication.">
                        </div>
                    
		</div>
            </td>
	</tr>
</tbody></table>

    <div id="FormsPH_UpdateProgress5" style="display:none;" role="status" aria-hidden="true">
	
            <div class="popUpDiv">
                <div class="popUpBG">
                </div>
                <div class="popUpImage">
                    <img src="./KARNATAKA PUBLIC SERVICE COMMISSION_files/pleaseWait.gif" alt="Please Wait!">
                </div>
            </div>
        
</div>

                    </div>
                </div>
                <div id="bottom">
                    


                    <div class="rounded_footer">
                        <div class="left_footer">
                        </div>
                        <div class="right_footer">
                        </div>
                    </div>
                    </div>
                    <div class="cleaner">
                    </div>
                    <div id="footer">
                    <div class="container-fluid">
                        <p>
                            <span id="ctl00_lblDisclaimer"></span><span id="ctl00_lblVersion"> </span></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="UpdRandomToken">
	
                <div style="display: none">
                    <input type="hidden" name="ctl00$HdnRandomToken" id="HdnRandomToken">
                </div>
            
</div>        <script src="/javascript/common.js" type="text/javascript"></script>
    
<script type="text/javascript">
//<![CDATA[
var Page_Validators =  new Array(document.getElementById("FormsPH_ReqPermanentAddredd"), document.getElementById("FormsPH_ReqPermanentStatecode"), document.getElementById("FormsPH_ReqPermanentDistrictcode"), document.getElementById("FormsPH_ReqPermanentSubdistrictcode"), document.getElementById("FormsPH_rfvVillageCode"), document.getElementById("FormsPH_ReqPermanentPinCode"), document.getElementById("FormsPH_RegPermanentPinCode"), document.getElementById("FormsPH_ReqPresentAddress"), document.getElementById("FormsPH_ReqPresentddlPresentStatecode"), document.getElementById("FormsPH_ReqPresentDistrictcode0"), document.getElementById("FormsPH_ReqPresentSubdistrictcode0"), document.getElementById("FormsPH_rfvPresentVillageCode"), document.getElementById("FormsPH_ReqPresentPinCode0"), document.getElementById("FormsPH_RegPresentPinCode"));
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
var FormsPH_ReqPermanentAddredd = document.all ? document.all["FormsPH_ReqPermanentAddredd"] : document.getElementById("FormsPH_ReqPermanentAddredd");
FormsPH_ReqPermanentAddredd.controltovalidate = "FormsPH_txtPermanentAddress";
FormsPH_ReqPermanentAddredd.focusOnError = "t";
FormsPH_ReqPermanentAddredd.errormessage = "Information is Mandatory";
FormsPH_ReqPermanentAddredd.display = "Dynamic";
FormsPH_ReqPermanentAddredd.validationGroup = "SAVEAddressInfo";
FormsPH_ReqPermanentAddredd.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqPermanentAddredd.initialvalue = "";
var FormsPH_ReqPermanentStatecode = document.all ? document.all["FormsPH_ReqPermanentStatecode"] : document.getElementById("FormsPH_ReqPermanentStatecode");
FormsPH_ReqPermanentStatecode.controltovalidate = "FormsPH_ddlPermanentStatecode";
FormsPH_ReqPermanentStatecode.focusOnError = "t";
FormsPH_ReqPermanentStatecode.errormessage = "Information is Mandatory";
FormsPH_ReqPermanentStatecode.display = "Dynamic";
FormsPH_ReqPermanentStatecode.validationGroup = "SAVEAddressInfo";
FormsPH_ReqPermanentStatecode.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqPermanentStatecode.initialvalue = "";
var FormsPH_ReqPermanentDistrictcode = document.all ? document.all["FormsPH_ReqPermanentDistrictcode"] : document.getElementById("FormsPH_ReqPermanentDistrictcode");
FormsPH_ReqPermanentDistrictcode.controltovalidate = "FormsPH_ddlPermanentDistrictcode";
FormsPH_ReqPermanentDistrictcode.focusOnError = "t";
FormsPH_ReqPermanentDistrictcode.errormessage = "Information is Mandatory";
FormsPH_ReqPermanentDistrictcode.display = "Dynamic";
FormsPH_ReqPermanentDistrictcode.validationGroup = "SAVEAddressInfo";
FormsPH_ReqPermanentDistrictcode.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqPermanentDistrictcode.initialvalue = "";
var FormsPH_ReqPermanentSubdistrictcode = document.all ? document.all["FormsPH_ReqPermanentSubdistrictcode"] : document.getElementById("FormsPH_ReqPermanentSubdistrictcode");
FormsPH_ReqPermanentSubdistrictcode.controltovalidate = "FormsPH_ddlPermanentSubdistrictcode";
FormsPH_ReqPermanentSubdistrictcode.focusOnError = "t";
FormsPH_ReqPermanentSubdistrictcode.errormessage = "Information is Mandatory";
FormsPH_ReqPermanentSubdistrictcode.display = "Dynamic";
FormsPH_ReqPermanentSubdistrictcode.validationGroup = "SAVEAddressInfo";
FormsPH_ReqPermanentSubdistrictcode.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqPermanentSubdistrictcode.initialvalue = "";
var FormsPH_rfvVillageCode = document.all ? document.all["FormsPH_rfvVillageCode"] : document.getElementById("FormsPH_rfvVillageCode");
FormsPH_rfvVillageCode.controltovalidate = "FormsPH_txtPermanentVillageCode";
FormsPH_rfvVillageCode.focusOnError = "t";
FormsPH_rfvVillageCode.errormessage = "Information is Mandatory";
FormsPH_rfvVillageCode.display = "Dynamic";
FormsPH_rfvVillageCode.validationGroup = "SAVEAddressInfo";
FormsPH_rfvVillageCode.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_rfvVillageCode.initialvalue = "";
var FormsPH_ReqPermanentPinCode = document.all ? document.all["FormsPH_ReqPermanentPinCode"] : document.getElementById("FormsPH_ReqPermanentPinCode");
FormsPH_ReqPermanentPinCode.controltovalidate = "FormsPH_txtPermanentPinCode";
FormsPH_ReqPermanentPinCode.focusOnError = "t";
FormsPH_ReqPermanentPinCode.errormessage = "Information is mandatory";
FormsPH_ReqPermanentPinCode.display = "Dynamic";
FormsPH_ReqPermanentPinCode.validationGroup = "SAVEAddressInfo";
FormsPH_ReqPermanentPinCode.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqPermanentPinCode.initialvalue = "";
var FormsPH_RegPermanentPinCode = document.all ? document.all["FormsPH_RegPermanentPinCode"] : document.getElementById("FormsPH_RegPermanentPinCode");
FormsPH_RegPermanentPinCode.controltovalidate = "FormsPH_txtPermanentPinCode";
FormsPH_RegPermanentPinCode.errormessage = "Pin code must be 6 numeric digits";
FormsPH_RegPermanentPinCode.display = "Dynamic";
FormsPH_RegPermanentPinCode.validationGroup = "SAVEAddressInfo";
FormsPH_RegPermanentPinCode.evaluationfunction = "RegularExpressionValidatorEvaluateIsValid";
FormsPH_RegPermanentPinCode.validationexpression = "^[1-9]\\d{2}\\s?\\d{3}$";
var FormsPH_ReqPresentAddress = document.all ? document.all["FormsPH_ReqPresentAddress"] : document.getElementById("FormsPH_ReqPresentAddress");
FormsPH_ReqPresentAddress.controltovalidate = "FormsPH_txtPresentAddress";
FormsPH_ReqPresentAddress.focusOnError = "t";
FormsPH_ReqPresentAddress.errormessage = "Information is Mandatory";
FormsPH_ReqPresentAddress.display = "Dynamic";
FormsPH_ReqPresentAddress.validationGroup = "SAVEAddressInfo";
FormsPH_ReqPresentAddress.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqPresentAddress.initialvalue = "";
var FormsPH_ReqPresentddlPresentStatecode = document.all ? document.all["FormsPH_ReqPresentddlPresentStatecode"] : document.getElementById("FormsPH_ReqPresentddlPresentStatecode");
FormsPH_ReqPresentddlPresentStatecode.controltovalidate = "FormsPH_ddlPresentStatecode";
FormsPH_ReqPresentddlPresentStatecode.focusOnError = "t";
FormsPH_ReqPresentddlPresentStatecode.errormessage = "Information is Mandatory";
FormsPH_ReqPresentddlPresentStatecode.display = "Dynamic";
FormsPH_ReqPresentddlPresentStatecode.validationGroup = "SAVEAddressInfo";
FormsPH_ReqPresentddlPresentStatecode.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqPresentddlPresentStatecode.initialvalue = "";
var FormsPH_ReqPresentDistrictcode0 = document.all ? document.all["FormsPH_ReqPresentDistrictcode0"] : document.getElementById("FormsPH_ReqPresentDistrictcode0");
FormsPH_ReqPresentDistrictcode0.controltovalidate = "FormsPH_ddlPresentDistrictcode";
FormsPH_ReqPresentDistrictcode0.focusOnError = "t";
FormsPH_ReqPresentDistrictcode0.errormessage = "Information is Mandatory";
FormsPH_ReqPresentDistrictcode0.display = "Dynamic";
FormsPH_ReqPresentDistrictcode0.validationGroup = "SAVEAddressInfo";
FormsPH_ReqPresentDistrictcode0.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqPresentDistrictcode0.initialvalue = "";
var FormsPH_ReqPresentSubdistrictcode0 = document.all ? document.all["FormsPH_ReqPresentSubdistrictcode0"] : document.getElementById("FormsPH_ReqPresentSubdistrictcode0");
FormsPH_ReqPresentSubdistrictcode0.controltovalidate = "FormsPH_ddlPresentSubdistrictcode";
FormsPH_ReqPresentSubdistrictcode0.focusOnError = "t";
FormsPH_ReqPresentSubdistrictcode0.errormessage = "Information is Mandatory";
FormsPH_ReqPresentSubdistrictcode0.display = "Dynamic";
FormsPH_ReqPresentSubdistrictcode0.validationGroup = "SAVEAddressInfo";
FormsPH_ReqPresentSubdistrictcode0.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqPresentSubdistrictcode0.initialvalue = "";
var FormsPH_rfvPresentVillageCode = document.all ? document.all["FormsPH_rfvPresentVillageCode"] : document.getElementById("FormsPH_rfvPresentVillageCode");
FormsPH_rfvPresentVillageCode.controltovalidate = "FormsPH_txtPresentVillageCode";
FormsPH_rfvPresentVillageCode.focusOnError = "t";
FormsPH_rfvPresentVillageCode.errormessage = "Information is Mandatory";
FormsPH_rfvPresentVillageCode.display = "Dynamic";
FormsPH_rfvPresentVillageCode.validationGroup = "SAVEAddressInfo";
FormsPH_rfvPresentVillageCode.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_rfvPresentVillageCode.initialvalue = "";
var FormsPH_ReqPresentPinCode0 = document.all ? document.all["FormsPH_ReqPresentPinCode0"] : document.getElementById("FormsPH_ReqPresentPinCode0");
FormsPH_ReqPresentPinCode0.controltovalidate = "FormsPH_txtPresentPinCode";
FormsPH_ReqPresentPinCode0.focusOnError = "t";
FormsPH_ReqPresentPinCode0.errormessage = "Information is Mandatory";
FormsPH_ReqPresentPinCode0.display = "Dynamic";
FormsPH_ReqPresentPinCode0.validationGroup = "SAVEAddressInfo";
FormsPH_ReqPresentPinCode0.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqPresentPinCode0.initialvalue = "";
var FormsPH_RegPresentPinCode = document.all ? document.all["FormsPH_RegPresentPinCode"] : document.getElementById("FormsPH_RegPresentPinCode");
FormsPH_RegPresentPinCode.controltovalidate = "FormsPH_txtPresentPinCode";
FormsPH_RegPresentPinCode.errormessage = "Pin code must be 6 numeric digits";
FormsPH_RegPresentPinCode.display = "Dynamic";
FormsPH_RegPresentPinCode.validationGroup = "SAVEAddressInfo";
FormsPH_RegPresentPinCode.evaluationfunction = "RegularExpressionValidatorEvaluateIsValid";
FormsPH_RegPresentPinCode.validationexpression = "^[1-9]\\d{2}\\s?\\d{3}$";
//]]>
</script>

<script type="text/javascript" src="/javascript/MaskedEditFix.js"></script>
<script type="text/javascript">
//<![CDATA[
(function() {var fn = function() {$get("ToolkitScriptManager1_HiddenField").value = '';Sys.Application.remove_init(fn);};Sys.Application.add_init(fn);})();
var Page_ValidationActive = false;
if (typeof(ValidatorOnLoad) == "function") {
    ValidatorOnLoad();
}

function ValidatorOnSubmit() {
    if (Page_ValidationActive) {
        return ValidatorCommonOnSubmit();
    }
    else {
        return true;
    }
}
        
document.getElementById('FormsPH_ReqPermanentAddredd').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqPermanentAddredd'));
}
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.CascadingDropDownBehavior, {"Category":"State","ClientStateFieldID":"FormsPH_ccdddlPermanentStatecode_ClientState","LoadingText":"Loading State","PromptText":"Select State","ServiceMethod":"BindStateEng1","ServicePath":"../WebServices/Address/Address.asmx","id":"FormsPH_ccdddlPermanentStatecode"}, null, null, $get("FormsPH_ddlPermanentStatecode"));
});

document.getElementById('FormsPH_ReqPermanentStatecode').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqPermanentStatecode'));
}
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.CascadingDropDownBehavior, {"Category":"District","ClientStateFieldID":"FormsPH_ccdddlPermanentDistrictcode_ClientState","LoadingText":"Loading District","ParentControlID":"FormsPH_ddlPermanentStatecode","PromptText":"Select District","ServiceMethod":"BindDistrictEng","ServicePath":"../WebServices/Address/Address.asmx","id":"FormsPH_ccdddlPermanentDistrictcode"}, null, null, $get("FormsPH_ddlPermanentDistrictcode"));
});

document.getElementById('FormsPH_ReqPermanentDistrictcode').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqPermanentDistrictcode'));
}
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.CascadingDropDownBehavior, {"Category":"taluka","ClientStateFieldID":"FormsPH_ccdddlPermanentSubdistrictcode_ClientState","LoadingText":"Loading Taluka","ParentControlID":"FormsPH_ddlPermanentDistrictcode","PromptText":"Select","ServiceMethod":"BindSubDistrictEng","ServicePath":"../WebServices/Address/Address.asmx","id":"FormsPH_ccdddlPermanentSubdistrictcode"}, null, null, $get("FormsPH_ddlPermanentSubdistrictcode"));
});

document.getElementById('FormsPH_ReqPermanentSubdistrictcode').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqPermanentSubdistrictcode'));
}

document.getElementById('FormsPH_rfvVillageCode').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_rfvVillageCode'));
}

document.getElementById('FormsPH_ReqPermanentPinCode').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqPermanentPinCode'));
}

document.getElementById('FormsPH_RegPermanentPinCode').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_RegPermanentPinCode'));
}

document.getElementById('FormsPH_ReqPresentAddress').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqPresentAddress'));
}
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.CascadingDropDownBehavior, {"Category":"State","ClientStateFieldID":"FormsPH_ccdddlPresentStatecode_ClientState","LoadingText":"Loading State","PromptText":"Select State","ServiceMethod":"BindStateEng1","ServicePath":"../WebServices/Address/Address.asmx","id":"FormsPH_ccdddlPresentStatecode"}, null, null, $get("FormsPH_ddlPresentStatecode"));
});

document.getElementById('FormsPH_ReqPresentddlPresentStatecode').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqPresentddlPresentStatecode'));
}
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.CascadingDropDownBehavior, {"Category":"District","ClientStateFieldID":"FormsPH_ccdddlPresentDistrictcode_ClientState","LoadingText":"Loading District","ParentControlID":"FormsPH_ddlPresentStatecode","PromptText":"Select District","ServiceMethod":"BindDistrictEng","ServicePath":"../WebServices/Address/Address.asmx","id":"FormsPH_ccdddlPresentDistrictcode"}, null, null, $get("FormsPH_ddlPresentDistrictcode"));
});

document.getElementById('FormsPH_ReqPresentDistrictcode0').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqPresentDistrictcode0'));
}
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.CascadingDropDownBehavior, {"Category":"taluka","ClientStateFieldID":"FormsPH_ccdddlPresentSubdistrictcode_ClientState","LoadingText":"Loading Taluka","ParentControlID":"FormsPH_ddlPresentDistrictcode","PromptText":"Select","ServiceMethod":"BindSubDistrictEng","ServicePath":"../WebServices/Address/Address.asmx","id":"FormsPH_ccdddlPresentSubdistrictcode"}, null, null, $get("FormsPH_ddlPresentSubdistrictcode"));
});

document.getElementById('FormsPH_ReqPresentSubdistrictcode0').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqPresentSubdistrictcode0'));
}

document.getElementById('FormsPH_rfvPresentVillageCode').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_rfvPresentVillageCode'));
}

document.getElementById('FormsPH_ReqPresentPinCode0').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqPresentPinCode0'));
}

document.getElementById('FormsPH_RegPresentPinCode').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_RegPresentPinCode'));
}
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.ConfirmButtonBehavior, {"ConfirmText":"Are you sure you want to save Address details?","id":"FormsPH_ConfirmButtonExtenderAddrs"}, null, null, $get("FormsPH_BtnSaveAddrs"));
});
Sys.Application.add_init(function() {
    $create(Sys.UI._UpdateProgress, {"associatedUpdatePanelId":"FormsPH_UPAdd","displayAfter":500,"dynamicLayout":true}, null, null, $get("FormsPH_UpdateProgress5"));
});
//]]>
</script>
<input type="hidden" value="1" id="hiddenInputToUpdateATBuffer_CommonToolkitScripts" name="hiddenInputToUpdateATBuffer_CommonToolkitScripts"></form>

    <div id="mySessionModal" class="mySessionModal-modal">
        <!-- Modal content -->
        <div class="mySessionModal-modal-content">
            <span class="mySessionModalclose"></span>
            <h3>Session Expiring! </h3>
            <p>
                Your Session will expire in&nbsp;<span id="mySessionModaSeconds"></span>&nbsp;seconds.<br>
            </p>
        </div>
    </div>

    <form id="pmt" method="post" action="https://www.kpscrecruitment.in/RPS/Forms/MakePayment.aspx">
        <input type="hidden" id="TRNID" name="NTRNID" value="">
        <input type="hidden" id="SRVID" name="NSRVID" value="">
        <input type="hidden" id="AMT" name="NAMT" value="">
        <input type="hidden" id="Email" name="NEmail" value="">
        <input type="hidden" id="Mobile" name="NMobile" value="">
        <input type="hidden" id="RetUrl" name="NRetUrl" value="">
        <input type="hidden" id="ServiceName" name="NServiceName" value="">
        <input type="hidden" id="ADVNo" name="NADVNo" value="">
        <input type="submit" id="SPMT" name="NPMT" value="MKPMT" style="visibility: hidden;">
        <input type="hidden" id="CreatedBy" name="NCreatedBy" value="">
        <input type="hidden" id="Name" name="NName" value="">
    </form>
    <script type="text/javascript">

        var span = document.getElementsByClassName("mySessionModalclose")[0].onclick = function () {
            document.getElementById('mySessionModal').style.display = "none";
        }

        var sessionTimeout = "20";
        var MINUTES = parseInt(sessionTimeout);
        var SECONDS = 60;
        var MILLISECONDS = 1000;
        var timeInMinutes = 10;
        var currentTime = Date.parse(new Date());
        var deadline = new Date(currentTime + MINUTES * SECONDS * MILLISECONDS);
        initializeClock('clockdiv', deadline);

    </script>


</body></html>