<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0057)https://www.kpscrecruitment.in/Profile/DocumentsForm.aspx -->
<html xmlns="http://www.w3.org/1999/xhtml"><head id="FormsHead"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>
	KARNATAKA PUBLIC SERVICE COMMISSION
</title><meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link id="ContrastStyleSheet" href="/stylesheets/Layout.css" rel="stylesheet" type="text/css">
<link id="CultureSheet" href="/stylesheets/LayoutEN.css" rel="stylesheet" type="text/css">
<link id="Link1" href="/stylesheets/LayoutEN.css" rel="stylesheet" type="text/css">
<link id="ContrastStyleSheet" href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/sb-admin-2.css" rel="stylesheet" type="text/css"><link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"><link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css"><link href="/stylesheets/PopStyles.css" rel="stylesheet" type="text/css"><link href="/stylesheets/fileuploader.css" rel="stylesheet" type="text/css"><link href="/stylesheets/vscroller.css" rel="stylesheet" type="text/css"><link href="/stylesheets/GridviewScroll.css" rel="stylesheet" type="text/css"><link id="SiteLayoutSheet" href="/stylesheets/Layout1.css" rel="stylesheet" type="text/css"><link id="Link2" href="/stylesheets/Site1.css" rel="stylesheet" type="text/css">    <style type="text/css">
        /* The Modal (background) */
        .mySessionModal-modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .mySessionModal-modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 400px;
        }

        /* The Close Button */
        .mySessionModalclose {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .mySessionModalclose:hover, .mySessionModalclose:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
    <script src="/javascript/CountDownSession.js" type="text/javascript"></script>
    <script src="/javascript/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/javascript/CommonValidations.js" type="text/javascript"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/stylesheets/ie10-viewport-bug-workaround.css" type="text/css" rel="stylesheet">
    <script src="/javascript/ie-emulation-modes-warning.js" type="text/javascript"></script>
    <link href="/stylesheets/ForIEOnly.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
         <script src="../../ForIEOnly/html5shiv.min.js" type="text/javascript"></script>
      <script src="../../ForIEOnly/respond.min.js" type="text/javascript"></script>
    <![endif]-->

    <script type="text/javascript">
        function burstCache() {
            if (!navigator.onLine) {
                document.body.innerHTML = 'Loading...';
            }
        }
        window.history.forward();
        function noBack() { window.history.forward(); }
    </script>

    

    <style type="text/css">
        .Background {
            background-color: Black;
            filter: alpha(opacity=90);
            opacity: 0.8;
        }



        .confirmdialog {
            background: url(img/box.png) no-repeat left top;
            margin: 0px auto;
            border: solid 2px #ccc;
            padding-top: 0px;
            position: relative;
            width: 400px;
            height: 250px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            -khtml-border-radius: 10px;
            border-radius: 10px;
        }

            .confirmdialog .inner {
                padding: 10px;
                background: #fff no-repeat left bottom;
                float: left;
                margin: 0px 0px -20px 0px;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                -khtml-border-radius: 10px;
                border-radius: 10px;
            }

            .confirmdialog .base {
                border-top: #ddd 1px solid;
                background: #fff repeat left bottom;
                width: 100%;
                height: 100%;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                -khtml-border-radius: 10px;
                border-radius: 10px;
            }

        .base h2 {
            color: #4574B4;
            margin: 10px 0 8px;
            font-size: 1.4em;
        }

        .base .left {
            width: 570px;
            padding: 10px 0 10px 10px;
            height: 540px;
            margin-bottom: 10px;
            vertical-align: top;
            overflow: scroll;
            float: left;
        }

        .base .right {
            width: 300px;
            vertical-align: top;
            float: right;
            padding: 10px;
        }
    </style>
    <script type="text/javascript" language="javascript">
        function NavigatePublicFileNewee(FileId) {

            if (FileId != "") {
                var url = "../../PublicApp/STD/GetFileDoc.ashx?ID=" + FileId;
                window.open(url);
            }
            else {
                alert('Please Upload Certificate.');
            }
        }
        function RedirectPerDetail(LangID) {
            if (LangID == 1) {
                alert('Please Submit Personal Details.');
            }
            else {
                alert('कृपया व्यक्तिगत विवरण दर्ज करें');
            }
            location.href = "../../Profile/PersonalForm.aspx";
        }

    </script>
</head>
<body onload="burstCache();  " onpageshow="if (event.persisted) noBack();">

    <form method="post" action="https://www.kpscrecruitment.in/Profile/DocumentsForm.aspx" onsubmit="javascript:return WebForm_OnSubmit();" id="FormsForm" enctype="multipart/form-data">
<div class="aspNetHidden">
<input type="hidden" name="ToolkitScriptManager1_HiddenField" id="ToolkitScriptManager1_HiddenField" value=";;AjaxControlToolkit, Version=4.1.50731.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e:en-IN:f8fb2a65-e23a-483b-b20e-6db6ef539a22:475a4ef5:5546a2b:d2e10b12:effe2a26:37e2e5c9:1d3ed089:497ef277:a43b07eb:751cdd15:dfad98a5:3cf12cf1">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="">
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="wFIx7+D/Ezg3ECUQb36C5rPAeUq4OJd6QrBt658nL9haYf2IaSDInZNPWga08IKzPy8WjnB7a1qdyiRSyyalb3cTRIvpS9L/dKyaTqNaaHxS9pzEIMyJVzJTzbCjWcNfkPaIcel9GL4JbmC8oh+UkCatZNJhO4I7grjz2LiIMXhdg/3z6bGZV86VfJ/VFC1kR2KQap3lR0wmy1c9Og1SDBNeW8FD1w1uvsbjyfLvXLMDHrlBF5nGE4nIw/7+RqdCX6KPuDNIsJnrh46rxjrjox7V1c1pnYyCifnx9tloudXB+eLfGrIEyyKuRv4kdqfq9olpOf4b6dmNL3oOcBvuIiGk8+jfByIcP9aIb6eIjgJN90FYR2XrJHqVZ5kbf393xknDIUF55P9z0tsZ+NpqMy0BFAALP0cq2wXQw3Gccq4sNdoRLZMERv3XrECiUzQNdMyCcAuUtUO0C7rj++l07jfCgLIKHOmkk2Yd4slXhPZl1UtQDXAORT1aY7lgXb48PyTMumzjXyxnq7qUIm1hx+GvJnV95EwPbbRJ16uEpZC9Qv9d/o4NLgtDXiZ10qinHsg+hXW5xGQMDcy43LlS8Qj9tG4Mu7FTmmWRwu2PLRuGgMTbVv0KMrCYRY4nAaEit3zQv60DkifW/89RME/UBO3OqK4bM3D+oroaSkmP85Rb/gZ52HvJu2KU/5C1Lu0o6jueheI4Ad3TnEcLc1mm/x2lO1zPxOxM7aQNt1AlvBLcNkfvAm3/ClhVaGzEGMJPOvQhYybBLZsX1xX7q+KgtAUdT4dfxDDnvR0S0zMduAZ48Pn1OEO367VW/AH8eHlbTIzO26OKqk2ROoSB/vmbJdkAalqZcOchK9cHKu9MLUBFY1NwTWQzdskL4seeihfYFFeJ6Lr9dpkCfFof6hG/EHZYboptN85CKW7NkQ3VQRYfk52T/Wh7klf66M9cgJI9LFlKZDFAy2+hvVBj1mInW7JDrkKWwPhUyD+AXPh8HS9lbjm80M2hkV8fXkcHDTivPB5b+BotoMtXTDynTsJ2wzKvAzqRHRNtFsK+ZjKeG2WTCWZ+u70Xv8nEE87ies9D2O2M4WzhGHZVziGq3MsrNUOKM8uz/bKWrNJztQCWxm3KQsf/SoPYtn2quJtwRlZmyu7t0JOX0OwImtzMkbp1JUp3YPkI6NJ85YU5DKrPCeXBWXknn4/HmDiSKL+RJZOAu+Gt7+2PTjCjH7as6Vc5934i/+O6dnWzyblNbkRut6aJMIBGV53AxrATZaDqMA780FupV4Wr3hhyiy80hnZepWIMnuLWxGpkirJo3d+s53qcdelEWj7/TGUHqLSAH0datVl0e5SMA3S7XSeSmFkzYq01I94DhZODuye3eYxVYwOY/l6DZDhXs97F0a+mAyEaFn7NEVLIbu7zrjdk3ED4T1stpOgbxm2SScqkNGWo3rKINsLtDM6tyY6pPu+iTcOz7Wpi3GkP+tGQFBlZBS581mwZKCmsugCDecxfASwRZCeFzNjlTZBDOHlY7UOdQa3CtLAA+MlW9V0edyERppDbu1QgO6lmkKVyY0RHDcOdd/E0KCdVqM+3aOQp+FBaktipubhZXNgCHeijUcLARd++nscVXipzjyHdz1adzff9xtXTIYrKiasxGBpg46adlW15/N/RySLOuX3dRjrVQiYruQNG032UsZUHluIAj5pl5vTyViI3Ikc2zEq9okQ3EDNQYaQnPtVUPcepuUu0R2/vNbWsHt3D9tOi4+I3EsV9Z9FFbMgswjgn0Ahy+VpVFkCnfr8Y10koqabh0JJ9GSef6CLFEmGaPjv2do2bsA74LAw2cYbzM/zgoEUqJ0v/HY0KXwM5jHPq23bUqyiB/1q1PpVnlh3eqrK1XDLlguECx4Uu1+qbIDbvhaNT69psQFUUkJRhHrU0IVuybS5LgX786i/o6+otDb87XlgEkZSWQEuasozfcxum6EiFxN4MlbHJVVzg12hjWdrWln9DSmHATeZACCe3O7KebJjJEnVG0DpMr3Piz1PaU/JT31zGL/TCJKxuMUPtAAv0pAIpWkqatrsgYOHxRwXBL0osSQ2Ix/LrXMghdpvhjUK1VfrhQFx/0X0uBJ08hS+IJ0R0nXKABidtw2YEC7MzwMWQn1nj6OjUFf9HWbNjfH+8aSgIwUTQL8hSGb9K6yJpCw9LREonjIUtI0BGwoXFsr0+TXC2TbSkhZ3WllwknTrTJOt3Yg8+pUB5YXfHQdd+jKjptjPgZQ00xzkZRtiJKfijmOF/azM2OJ9F83KZGt+A/gHa+1NtO7TCZ1iYMqcru5eS8SO0QRSJmyYCsdtBCi3BZUbs1updZx1wkeqk9oU/NI+fzkYtlQPAPo8iM+J0Hh4ajZ845FcW3zEUhxYhGs2/MzV+wnQeI+NCLXpOca7XCR215mCCOG38RMssUzmsVIR3NIp6JBW3XJl4YTn6M4c3TY9MQBYQWYpsfb6YoF2ZrwuhU/eO+g9hD6wyd4w0rk6OKPo6AztotAruVUdt/A6LfM/4yACz0tMO25qVsrVHuwnVwsCHFeUdcGre33r7BJEBL3pOOko6ASHYDvqCXHYbY28+hvxofDyTetFAvzZ1rF3rlw0EyDds7gHK9P8VuZAHC/Gob79HkN4UK6CvAczCgVCBbSio2kpZM0FLT0prHoRTH69xJwqJWnr2jGDCKxQSYpTRivBw07IZJkEMW/2G06/0NhOvggsKAqJ69cjrPKpinUuwpmFAKFgI4UMfTvelZ3NLwESdkmyaBWYPyig8MqZXNnN56frn60KeZnnpOGUTeV6CeUPQrKYT1S/qkAN1oykoLDIa5LWELJTnL4v421HHMvbYp4IaMqP0kjvBEwMs+2iqQHEybm3ICB+viuUq8W4ttr9a9vV4jb51D/cPFsZg7nO2hTMDS5TZZDGQ0tATjbSWB+0LvCNTeFK3UoTNGSfjlVPQSPbe5NRi4CptIfJcfDHA7Zvez0Vp+Qbw1FbzwuV1BA7syd2G9aePAuna04DSzTcldNBIFibLdX8OGBb3YrwJyOVdVjdyRB2RWhfgvXXzGAlrVO33QNbY9hEXZbeDUVoQ7eE/uDmWt9m11FQcAUlgM9xP5d4l6PnVu2My2+4oudWmc8diQUzG5YlxLHZCAKhJFMiaLVaMt+fORubTHRKnyJSV0zZVctkzcXcfFkUYJGxaDXKijPlLnEvH9GfzIhVLMzVS5T03CgLuB/HNTXMrgTwjLVIfHB/LjUnpBIeoeUCy88Ms5LthoVDkSkRHSF1g6m39ZYXcS1RBX8QNjOx8rzkRHRyb/gZEwreHY9hyxf2RR0RKmDZCeyc2HTRs2gApdZCZ3U8V9vOpJ1i5FFs6oPjkVoojbFOh6B/gngNyXe6T+w1Lg5q4vh7bf0VP0UzLvidgQyiQVJyrs7bF+PIs3UnyZAWooafCxm+NunyscbLhXnYUfnQRrfZq1FRabfly5cyRLTuhxU6V0VE7BlnxiUg0o52xG3JBtqvFYHHkjwQHDLNrZdAtHie2pQHvMzKlWQcRQkL7IOsrLSnVDzAyvNl7040Pto8nOf48FLC7x0dJk9cahSLetaObIOayV6G8iD0R8JsUC876/VBjMqcLmFNmEbIDgVLmWXtB9CDOWzEf7exbvrVbIolj4vO0ZyELB7JgN+EhXriGVjn+SRqfUQz27rE55RfwqQngHIFO01kW60m5+EVqnj40BvOg0H5SzMAE2a4smgKfobVeELK5IdB5yX+ctW0RilqU7TXXQ+P+AybHxQO/dS1TsjumFx+KVQ2XjWXvFXd5XKphfq2WVjyGw9zZ0JR0zRguCccI0/92iTL2EnWom/PZYFj+Ffd8U+v8GhixsAj9uP+0ibZeKcfL5pQykSws4Pxcny7RfUw4Ke6RK94EgF3WiY2faTb39TkER30t7SCzqMs83yjVjEf1rPvb6lRdkeb2+PZyPQDJEhRtmUgsQ9kp2QeJhMKdii/AqC/RDG8kEQRXEPyMwfzVsK12tyWCH14oGKkiJECwW+3xwn63kNe26xmfBMxSJqeOc6X8JB5+0HiYg4lffkrCEdspgTyckesdZv5QyjaS5u74VPxGrHKdf5ymYUEQlHFMZF/tzK2+TMSxyONENdbTf2mDuLSWWYMuUG5azvDc9OWtrWeEdUtuxW9t8mB6TAmCcz7Q4tUCJO6NHyKc112rbPIRIg4ecthd7XB29qWLNP3d/cnjyPKF4PruOFiClgtyDAd7PN2XXG6u2HTI+iykgZhxHfMcjhDla8NpsZCl/pb60hYRVKJ42laN3DPVjUTI+bevBAfciFh4bwAXY1PrR/mYAK0lTtj+lfXH4wurGu9WLcjG/QwgswLo/0fsZYpTUWIFOt2THT5mV0UxckwaIwPkYJf7mMvUC+RlqyVZs6gibq4lvsEZwfg9Un8NHmOYqcczRb0bytguM6N+zl2p1w8lBaPz23NK6UWN9YD4J4QmsgehbebySIOgM6UVnVdBX7ZFtc5DWAuau8APKkxnRTd/QL9SEN4QuPi8+a6YAHYMfDmm8A4E3u9EbC8Z4Exln4pUR9NuSoYBbNJOm6AFPlkR9+7CrumFIDawQuu65CEAwsxKzTeidnahlCoiTnTPqRoSdE6DNBk1/TIz77axFuAvzAZ5+GkDDpMlnTvCI5ZzQDM+kBV+/I6dL02SyXiHxX0pMA9Q5Vcd9QiZcN3e8yqrUeQn45UPiggVUdBGnRaF9D/BuGdxQVEFaxMB6dbVSKoau1g+YDWZm9biTaUMZiLusL3G8v+8LL2RUY816DjkFX2tv3mjeThgEbpmN38PtN7y0nx2xWVYkO4kM9kJk+gr9mfP1s9ESJlG9xfHJV2swhJxkbccytUfhQoKKclgoKAW+q4fU2VaYCXHTjyZnKNtYXUEsY7jbn2THzDB9z/3yRVA7JeDxmFxQF+1akrNHDWjV8Fk39fyjVl8bBjC5vv0ZumlNmMRfPf560KKF6Xhwl+idhC7nALAi0htszhN0ks+NLzz4HvgeUbjrr9jjLyLLOeCB2T2k7FoE3uqrUyx1D1iqx4pLkQNsfEqmrj3pHVmnlug82ILHs+mU+CFkpjBGdWjQHS4UOyRVh/itEFd9whJT3jVZEhGP9L25BOd+T8By4mv08yDKIlUYKps2sCA1csFQSssMEvSDVyV2wCyjKZYJvRMNIw6e4uVwMRv7QvmcBl3Fi5HUayhih4dxPj0y6o+7BepAliVI4qPW4b5A5o8PojkopyomrWlAyLkb98UwSEWEBfA3r6fkAAJAB1EM75veEVZPKQPdoWMBNalkzaIdFTwnJ6z4c3J/pmi3UAu6ZzD8StUKCShEsBP9sF55m9wOa1U6m0Vs8Dj/HYfm75bUX/HlHs30HF5GwdH7suy9gxlrCmcBXfr8RxiYVLwWH4Q5wsYNiuO9/vF6kLBsPzyYWzvT6ZzJ1UrMAhGWkwv6Q/X6j/d0SWgBHkQmRF+jslWjJFfO6kGyjwEWlijHJW4q8nAGSiVMN48+BpqIN6QCeLRbedujWyRLKESEIInE2OOAOAK7bUXjyx5tlP6w/vEZGwkHnWyyLir5VKdlPjSNjahehgGoZ7MftPyV72c0vcxqCFa5F8apNTRmuUhM/xThYKc2J1/+J1udtv1hCffPoEdHNvUhSci1lpjgc/DNfjhb1qPUAj6/yJ4Kgo2rYEuiKYMxP5QARzg+w5lOt+DG7IAoKyYqor/yWBa9Wju5Hv0/mIAcwuWpdfF9xHMGVO+fJIkYZNCePEEWzCdVOklSvm9HkuDg/eNlKXWUUx/OhEYhqOwlJzP7mQeoVa5h3glDdT1W0UaP8Bl9nwE+r5Exx5+/T2RTARZ4x8ZJNGfd5BpSN6LtEto">
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['FormsForm'];
if (!theForm) {
    theForm = document.FormsForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/javascript/WebResource.axd" type="text/javascript"></script>


<script src="/javascript/ScriptResource.axd" type="text/javascript"></script>
<script src="/javascript/ScriptResource(1).axd" type="text/javascript"></script>
<script src="/javascript/ScriptResource(2).axd" type="text/javascript"></script>
<script src="/javascript/DocumentsForm.aspx" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function WebForm_OnSubmit() {
if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
return true;
}
//]]>
</script>

<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="8ED04316">
	<input type="hidden" name="__VIEWSTATEENCRYPTED" id="__VIEWSTATEENCRYPTED" value="">
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="gzmR3AFmGzdhlIjXHbxgf98VqfMcmioTYJmwio6DkNaj/PXgk4jNChTKG2ar9/d03iGs26EMzoQiAWvIsfED2LyObuzOukcCSSFqvZbHwRPkZ2zF1l32VP2uaIbff3cN91JDgxWvT+Ndz21y7BWxPLOfINY8nwSzedbjTkqByKnOvGv8D9vSwlgSdP6U+z3W7xyl/xn72CD7mXFp4+O7M1SIJnu8tEplvgwkOa4T8gN0tZGgUeOKKkMzrNhKozJTApwZrRPsQBoKK9NsQGS91DbVayAdI0HmOHIPCnn49NUPMJCKirDwFJVwy8mMN4MR6BPU8yBcoWwQnkPKj34sj4dUbzlFkso+1yeycuWxs/jNyeImio8cku/kZ/48V7Zfymjzp4rDqPocs3dPhmYa6MOtZcjmaU/OhDNDSrHjpD0mUiMoBI0oCS9O+tKmGYxc5KothrvcodSynP7aQA7XSp6nZucDg9rq1RQV8zkWHdQiWSWa5/HGD9J9BsjmNdg6UIM9dAA/hTPs+lSHzaKxNGe1/dJ93vyC4Pxq3q5VbkmOnQtQOZUa1rHAdscFoQwdmYZwsBDIaq61Z8VPUb9eeXbOgwZfs0GG7SaelsPWrjf37GdNfDoU0RW9QncYWdswdNZol7lXC9HgxIVR5aCciQxCwyy8t1A2onkk/vo9SC4=">
</div>
        <div id="divnew" class="medium">
            <div id="main">
                <div id="header">
                    
<style type="text/css">
    #clockdiv
    {
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size:  0.75em;
    }

        #clockdiv > div
        {
            padding: 5px;
            border-radius: 3px;
            background: #2e62a4;
            display: inline-block;
        }

        #clockdiv div > span
        {
            padding: 5px;
            border-radius: 3px;
            background: #003481;
            display: inline-block;
        }

    .smalltext
    {
        padding-top: 5px;
        font-size: 10px;
    }
     blink, .blink {
         animation: blinker 1s linear infinite;
         }
         @keyframes blinker {  
         50% { opacity: 0; }
         }
</style>
<div class="topdiv">
    <div class="topbuton container">
    </div>
</div>
<div class="top_banner">
    <div class="container in_banner">
        <div class=" logo col-md-3 col-sm-3 col-xs-12">
            <img id="" class="img-responsive" src="http://www.tecsok.com/wp-content/uploads/2018/02/tecsok-2.png" style="border-width:0px;">
           
        </div>
        <div class="banner_text col-md-6 col-sm-6 col-xs-12">
            <h2 class="text-center">
                <span id=""><b><u>Technical Consultancy Service Organisation of Karnataka</u></b></span>
            </h2>
            <h4 class="text-center">
                <span id="">Online Application Portal </span>
            </h4>
        </div>
        <div class=" logo col-md-3 col-sm-3 col-xs-12">

      
            
        </div>
    </div>
</div>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="">            
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="">HELP</a></li>  
        <li><a href="/user/logout" id="">LOGOUT</a></li> 
        

         </ul>

    </div>
</div>
</nav>
                <div class="container-fluid" id="main-content">
                    <div id="dvLeftMenu">
                        <div>
                            <div class="navbar-default sidebar" role="navigation">
                                <div class="sidebar-nav navbar-collapse" aria-expanded="false" style="min-height: 570px; background-color: #bd135b;">
                                    <ul class="nav in" id="side-menu">
                                        <li>
                                            <a href="/<%=user.username%>/dashboard"><i class="fa fa-home fa-fw"></i><span id="liHome">Home</span> </a>
                                        </li>
                                        <li>
                                            <a href="/<%=user.username%>/profile"><i class="fa fa-user fa-fw"></i><span id="liProfileCreation">Profile Creation</span></a>
                                        </li>
                                        <li><a href="/<%=user.username%>/View"><i class="fa fa-angle-double-right fa-fw" style="background-color: white ; color: #bd135b;"></i><span id="liView" >View &amp; Print Profile</span></a></li>
                                        <li>
                                            <a href="/<%=user.username%>/dashboard""><i class="fa fa-file fa-fw"></i><span id="lionlineApp">Online Application</span></a>
                                        </li>
                                        <li>
                                            <a href="/<%=user.username%>/application"><i class="fa fa-street-view fa-fw"></i><span id="liMyApplication">My Application</span></a>
                                        </li>
                                        <li><a href="/<%=user.username%>/request"><i class="fa fa-user fa-fw"></i><span id="liMyRequest">My Request</span></a></li>
                                        <li>
                                            <a href="/<%=user.username%>/dashboard""><i class="fa fa-info-circle fa-fw"></i><span id="liHelp">Help</span></a>
                                        </li>
                                        
                                        
                                    </ul>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div id="page-wrapper">
                        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ToolkitScriptManager1', 'FormsForm', ['tctl00$FormsPH$UPPersnDet','FormsPH_UPPersnDet','tctl00$FormsPH$UpdatePanel1','FormsPH_UpdatePanel1','tctl00$UpdRandomToken','UpdRandomToken'], [], ['ctl00$FormsPH$btnSavePersonelDet','FormsPH_btnSavePersonelDet'], 90, 'ctl00');
//]]>
</script>

                        
    <script type="text/javascript" language="javascript">
        function EncryptAadharNo() {
            if (!Page_ClientValidate("SAVEPerDet")) {
                return false;
            }
        }
    </script>
    <table id="FormsPH_tblMain" width="100%">
	<tbody><tr>
		<td>
                

<script type="text/javascript">

    $(function () {
        // this will get the full URL at the address bar
        var url = window.location.href;
      
        // passes on every "a" tag 
        $("#cssmenu a").each(function () {
           
            // checks if its the same on the address bar
            if (url.indexOf($(this).attr('navigateurl')) > 0) {
                
                if ($(this).closest("li").hasClass("Complete")) {
                    $(this).closest("li").removeClass("Complete");
                    $(this).closest("li").addClass("CompleteActive");
                }

                if ($(this).closest("li").hasClass("InComplete")) {
                    $(this).closest("li").removeClass("InComplete");
                    $(this).closest("li").addClass("InCompleteActive");
                }
            }

        });


    });


    function SelectProfileTab(ProfileTabID) {

        var varUnsavedChanges = document.getElementById('FormsPH_uxProfileMenu_hdnUnsavedChanges').value;

        if (varUnsavedChanges == 'Unsaved') {
            if (confirm('It looks like you have been editing something. \nIf you leave before saving, your changes will be lost.')) {
                SetProfileTab(ProfileTabID);
            }
        }
        else {
            SetProfileTab(ProfileTabID);
        }
    }

    function SetProfileTab(TabID) {

        if (TabID == 'PersonalForm') {
            location.href = 'PersonalForm.aspx';
        }
        if (TabID == 'AddressForm') {
            location.href = 'AddressForm.aspx';
        }
        if (TabID == 'OtherInfoForm') {
            location.href = 'OtherInfoForm.aspx';
        }
        if (TabID == 'QualificationForm') {
            location.href = 'QualificationForm.aspx';
        }
        if (TabID == 'ExperienceForm') {
            location.href = 'ExperienceForm.aspx';
        }
        if (TabID == 'PhotoSignForm') {
            location.href = 'PhotoSignForm.aspx';
        }
        if (TabID == 'DocumentsForm') {
            location.href = 'DocumentsForm.aspx';
        }
    }
</script>
<table>
    <tbody><tr>
        <td>
            <span id="FormsPH_uxProfileMenu_lblMarks" style="color:Red;font-size:Medium;"> '' * '' marks are mandatory</span>
        </td>
        <td>
            <span id="FormsPH_uxProfileMenu_lblNote" style="color:Red;">If no response found on Save/Add Button, kindly Refresh page (press CTRL + F5) <br>
''Click on Save button to save the information before going to next Step''</span>
        </td>
        <td>
            <span id="FormsPH_uxProfileMenu_lblProfileStatus" style="color:Red;font-size:Medium;font-weight:bold;color:Red;">Profile Status : InComplete</span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <span id="FormsPH_uxProfileMenu_Label1" style="color:Red;font-weight:bold;">These 7 Steps Are Only OTR, Not Application Form. Kindly Go To The Online Application Menu For Apply&nbsp;Notification.</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">
            <div>
            </div>
            <div id="cssmenu">
                <ul>
                    <li id="FormsPH_uxProfileMenu_ProfileStep1" class="Complete"><a href="/<%=user.username%>/profile"  >
                        <span id="FormsPH_uxProfileMenu_stp1">&nbsp;&nbsp;Step1 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp1">&nbsp;&nbsp;Personal Details&nbsp&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep2" class="Complete"><a href="/<%=user.username%>/profile/address"  >
                        <span id="FormsPH_uxProfileMenu_stp2">&nbsp;&nbsp;Step2 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp2">&nbsp;&nbsp;Address Details&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep3" class="Complete"><a href="/<%=user.username%>/profile/details"  >
                        <span id="FormsPH_uxProfileMenu_stp3">&nbsp;&nbsp;Step3 &nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp3">&nbsp;&nbsp;Other Details&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep4" class="CompleteActive"><a href="/<%=user.username%>/profile/education"  >
                        <span id="FormsPH_uxProfileMenu_stp4">&nbsp;&nbsp;Step4 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp4">&nbsp;&nbsp;Educational Qualification&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep5" class="InComplete"><a href="/<%=user.username%>/profile/work"  >
                        <span id="FormsPH_uxProfileMenu_stp5">&nbsp;&nbsp;Step5 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp5">&nbsp;&nbsp;Work Experience Details&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep6" class="Complete"><a href="/<%=user.username%>/profile/photo" >
                        <span id="FormsPH_uxProfileMenu_stp6">&nbsp;&nbsp;Step6 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp6">&nbsp;&nbsp;Upload Photo / Signature&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep7" class="Complete"><a href="/<%=user.username%>/profile/documents" >
                        <span id="FormsPH_uxProfileMenu_stp7">&nbsp;&nbsp;Step7 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp7">&nbsp;&nbsp;Upload Documents&nbsp;&nbsp;</span>
                    </a></li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <hr style="background-color: #0183b5;">
            <input type="hidden" name="ctl00$FormsPH$uxProfileMenu$hdnUnsavedChanges" id="FormsPH_uxProfileMenu_hdnUnsavedChanges">
        </td>
    </tr>
</tbody></table>

            </td>
	</tr>
	<tr>
		<td valign="top">
                <div>
                    <div>
                        <div id="FormsPH_UPImahe">
			
                                <fieldset class="RFS">
                                    <legend id="FormsPH_UploadPhotoSign" class="RFSL">Upload Documents</legend>
                                    <span class="red">All Documents are Mandatory to upload So upload all documents.(If you have multiple document please marge it into one PDF or Image.)<br>
                                        ಎಲ್ಲಾ ಡಾಕ್ಯುಮೆಂಟ್‌ಗಳು ಅಪ್‌ಲೋಡ್ ಮಾಡಲು ಕಡ್ಡಾಯವಾಗಿದೆ ಆದ್ದರಿಂದ ಎಲ್ಲಾ ಡಾಕ್ಯುಮೆಂಟ್‌ಗಳನ್ನು ಅಪ್‌ಲೋಡ್ ಮಾಡಿ. (ನಿಮ್ಮಲ್ಲಿ ಬಹು ಡಾಕ್ಯುಮೆಂಟ್ ಇದ್ದರೆ ದಯವಿಟ್ಟು ಅದನ್ನು ಒಂದು ಪಿಡಿಎಫ್ ಅಥವಾ ಇಮೇಜ್‌ಗೆ ಮಾರ್ಜ್ ಮಾಡಿ.)
                                    </span>
                                    <table width="100%" class="t_default">
                                        <tbody><tr>
                                            <td valign="top" width="100%">
                                                <div>
				<table class="tableClassInner" cellspacing="0" rules="all" border="1" id="FormsPH_gvProof" style="width:100%;border-collapse:collapse;">
					<tbody><tr>
						<th scope="col">Sr.No.</th><th scope="col">Details of Certificate</th><th scope="col">Certificate Number</th><th scope="col">Upload</th><th scope="col">View</th>
					</tr><tr>
						<td style="width:40px;">
                                                                <span id="FormsPH_gvProof_lblNo_0" title="Sr.No/Select" style="font-size: 12px;">1</span>
                                                                
                                                            </td><td>
                                                                <span id="FormsPH_gvProof_lblProofName_0" style="font-size: 13px; padding-left: 5px;">PUC/12th/10+2</span>
                                                            </td><td style="width:200px;">
                                                                <center>
                                                                    <span id="FormsPH_gvProof_lblProofNumber_0">RD2038815097122</span>
                                                                </center>
                                                            </td><td style="width:150px;">
                                                                <span>
                                                                    <a id="FormsPH_gvProof_lnkEditDoc_0" class="my_pinkBtn" href="javascript:__doPostBack(&#39;ctl00$FormsPH$gvProof$ctl02$lnkEditDoc&#39;,&#39;&#39;)">Upload</a>
                                                                    
                                                                    
                                                                    
                                                                </span>
                                                            </td><td style="width:120px;">
                                                                <span>
                                                                    <a id="FormsPH_gvProof_lnkDoc_0" class="my_blueBtn" href="javascript:NavigatePublicFileNewee(&quot;FF8A65DC-F7F4-4785-9B72-637F7472E16C&quot;)">View File</a>
                                                                </span>
                                                            </td>
					</tr><tr>
						<td style="width:40px;">
                                                                <span id="FormsPH_gvProof_lblNo_1" title="Sr.No/Select" style="font-size: 12px;">2</span>
                                                                
                                                            </td><td>
                                                                <span id="FormsPH_gvProof_lblProofName_1" style="font-size: 13px; padding-left: 5px;">PAN Card</span>
                                                            </td><td style="width:200px;">
                                                                <center>
                                                                    <span id="FormsPH_gvProof_lblProofNumber_1"></span>
                                                                </center>
                                                            </td><td style="width:150px;">
                                                                <span>
                                                                    <a id="FormsPH_gvProof_lnkEditDoc_1" class="my_pinkBtn" href="javascript:__doPostBack(&#39;ctl00$FormsPH$gvProof$ctl03$lnkEditDoc&#39;,&#39;&#39;)">Upload</a>
                                                                    
                                                                    
                                                                    
                                                                </span>
                                                            </td><td style="width:120px;">
                                                                <span>
                                                                    
                                                                </span>
                                                            </td>
					</tr><tr>
						<td style="width:40px;">
                                                                <span id="FormsPH_gvProof_lblNo_2" title="Sr.No/Select" style="font-size: 12px;">3</span>
                                                                
                                                            </td><td>
                                                                <span id="FormsPH_gvProof_lblProofName_2" style="font-size: 13px; padding-left: 5px;">B.E. Certificate</span>
                                                            </td><td style="width:200px;">
                                                                <center>
                                                                    <span id="FormsPH_gvProof_lblProofNumber_2">RD2038815097122</span>
                                                                </center>
                                                            </td><td style="width:150px;">
                                                                <span>
                                                                    <a id="FormsPH_gvProof_lnkEditDoc_2" class="my_pinkBtn" href="javascript:__doPostBack(&#39;ctl00$FormsPH$gvProof$ctl04$lnkEditDoc&#39;,&#39;&#39;)">Upload</a>
                                                                    
                                                                    
                                                                    
                                                                </span>
                                                            </td><td style="width:120px;">
                                                                <span>
                                                                    <a id="FormsPH_gvProof_lnkDoc_2" class="my_blueBtn" href="javascript:NavigatePublicFileNewee(&quot;929C6E8A-0C4E-4C3F-8BCF-08A03F5998BD&quot;)">View File</a>
                                                                </span>
                                                            </td>
					</tr><tr>
						<td style="width:40px;">
                                                                <span id="FormsPH_gvProof_lblNo_3" title="Sr.No/Select" style="font-size: 12px;">4</span>
                                                                
                                                            </td><td>
                                                                <span id="FormsPH_gvProof_lblProofName_3" style="font-size: 13px; padding-left: 5px;">Caste Certificate</span>
                                                            </td><td style="width:200px;">
                                                                <center>
                                                                    <span id="FormsPH_gvProof_lblProofNumber_3">RD2038815097122</span>
                                                                </center>
                                                            </td><td style="width:150px;">
                                                                <span>
                                                                    <a id="FormsPH_gvProof_lnkEditDoc_3" class="my_pinkBtn" href="javascript:__doPostBack(&#39;ctl00$FormsPH$gvProof$ctl05$lnkEditDoc&#39;,&#39;&#39;)">Upload</a>
                                                                    
                                                                    
                                                                    
                                                                </span>
                                                            </td><td style="width:120px;">
                                                                <span>
                                                                    <a id="FormsPH_gvProof_lnkDoc_3" class="my_blueBtn" href="javascript:NavigatePublicFileNewee(&quot;94424403-B498-4FC2-B2DA-4079E5FBA7B5&quot;)">View File</a>
                                                                </span>
                                                            </td>
					</tr><tr>
						<td style="width:40px;">
                                                                <span id="FormsPH_gvProof_lblNo_4" title="Sr.No/Select" style="font-size: 12px;">5</span>
                                                                
                                                            </td><td>
                                                                <span id="FormsPH_gvProof_lblProofName_4" style="font-size: 13px; padding-left: 5px;">SSLC/10th Certificate</span>
                                                            </td><td style="width:200px;">
                                                                <center>
                                                                    <span id="FormsPH_gvProof_lblProofNumber_4">RD2038815097122</span>
                                                                </center>
                                                            </td><td style="width:150px;">
                                                                <span>
                                                                    <a id="FormsPH_gvProof_lnkEditDoc_4" class="my_pinkBtn" href="javascript:__doPostBack(&#39;ctl00$FormsPH$gvProof$ctl06$lnkEditDoc&#39;,&#39;&#39;)">Upload</a>
                                                                    
                                                                    
                                                                    
                                                                </span>
                                                            </td><td style="width:120px;">
                                                                <span>
                                                                    <a id="FormsPH_gvProof_lnkDoc_4" class="my_blueBtn" href="javascript:NavigatePublicFileNewee(&quot;4FF05C9D-20E6-4A2E-9AD9-D8443F111206&quot;)">View File</a>
                                                                </span>
                                                            </td>
					</tr>
				</tbody></table>
			</div>
                                            </td>
                                        </tr>
                                        
                                    </tbody></table>
                                    
                                    
                                    <input type="hidden" name="ctl00$FormsPH$HD_pnlDocuments" id="FormsPH_HD_pnlDocuments">
                                <div id="FormsPH_MPE_pnlDocuments_foregroundElement" style="display: none; position: fixed; z-index: 100001;"><div id="FormsPH_pnlDocuments" class="confirmdialog" style="display: none">
				
                                        <div class="base">
                                            <table style="width: 100%;" border="0">
                                                <tbody><tr style="height: 40px;">
                                                    <td colspan="3" style="background: #393872; color: #fff; font-size: 1.5em; text-align: left; padding-left: 10px;">
                                                        <span id="FormsPH_lblCancelApplication">Upload Certificate</span>
                                                    </td>
                                                    <td align="center" style="width: 30px; background: #393872;">
                                                        <input type="image" name="ctl00$FormsPH$lnkClose1" id="FormsPH_lnkClose1" title="close" src="./KARNATAKA PUBLIC SERVICE COMMISSION_files/dialog-close.png" alt="close" style="height:15px;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">&nbsp;
                                                    </td>
                                                </tr>
                                                <tr style="height: 40px;">
                                                    <td align="center" style="width: 15px;"></td>
                                                    <td>
                                                        <span id="FormsPH_lblDocNumber">Enter Certificate Number</span><span class="red">*
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <input name="ctl00$FormsPH$txtProofNumber" type="text" maxlength="20" id="FormsPH_txtProofNumber">
                                                        <br>
                                                        <span id="FormsPH_ReqProofNo" class="red_infoIndicator" style="color:Red;display:none;">Information is mandatory</span>
                                                    </td>
                                                    <td>&nbsp;
                                                    </td>
                                                </tr>
                                                <tr style="height: 40px;">
                                                    <td align="center"></td>
                                                    <td>
                                                        <span id="FormsPH_lblCertificate">Upload File</span>
                                                    </td>
                                                    <td>
                                                        <input type="file" name="ctl00$FormsPH$FileUploadDoC" id="FormsPH_FileUploadDoC" class="multi" maxlength="1" accept="jpg|jpeg|png|pdf" size="4" style="width:150px;">
                                                    </td>
                                                    <td>&nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center"></td>
                                                    <td colspan="2">
                                                        <div id="FormsPH_pnlAddValidator">

				</div>
                                                    </td>
                                                    <td>&nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">&nbsp;
                                                    </td>
                                                </tr>
                                                <tr style="height: 40px;">
                                                    <td align="center"></td>
                                                    <td align="center" colspan="2">
                                                        <input type="submit" name="ctl00$FormsPH$btnSaveCertificate" value="Save" id="FormsPH_btnSaveCertificate" class="button" style="height:35px;width:80px;">
                                                    </td>
                                                    <td>&nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center"></td>
                                                    <td colspan="2">
                                                        <span id="FormsPH_lblerror"></span></td>
                                                    <td>&nbsp;
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </div>
                                    
			</div></div><div id="FormsPH_MPE_pnlDocuments_backgroundElement" class="Background" style="display: none; position: fixed; left: 0px; top: 0px; z-index: 10000;"></div></fieldset>
                            
		</div>
                    </div>
                </div>

                <div id="FormsPH_UpdateProgress6" style="display:none;" role="status" aria-hidden="true">
			
                        <div class="popUpDiv">
                            <div class="popUpBG">
                            </div>
                            <div class="popUpImage">
                                <img src="./KARNATAKA PUBLIC SERVICE COMMISSION_files/pleaseWait.gif" alt="Please Wait!">
                            </div>
                        </div>
                    
		</div>
            </td>
	</tr>
</tbody></table>

    <div id="FormsPH_UpdatePanel1">
	
            <div style="display: none;">
                <input type="hidden" name="ctl00$FormsPH$hdnLangID" id="FormsPH_hdnLangID" value="1">
                <input type="hidden" name="ctl00$FormsPH$HdnUserName" id="FormsPH_HdnUserName">
            </div>
        
</div>

                    </div>
                </div>
                <div id="bottom">
                    


                    <div class="rounded_footer">
                        <div class="left_footer">
                        </div>
                        <div class="right_footer">
                        </div>
                    </div>
                    </div>
                    <div class="cleaner">
                    </div>
                    <div id="footer">
                    <div class="container-fluid">
                        <p>
                            <span id="ctl00_lblDisclaimer"></span><span id="ctl00_lblVersion"> </span></p>
                    </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="UpdRandomToken">
	
                <div style="display: none">
                    <input type="hidden" name="ctl00$HdnRandomToken" id="HdnRandomToken">
                </div>
            
</div>
        <script src="/javascript/common.js" type="text/javascript"></script>
    
<script type="text/javascript">
//<![CDATA[
var Page_Validators =  new Array(document.getElementById("FormsPH_ReqProofNo"));
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
var FormsPH_ReqProofNo = document.all ? document.all["FormsPH_ReqProofNo"] : document.getElementById("FormsPH_ReqProofNo");
FormsPH_ReqProofNo.controltovalidate = "FormsPH_txtProofNumber";
FormsPH_ReqProofNo.focusOnError = "t";
FormsPH_ReqProofNo.errormessage = "Information is mandatory";
FormsPH_ReqProofNo.display = "Dynamic";
FormsPH_ReqProofNo.validationGroup = "btnSaveCertificate";
FormsPH_ReqProofNo.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqProofNo.initialvalue = "";
//]]>
</script>

<script type="text/javascript" src="/javascript/MaskedEditFix.js"></script>
<script type="text/javascript">
//<![CDATA[
(function() {var fn = function() {$get("ToolkitScriptManager1_HiddenField").value = '';Sys.Application.remove_init(fn);};Sys.Application.add_init(fn);})();
var Page_ValidationActive = false;
if (typeof(ValidatorOnLoad) == "function") {
    ValidatorOnLoad();
}

function ValidatorOnSubmit() {
    if (Page_ValidationActive) {
        return ValidatorCommonOnSubmit();
    }
    else {
        return true;
    }
}
        
document.getElementById('FormsPH_ReqProofNo').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqProofNo'));
}
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.ModalPopupBehavior, {"BackgroundCssClass":"Background","CancelControlID":"FormsPH_lnkClose1","Drag":true,"DropShadow":true,"PopupControlID":"FormsPH_pnlDocuments","dynamicServicePath":"/Profile/DocumentsForm.aspx","id":"FormsPH_MPE_pnlDocuments"}, null, null, $get("FormsPH_HD_pnlDocuments"));
});
Sys.Application.add_init(function() {
    $create(Sys.UI._UpdateProgress, {"associatedUpdatePanelId":"FormsPH_UPImahe","displayAfter":500,"dynamicLayout":true}, null, null, $get("FormsPH_UpdateProgress6"));
});
//]]>
</script>
</form>

    <div id="mySessionModal" class="mySessionModal-modal">
        <!-- Modal content -->
        <div class="mySessionModal-modal-content">
            <span class="mySessionModalclose">×</span>
            <h3>Session Expiring! </h3>
            <p>
                Your Session will expire in&nbsp;<span id="mySessionModaSeconds"></span>&nbsp;seconds.<br>
            </p>
        </div>
    </div>

    <form id="pmt" method="post" action="https://www.kpscrecruitment.in/RPS/Forms/MakePayment.aspx">
        <input type="hidden" id="TRNID" name="NTRNID" value="">
        <input type="hidden" id="SRVID" name="NSRVID" value="">
        <input type="hidden" id="AMT" name="NAMT" value="">
        <input type="hidden" id="Email" name="NEmail" value="">
        <input type="hidden" id="Mobile" name="NMobile" value="">
        <input type="hidden" id="RetUrl" name="NRetUrl" value="">
        <input type="hidden" id="ServiceName" name="NServiceName" value="">
        <input type="hidden" id="ADVNo" name="NADVNo" value="">
        <input type="submit" id="SPMT" name="NPMT" value="MKPMT" style="visibility: hidden;">
        <input type="hidden" id="CreatedBy" name="NCreatedBy" value="">
        <input type="hidden" id="Name" name="NName" value="">
    </form>
    <script type="text/javascript">

        var span = document.getElementsByClassName("mySessionModalclose")[0].onclick = function () {
            document.getElementById('mySessionModal').style.display = "none";
        }

        var sessionTimeout = "20";
        var MINUTES = parseInt(sessionTimeout);
        var SECONDS = 60;
        var MILLISECONDS = 1000;
        var timeInMinutes = 10;
        var currentTime = Date.parse(new Date());
        var deadline = new Date(currentTime + MINUTES * SECONDS * MILLISECONDS);
        initializeClock('clockdiv', deadline);

    </script>


</body></html>