<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="FormsHead"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>    
	Educational Qualification
</title>
</head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link id="ContrastStyleSheet" href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link id="ContrastStyleSheet" href="/stylesheets/Layout.css" rel="stylesheet" type="text/css">
<link id="CultureSheet" href="/stylesheets/LayoutEN.css" rel="stylesheet" type="text/css">
<link id="Link1" href="/stylesheets/LayoutEN.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/PopStyles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/fileuploader.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/stylesheets/vscroller.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/GridviewScroll.css" rel="stylesheet" type="text/css">
    <link id="SiteLayoutSheet" href="/stylesheets/Layout1.css" rel="stylesheet" type="text/css">
    <link id="Link2" href="/stylesheets/Site1.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        /* The Modal (background) */
        .mySessionModal-modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .mySessionModal-modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 400px;
        }

        /* The Close Button */
        .mySessionModalclose {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .mySessionModalclose:hover, .mySessionModalclose:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
    



   
   
    <style type="text/css">
        .red {
            color: Red !important;
            font-weight: bold;
            padding-left: 5px;
        }
    </style>

<body onload="  " onpageshow="">
    <div class="topdiv">
        <div class="topbuton container">
        </div>
    </div>
    <div class="top_banner">
        <div class="container in_banner">
            <div class=" logo col-md-3 col-sm-3 col-xs-12">
                <img id="" class="img-responsive" src="http://www.tecsok.com/wp-content/uploads/2018/02/tecsok-2.png" style="border-width:0px;">
               
            </div>
            <div class="banner_text col-md-6 col-sm-6 col-xs-12">
                <h2 class="text-center">
                    <span id=""><b><u>Technical Consultancy Service Organisation of Karnataka</u></b></span>
                </h2>
                <h4 class="text-center">
                    <span id="">Online Application Portal </span>
                </h4>
            </div>
            <div class=" logo col-md-3 col-sm-3 col-xs-12">

          
                
            </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="">            
            <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="">HELP</a></li>  
            <li><a href="/user/logout" id="">LOGOUT</a></li> 
            

             </ul>

        </div>
    </div>
    </nav>
   


    <form method="post" action="" onsubmit="javascript:return WebForm_OnSubmit();" id="FormsForm" enctype="multipart/form-data">







        <div id="divnew" class="medium">
            <div id="main">
                
                <div class="container-fluid" id="main-content">
                    <div id="dvLeftMenu">
                        <div>
                            <div class="navbar-default sidebar" role="navigation">
                                <div class="sidebar-nav navbar-collapse" aria-expanded="false" style="min-height: 570px; background-color: #bd135b;">
                                    <ul class="nav in" id="side-menu">
                                        <li>
                                            <a href="/<%=user.username%>/dashboard"><i class="fa fa-home fa-fw"></i><span id="liHome">Home</span> </a>
                                        </li>
                                        <li>
                                            <a href="/<%=user.username%>/profile"><i class="fa fa-user fa-fw"></i><span id="liProfileCreation">Profile Creation</span></a>
                                        </li>
                                        <li><a href="/<%=user.username%>/View"><i class="fa fa-angle-double-right fa-fw" style="background-color: white ; color: #bd135b;"></i><span id="liView" >View &amp; Print Profile</span></a></li>
                                        <li>
                                            <a href="/<%=user.username%>/dashboard""><i class="fa fa-file fa-fw"></i><span id="lionlineApp">Online Application</span></a>
                                        </li>
                                        <li>
                                            <a href="/<%=user.username%>/application"><i class="fa fa-street-view fa-fw"></i><span id="liMyApplication">My Application</span></a>
                                        </li>
                                        <li><a href="/<%=user.username%>/request"><i class="fa fa-user fa-fw"></i><span id="liMyRequest">My Request</span></a></li>
                                        <li>
                                            <a href="/<%=user.username%>/dashboard""><i class="fa fa-info-circle fa-fw"></i><span id="liHelp">Help</span></a>
                                        </li>
                                        
                                        
                                    </ul>
                                </div>    
                            </div>
                        </div>
                    </div>
                    
                    <div id="page-wrapper">
      

                        
                                <div id="">
                                
                                        <table id="FormsPH_tblMain" width="100%">
                                    <tbody><tr>
                                        <td>
                                                    


                            <table>
                                <tbody>
                                <tr>
                                    <td colspan="3">
                                        <div>
                                        </div>
                                        <div id="cssmenu">
                                            <br><br>
                                            <ul>
                                                
                                                         
                                                
                                                <li id="FormsPH_uxProfileMenu_ProfileStep1" class="Complete"><a href="/<%=user.username%>/profile"  >
                                                    <span id="FormsPH_uxProfileMenu_stp1">&nbsp;&nbsp;Step1 :&nbsp;&nbsp;</span><br>
                                                    <span id="FormsPH_uxProfileMenu_Lstp1">&nbsp;&nbsp;Personal Details&nbsp&nbsp;&nbsp;</span>
                                                </a></li>
                                                <li id="FormsPH_uxProfileMenu_ProfileStep2" class="Complete"><a href="/<%=user.username%>/profile/address"  >
                                                    <span id="FormsPH_uxProfileMenu_stp2">&nbsp;&nbsp;Step2 :&nbsp;&nbsp;</span><br>
                                                    <span id="FormsPH_uxProfileMenu_Lstp2">&nbsp;&nbsp;Address Details&nbsp;&nbsp;</span>
                                                </a></li>
                                                <li id="FormsPH_uxProfileMenu_ProfileStep3" class="Complete"><a href="/<%=user.username%>/profile/details"  >
                                                    <span id="FormsPH_uxProfileMenu_stp3">&nbsp;&nbsp;Step3 &nbsp;&nbsp;</span><br>
                                                    <span id="FormsPH_uxProfileMenu_Lstp3">&nbsp;&nbsp;Other Details&nbsp;&nbsp;</span>
                                                </a></li>
                                                <li id="FormsPH_uxProfileMenu_ProfileStep4" class="CompleteActive"><a href="/<%=user.username%>/profile/education"  >
                                                    <span id="FormsPH_uxProfileMenu_stp4">&nbsp;&nbsp;Step4 :&nbsp;&nbsp;</span><br>
                                                    <span id="FormsPH_uxProfileMenu_Lstp4">&nbsp;&nbsp;Educational Qualification&nbsp;&nbsp;</span>
                                                </a></li>
                                                <li id="FormsPH_uxProfileMenu_ProfileStep5" class="InComplete"><a href="/<%=user.username%>/profile/work"  >
                                                    <span id="FormsPH_uxProfileMenu_stp5">&nbsp;&nbsp;Step5 :&nbsp;&nbsp;</span><br>
                                                    <span id="FormsPH_uxProfileMenu_Lstp5">&nbsp;&nbsp;Work Experience Details&nbsp;&nbsp;</span>
                                                </a></li>
                                                <li id="FormsPH_uxProfileMenu_ProfileStep6" class="Complete"><a href="/<%=user.username%>/profile/photo" >
                                                    <span id="FormsPH_uxProfileMenu_stp6">&nbsp;&nbsp;Step6 :&nbsp;&nbsp;</span><br>
                                                    <span id="FormsPH_uxProfileMenu_Lstp6">&nbsp;&nbsp;Upload Photo / Signature&nbsp;&nbsp;</span>
                                                </a></li>
                                                <li id="FormsPH_uxProfileMenu_ProfileStep7" class="Complete"><a href="/<%=user.username%>/profile/documents" >
                                                    <span id="FormsPH_uxProfileMenu_stp7">&nbsp;&nbsp;Step7 :&nbsp;&nbsp;</span><br>
                                                    <span id="FormsPH_uxProfileMenu_Lstp7">&nbsp;&nbsp;Upload Documents&nbsp;&nbsp;</span>
                                                </a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                               
                            </tbody></table>
                            <br>

                                                </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                                    <div>
                                                        <div>

                                                            <fieldset class="RFS">
                                                                <legend id="" class="RFSL">Educational Qualification</legend>
                                                                <table width="100%" class="t_default">
                                                                    <tbody><tr>
                                                                        <td colspan="3" style="text-align: center">
                                                                            <span id="" style="color: Red">Kindly Add your Qualification details from SSLC/10th onwards</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr id="">
                                            <td style="width: 290px;">
                                                                            <span id="">Qualification Type</span>
                                                                            <span id="" style="color:Red;">*</span>
                                                                            <br>
                                                                            <select name="" id="" onchange="" style="width:250px;">
                                                        <option value="">Select Qualification Type</option>
                                                        <option value="SSC">SSLC/10th</option>
                                                        <option value="HSC">PUC/12th/10+2</option>
                                                        <option value="D">Diploma</option>
                                                        <option value="G">Graduate</option>
                                                        <option value="PG Diploma">PG Diploma</option>
                                                        <option value="PG">Post Graduation</option>
                                                        <option value="M.Phill">M. Phill</option>
                                                        <option value="PHD">Ph.D</option>
                                                        <option value="NET/SLET/SET">NET/SLET/SET</option>
                                                        <option value="Cf">Certifications</option>
                                                        <option value="ITI">ITI/NAC/NTC</option>
                                                        <option value="B.M.Ed">B.Ed.</option>
                                                        <option value="IntegratedPG">Integrated PG</option>
                                                        <option value="M.Ed">M.Ed</option>
                                                        <option value="JOC/JOCDC/JLDC">JOC/JOCDC/JLDC</option>
                                                    </select>
                                                                            <input type="hidden" name="" id="" value="::::::">
                                                                            <br>
                                                                            <span id="" style="color:Red;display:none;">Qualification Type : Information is Mandatory</span>
                                                                        </td>
                                            <td id="" style="width:540px;">
                                                                            <span id="" >Name of Degree</span>
                                                                            <span id="" style="display:none;">Standard</span>
                                                                            <span id="" style="color:Red;">*</span>
                                                                            <br>
                                                                            <select name="" id="" onchange="return SetNameOfDegree();" style="width:500px;" >
                                                

                                            <option value="">Select Name Of Degree</option></select>
                                                                            
                                                                            <br>
                                                                            <span id="FormsPH_rfv_NameOfDegree" style="color:Red;display:none;">Name of Degree : Information is Mandatory</span>
                                                                        </td>
                                            <td id="" >
                                                                            <span id="">Subject</span>
                                                                            <span class="red">*</span>
                                                                            <br>
                                                                            <select name="" id="" style="width:250px;" >
                                                

                                            <option value="">Select Subject</option></select>
                                                                            
                                                                            <br>
                                                                            <span id="FormsPH_ReqQualSubject" style="color:Red;display:none;">Subject : Information is Mandatory</span>
                                                                        </td>
                                        </tr>
                                        

                                                                    <tr id="FormsPH_Trnameofschool" style="display:none;">
                                            <td>
                                                                            <span id="">Name Of School</span>
                                                                            <span class="red">*</span>
                                                                        </td>
                                            <td colspan="3">
                                                                            <input name="" type="text" maxlength="100" id=""  oncopy="return false;" onpaste="return false;" style="width:560px;border-style: solid; border-color: #EAEAEA;"><br>
                                                                            <span id="" style="color:Red;display:none;">Name Of School : Information is Mandatory</span>
                                                                        </td>
                                        </tr>
                                        
                                                                    <tr id=" ">
                                            <td id="" style="display:none;">
                                                                            <input name="" type="text" maxlength="100" id=""  oncopy="return false;" onpaste="return false;" style="width:280px;border-style: solid; border-color: #EAEAEA;">
                                                                            <span id="FormsPH_ReqOtherDegree" style="color:Red;display:none;">Name of Degree : Information is Mandatory</span>
                                                                        </td>
                                            <td id="" style="display:none;">
                                                                            <input name="" type="text" maxlength="100" id=""  oncopy="return false;" onpaste="return false;" style="width:280px;border-style: solid; border-color: #EAEAEA;">
                                                                            <span id="" style="color:Red;display:none;">Subject : Information is Mandatory</span>
                                                                        </td>
                                        </tr>
                                        

                                                                    <tr id="" style="display:none;">
                                            <td id="" style="display:none;">
                                                                            <span id="">Subject2 </span>
                                                                            <br>
                                                                            <select name="" id="" style="width:180px;" >
                                                

                                            <option value="">Select Subject</option></select>
                                                                           
                                                                        </td>
                                            <td>
                                                                            <span id="FormsPH_lblSubject2">Subject3</span>
                                                                            <br>
                                                                            <select name="" id="" style="width:180px;" >
                                                

                                            <option value="">Select Subject</option></select>
                                                                            
                                                                        </td>
                                            <td style="display: none">
                                                                            <span id="">Subject3</span>
                                                                            <br>
                                                                            <select name="" id="" style="width:180px;" ">
                                                

                                            <option value="">Select Subject</option></select>
                                                                            
                                                                        </td>
                                        </tr>
                                        

                                                                    <tr>
                                                                        <td id=" ">
                                                                            <span id="">State</span>
                                                                            <br>
                                                                            <select name="" id="" style="width:250px;" >
                                            

                                        <option value="">Select State</option></select>
                                                                            
                                                                        </td>
                                        

                                                                        <td id="" >
                                                                            <span id="">Board/University</span>
                                                                            <br>
                                                                            <select name="" id="" style="width:500px;" >
                                            

                                        <option value="">Select Board/University</option></select>
                                                                            
                                                                        </td>
                                        
                                                                        <td id="" >
                                                                            <span id="">Result Status</span><span class="red">*</span>
                                                                            <br>
                                                                            <select name="" id=""  style="width:250px;">
                                            <option selected="selected" value="">Select</option>
                                            <option value="P">Passed</option>
                                            <option value="A">Appearing</option>

                                        </select>
                                                                            <br>
                                                                            <span id="" style="color:Red;display:none;">Result Status : Information is Mandatory</span>
                                                                        </td>
                                        
                                                                    </tr>


                                                                    <tr id="" style="display: none;">
                                            <td>
                                                                            <span id="">Name Of Institute</span>
                                                                            
                                                                        </td>
                                            <td colspan="3">
                                                                            <input name="" type="text" maxlength="100" id=""  oncopy="return false;" onpaste="return false;" style="width:560px;">
                                                                            
                                                                        </td>
                                        </tr>
                                        

                                                                    <tr>
                                                                        <td id="" >
                                                                            <span id="">Course Duration</span>
                                                                            <span id="" style="color:Red;">*</span>
                                                                            <br>
                                                                            <select name="" id="" style="width:250px;">
                                            <option selected="selected" value="">Select</option>
                                            <option value="03M">3 Months</option>
                                            <option value="06M">6 Months</option>
                                            <option value="09M">9 Months</option>
                                            <option value="1Y">1 Year</option>
                                            <option value="2Y">2 Years</option>
                                            <option value="3Y">3 Years</option>
                                            <option value="4Y">4 Years</option>
                                            <option value="5Y">5 Years</option>
                                            <option value="6Y">6 Years</option>

                                        </select>
                                                                            <br>
                                                                            <span id="" style="color:Red;display:none;">Course Duration : Information is Mandatory</span>
                                                                        </td>
                                        
                                                                        <td id="" >
                                                                            <span id="">Date Of Declaration Of Result</span>
                                                                            <span id="">Likely Date of Completion</span>
                                                                            <span id="" style="color:Red;">*</span>
                                                                            <br>

                                                                            <input name="" type="text" id="" title="" onchange="CheckResultDate(this);" onkeypress="return isNumberKey(this, event)"  placeholder="Select Date" oncopy="return false;" onpaste="return false;" style="width:180px;">
                                                                            
                                                                            <br>
                                                                            <span id="" style="color: Blue;">Date format DD/MM/YYYY. </span>
                                                                            <br>
                                                                            <span id="" style="color:Red;display:none;">Date Of Declaration Of Result/Likely Date of Completion : Information is Mandatory</span>
                                                                        </td>
                                        
                                                                        <td id="" >
                                                                            <span id="FormsPH_Label4">Result Type </span><span class="red">*</span>
                                                                            <br>
                                                                            <select name="" id="FormsPH_ddlresulttype" onchange="javascript:ResultTypeChange()" style="width:250px;">
                                            <option selected="selected" value="">Select Result Type</option>
                                            <option value="M">Marks</option>
                                            <option value="C">CGPA</option>
                                            <option value="G">Grade</option>

                                        </select>
                                                                            <br>
                                                                            <span id="FormsPH_reqresulttype" style="color:Red;display:none;">Result Type  : Information is Mandatory</span>
                                                                        </td>
                                        
                                                                    </tr>

                                                                    <tr>
                                                                        <td id="FormsPH_trMarks" style="display:none;">
                                                                            <table style="border: none; width: 100%;">
                                                                                <tbody><tr>
                                                                                    <td style="border: none;">
                                                                                        <span id="FormsPH_lblMarks">Marks Obtained</span>
                                                                                        <span class="red">*</span>
                                                                                        <br>
                                                                                        <input name="ctl00$FormsPH$txtmarks" type="text" maxlength="5" id="FormsPH_txtmarks"  oncopy="return false;" onpaste="return false;" style="width:50px;">

                                                                                    </td>
                                                                                    <td style="border: none;">
                                                                                        <br>
                                                                                        <span style="font-size: 34px;">/</span></td>
                                                                                    <td style="border: none;">
                                                                                        <span id="FormsPH_lbloutOf">Out Of</span>
                                                                                        <span class="red">*</span>
                                                                                        <br>
                                                                                        <input name="ctl00$FormsPH$TxtOutOf" type="text" maxlength="5" id="FormsPH_TxtOutOf" onkeypress="return"     onpaste="return false;" style="width:50px;">

                                                                                    </td>
                                                                                </tr>
                                                                            </tbody></table>
                                                                            <span id="FormsPH_Rfvmarks" style="color:Red;display:none;">Marks Obtained : Information is Mandatory</span>
                                                                            <br>
                                                                            <span id="FormsPH_RFVmarksOutOf" style="color:Red;display:none;">Out Of : Information is Mandatory</span>

                                                                        </td>
                                        
                                                                        <td id="FormsPH_trCGPA" style="display:none;">
                                                                            <span id="FormsPH_lblCGPA">CGPA</span>
                                                                            <span class="red">*</span>
                                                                            <br>
                                                                            <input name="ctl00$FormsPH$txtCGPA" type="text" maxlength="5" id="FormsPH_txtCGPA" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" style="width:180px;">
                                                                            <br>
                                                                            <span id="FormsPH_rqvtxtCGPA" style="color:Red;display:none;">Information is Mandatory</span>
                                                                        </td>
                                        
                                                                        <td id="FormsPH_tdlbgrade" style="display:none;">
                                                                            <span id="FormsPH_Label10">Grade</span><span class="red">*</span>
                                                                            <br>
                                                                            <select name="ctl00$FormsPH$ddlgrade" id="FormsPH_ddlgrade" style="width:180px;">
                                            <option selected="selected" value="">Select</option>
                                            <option value="1">O</option>
                                            <option value="2">A-1</option>
                                            <option value="3">A+</option>
                                            <option value="4">A-2</option>
                                            <option value="5">A</option>
                                            <option value="6">B-1</option>
                                            <option value="7">B+</option>
                                            <option value="8">B-2</option>
                                            <option value="9">B</option>
                                            <option value="10">C-1</option>
                                            <option value="11">C</option>
                                            <option value="12">C-2</option>
                                            <option value="13">D</option>
                                            <option value="14">P</option>

                                        </select>
                                                                            <br>
                                                                            <span id="FormsPH_rqvddlgrade" style="color:Red;display:none;">Grade : Information is Mandatory</span>
                                                                        </td>
                                        
                                                                        <td id="FormsPH_tdPercentage" style="display:none;">
                                                                            <span id="FormsPH_lblPercentage" style="display:none;">Percentage</span>
                                                                            <span id="FormsPH_lblNormalizPercentage" style="display:none;">Normalization in Percentage</span>
                                                                            <span id="FormsPH_lblPercentageStar" style="color:Red;">*</span>
                                                                            <br>
                                                                            <input name="ctl00$FormsPH$txtPercentage" type="text" maxlength="5" id="FormsPH_txtPercentage" onblur="ontxtPercentageChange()" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" style="width:180px;">
                                                                            <br>
                                                                            <span id="FormsPH_rfv_Percentage" style="color:Red;display:none;">Percentage/Normalization in Percentage : Information is Mandatory</span>
                                                                        </td>
                                        
                                                                        <td id="FormsPH_trOtherClass" style="display:none;">
                                                                            <span id="FormsPH_lblClass">Division</span>
                                                                            <br>
                                                                            <select name="ctl00$FormsPH$ddlClass" id="FormsPH_ddlClass" style="width:180px;">
                                            <option selected="selected" value="">Select</option>
                                            <option value="F">First</option>
                                            <option value="S">Second</option>
                                            <option value="T">Third</option>

                                        </select>
                                                                        </td>
                                        


                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span id="FormsPH_lblCertificateNo">Register/Roll Number</span>
                                                                            <span id="FormsPH_lblQualCertificateStar" style="color:Red;">*</span>
                                                                            <br>
                                                                            <input name="ctl00$FormsPH$txtCertificateNo" type="text" maxlength="20" id="FormsPH_txtCertificateNo" title="Certificate No"  placeholder="Register/Roll Number" oncopy="return false;" onpaste="return false;"  style="width:180px;">
                                                                            <br>
                                                                            <span id="FormsPH_ReqCertificateNo" style="color:Red;display:none;">Register/Roll Number : Information is Mandatory</span>

                                                                        </td>
                                                                    </tr>
                                                                    <tr style="display: none">
                                                                        <td style="display: none">
                                                                            <span id="FormsPH_lblMode">Mode</span>
                                                                        </td>
                                                                        <td style="display: none">
                                                                            <select name="ctl00$FormsPH$ddlMode" id="FormsPH_ddlMode" style="width:180px;">
                                            <option selected="selected" value="">Select</option>
                                            <option value="T">Traditional / Regular</option>
                                            <option value="D">Distance / Correspondence</option>

                                        </select>
                                                                        </td>
                                                                        <td style="display: none">
                                                                            <span id="FormsPH_lblAttempts" >Attempts</span>
                                                                            <span id="FormsPH_lblAttemptsStar" style="color:Red;">*</span>
                                                                            <span id="FormsPH_lblGrade" style="display:none;">Grade</span>
                                                                        </td>
                                                                        <td id="FormsPH_tdtxtAttempts" style="display: none">
                                                                            <input name="ctl00$FormsPH$txtAttempts" type="text" maxlength="2" id="FormsPH_txtAttempts" onkeypress="return isNumberKey(this, event)" onchange="return ontxtAttemptCoureseDurationChange(this,1)" oncopy="return false;" onpaste="return false;" style="width:50px;">
                                                                            <span id="FormsPH_rfv_Attemps0" style="color:Red;display:none;">Attempts : Information is Mandatory</span>
                                                                            <input name="ctl00$FormsPH$txtGrade" type="text" maxlength="3" id="FormsPH_txtGrade" onkeypress="return " oncopy="return false;" onpaste="return false;" style="width:50px;display:none;">
                                                                        </td>
                                        
                                                                    </tr>


                                                                    <tr id="FormsPH_trOtherComOp" >
                                            <td style="display: none">
                                                                            <span id="FormsPH_lblCompulsorySubjects">Compulsory Subjects</span>
                                                                        </td>
                                            <td style="display: none">
                                                                            <input name="ctl00$FormsPH$txtCompulsorySubjects" type="text" maxlength="100" id="FormsPH_txtCompulsorySubjects" onkeypress="return isCharKey(this, event)" oncopy="return false;" onpaste="return false;" style="width:180px;">
                                                                        </td>
                                            <td style="display: none">
                                                                            <span id="FormsPH_lblOptionalSubjects">Optional Subjects</span>
                                                                        </td>
                                            <td style="display: none">
                                                                            <input name="ctl00$FormsPH$txtOptionalSubjects" type="text" maxlength="100" id="FormsPH_txtOptionalSubjects" onkeypress="return isCharKey(this, event)" oncopy="return false;" onpaste="return false;" style="width:180px;">
                                                                        </td>
                                        </tr>
                                        
                                                                    <tr id="FormsPH_trPHDReg" style="display:none;">
                                            <td>
                                                                            <span id="FormsPH_RegistrationNo">Registration No.</span>
                                                                            <br>
                                                                            <input name="ctl00$FormsPH$txtRegistrationNo" type="text" maxlength="20" id="FormsPH_txtRegistrationNo" title="Registration Number"  oncopy="return false;" onpaste="return false;"  placeholder="Registration Number" style="width:180px;"><br>
                                                                            <span id="FormsPH_Label1" style="color: Red">Allowed Characters : abcdefghijklmnopqrstuvwxyz0123456789</span>
                                                                        </td>
                                            <td>
                                                                            <span id="FormsPH_ProjectTitle">Project Title</span>
                                                                            <br>

                                                                            <input name="ctl00$FormsPH$txtProjectTitle" type="text" maxlength="80" id="FormsPH_txtProjectTitle" title="Project Title"  oncopy="return false;" onpaste="return false;"  placeholder="Project Title" style="width:500px;">
                                                                            <br>
                                                                            <span id="FormsPH_Label2" style="color: Red">Allowed Characters : abcdefghijklmnopqrstuvwxyz0123456789 ( ) - .</span>
                                                                        </td>
                                            <td>
                                                                            <span id="FormsPH_RegistrationDate">Registration Date</span>
                                                                            <br>
                                                                            <input type="hidden" name="ctl00$FormsPH$MaskedEditExtender1_ClientState" id="FormsPH_MaskedEditExtender1_ClientState">
                                                                            <input name="ctl00$FormsPH$txtRegistrationDate" type="text" id="FormsPH_txtRegistrationDate" title="Registration Date"  placeholder="Registration Date" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" onchange="return FutureDateValiDation(this);">
                                                                            
                                                                            <br>
                                                                            <span id="Span1" style="color: Blue;">Date format DD/MM/YYYY.</span>
                                                                        </td>
                                        </tr>
                                        

                                                                    <tr id="FormsPH_trPhdGuide1" style="display:none;">
                                            <td>
                                                                            <span id="FormsPH_lblDateOfRecognition">Date of Recognition</span>
                                                                            <span id="FormsPH_lblDateOfRecognitionStar" style="color:Red;">*</span>
                                                                            <br>
                                                                            <input type="hidden" name="ctl00$FormsPH$MaskedEditExtender3_ClientState" id="FormsPH_MaskedEditExtender3_ClientState">
                                                                            <input name="ctl00$FormsPH$txtDateOfRecognition" type="text" id="FormsPH_txtDateOfRecognition"  onkeydown="return DateFormatMPSC(event.keyCode,this)" oncopy="return false;" onpaste="return false;" style="width:200px;">
                                                                            
                                                                            <br>
                                                                            <span id="Span2" style="color: Blue;">Date format DD/MM/YYYY. </span>
                                                                            <br>
                                                                            <span id="FormsPH_ReqDateOfRecognition" style="color:Red;display:none;">Date of Recognition : Information is Mandatory</span>
                                                                        </td>
                                            <td>
                                                                            <span id="FormsPH_lblYrNoOfRegis4Research">Number of Students Registered for Research</span>
                                                                            <span id="FormsPH_lblYrNoOfRegis4ResearchStar" style="color:Red;">*</span>
                                                                            <br>
                                                                            <input name="ctl00$FormsPH$txtYrNoOfRegis4Research" type="text" maxlength="100" id="FormsPH_txtYrNoOfRegis4Research" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" style="width:200px;">
                                                                            <br>
                                                                            <span id="FormsPH_ReqYrNoOfRegis4Research" style="color:Red;display:none;">Number of Students Registered for Research : Information is Mandatory</span>
                                                                        </td>
                                        </tr>
                                        
                                                                    <tr id="FormsPH_trPhdGuide2" style="display:none;">
                                            <td>
                                                                            <span id="FormsPH_lblNoOfSuccessfullyCompltResearch">Number of Students successfully completed their Research</span>
                                                                            <span id="FormsPH_lblNoOfSuccessfullyCompltResearchStar" style="color:Red;">*</span>
                                                                        </td>
                                            <td>
                                                                            <input name="ctl00$FormsPH$txtNoOfSuccessfullyCompltResearch" type="text" maxlength="100" id="FormsPH_txtNoOfSuccessfullyCompltResearch"  oncopy="return false;" onpaste="return false;" style="width:200px;">
                                                                            <span id="FormsPH_ReqNoOfSuccessfullyCompltResearch" style="color:Red;display:none;">Number of Students successfully completed their Research : Information is Mandatory</span>
                                                                        </td>
                                            <td id="FormsPH_tdlblNoOfAwardedPHD">
                                                                            <span id="FormsPH_lblNoOfAwardedPHD">No. of Students awarded with Ph. D. Degree</span>
                                                                            <span id="FormsPH_lblNoOfAwardedPHDStar" style="color:Red;">*</span>
                                                                        </td>
                                            <td id="FormsPH_tdlblNoOfAwardedPG">
                                                                            <span id="FormsPH_lblNoOfAwardedPG">No. of Students awarded with PG  Degree</span>
                                                                            <span id="FormsPH_lblNoOfAwardedPGStar" style="color:Red;">*</span>
                                                                        </td>
                                            <td id="FormsPH_tdtxtNoOfAwardedPHD">
                                                                            <input name="ctl00$FormsPH$txtNoOfAwardedPHD" type="text" maxlength="100" id="FormsPH_txtNoOfAwardedPHD" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" style="width:200px;">
                                                                            <span id="FormsPH_ReqNoOfAwardedPHD" style="color:Red;display:none;">No. of Students awarded with PG  Degree : Information is Mandatory</span>
                                                                        </td>
                                        </tr>
                                        
                                                                    <tr id="FormsPH_trpubtypenew" display="none" style="display:none;">
                                            <td>
                                                                            <span id="FormsPH_lblpubshertype">Publisher Type </span>
                                                                        </td>
                                            <td>
                                                                            <select name="ctl00$FormsPH$ddlpublishertype" id="FormsPH_ddlpublishertype">
                                                <option selected="selected" value="">Select</option>
                                                <option value="Book">Book</option>
                                                <option value="Periodical">Periodical</option>

                                            </select>
                                                                            <span id="FormsPH_rfvddlpublishertype" style="color:Red;display:none;">Information is Mandatory</span>
                                                                        </td>
                                            <td>
                                                                            <span id="FormsPH_lblbookperiodic">Book /Periodical Name</span>
                                                                        </td>
                                            <td>
                                                                            <input name="ctl00$FormsPH$txtBookPeriodical" type="text" maxlength="80" id="FormsPH_txtBookPeriodical"  oncopy="return false;" onpaste="return false;" style="width:70%;">
                                                                            <span id="FormsPH_rfvtxtBookPeriodical" style="color:Red;display:none;">Information is Mandatory</span>
                                                                        </td>
                                        </tr>
                                        
                                                                    <tr id="FormsPH_trPubtype" style="display:none;">
                                            <td>
                                                                            <span id="FormsPH_PublicationType">Publication Type</span>
                                                                        </td>
                                            <td>
                                                                            <select name="ctl00$FormsPH$ddlPublicationType" id="FormsPH_ddlPublicationType">
                                                <option selected="selected" value="">Select</option>
                                                <option value="I">International</option>
                                                <option value="N">National</option>
                                                <option value="S">State</option>
                                                <option value="IM">Index Medicus</option>

                                            </select>
                                                                        </td>
                                            <td>
                                                                            <span id="FormsPH_NameOfAuthor">Name Of Author</span>
                                                                        </td>
                                            <td>
                                                                            <textarea name="ctl00$FormsPH$txtNameOfAuthor" rows="2" cols="20" id="FormsPH_txtNameOfAuthor" onkeypress="return" onpaste="return false;" style="width:200px;"></textarea>
                                                                        </td>
                                        </tr>
                                        
                                                                    <tr id="FormsPH_trFirstAuthor" style="display:none;">
                                            <td id="FormsPH_tdIsFirstAuthor" style="display: none">
                                                                            <span id="FormsPH_IsFirstAuthor">Whether First Author?</span>
                                                                        </td>
                                            <td id="FormsPH_tdddlIsFirstAuthor" style="display: none">
                                                                            <select name="ctl00$FormsPH$ddlIsFirstAuthor" id="FormsPH_ddlIsFirstAuthor">
                                                <option selected="selected" value="">Select</option>
                                                <option value="N">No</option>
                                                <option value="Y">Yes</option>

                                            </select>
                                                                        </td>
                                            <td>
                                                                            <span id="FormsPH_LblPubAuthorType">Author Type</span>
                                                                        </td>
                                            <td>
                                                                            <select name="ctl00$FormsPH$DdlAuthorType" id="FormsPH_DdlAuthorType">
                                                <option selected="selected" value="">Select</option>
                                                <option value="1">First Author</option>
                                                <option value="2">Second Author</option>
                                                <option value="3">Other Author</option>

                                            </select>
                                                                        </td>
                                        </tr>
                                        
                                                                    <tr id="FormsPH_TrPubNameOfJr" style="display:none;">
                                            <td>
                                                                            <span id="FormsPH_NameOfJr">Name Of Journal with Volumn No. and page Numbers</span>
                                                                        </td>
                                            <td colspan="3">
                                                                            <textarea name="ctl00$FormsPH$txtNameOfJr" rows="3" cols="20" id="FormsPH_txtNameOfJr" onkeypress="return"  oncopy="return false;" onpaste="return false;" style="width:600px;"></textarea>
                                                                        </td>
                                        </tr>
                                        
                                                                    <tr id="FormsPH_trYearOfPub" style="display:none;">
                                            <td>
                                                                            <span id="FormsPH_YearOfPublication">Year of Publication</span>
                                                                        </td>
                                            <td>
                                                                            <input name="ctl00$FormsPH$txtYearOfPublication" type="text" maxlength="4" id="FormsPH_txtYearOfPublication" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;">
                                                                        </td>
                                            <td id="FormsPH_tdlblPublishedIn">
                                                                            <span id="FormsPH_lblPublishedIn">Published In</span>
                                                                        </td>
                                            <td id="FormsPH_tdddlPublishedIn">
                                                                            <select name="ctl00$FormsPH$ddlPublishedIn" id="FormsPH_ddlPublishedIn">
                                                <option selected="selected" value="">Select</option>
                                                <option value="RIJ">Referred OR Indexed Journal</option>
                                                <option value="RJISSNBN">Reputed Journal with ISSN or ISBN</option>
                                                <option value="PP">Proceeding Paper</option>

                                            </select>
                                                                            <span id="FormsPH_rfvddlPublishedIn" style="color:Red;display:none;">Information is Mandatory</span>

                                                                        </td>
                                        </tr>
                                        
                                                                    <tr id="FormsPH_trPublishedIn" style="display:none;">
                                            <td id="FormsPH_tdlblImpactIndex">
                                                                            <span id="FormsPH_IsImapctIndexLess">Whether Impact index is not less than 2.0?</span>
                                                                            
                                                                        </td>
                                            <td id="FormsPH_tdtxtImpactIndex">
                                                                            <select name="ctl00$FormsPH$ddlIsImapctIndexLess" id="FormsPH_ddlIsImapctIndexLess">
                                                <option selected="selected" value="">Select</option>
                                                <option value="N">No</option>
                                                <option value="Y">Yes</option>

                                            </select>
                                                                            
                                                                        </td>
                                            <td id="FormsPH_tdlblISSNBN">
                                                                            <span id="FormsPH_lblISSN">ISSN/ISBN</span>
                                                                        </td>
                                            <td id="FormsPH_tdtxtISSNBN">
                                                                            <input name="ctl00$FormsPH$txtISSNBN" type="text" id="FormsPH_txtISSNBN"  oncopy="return false;" onpaste="return false;">
                                                                        </td>
                                        </tr>
                                        
                                                                    <tr id="FormsPH_trTitlePaper" style="display:none;">
                                            <td colspan="3">
                                                                            <span id="FormsPH_TitleOfPaper">Title of Paper</span>
                                                                            <br>

                                                                            <input name="ctl00$FormsPH$txtTitleOfPaper" type="text" maxlength="100" id="FormsPH_txtTitleOfPaper"  oncopy="return false;" onpaste="return false;" style="width:600px;">
                                                                            <br>
                                                                            <span id="FormsPH_Label3" style="color: Red">Allowed Characters : abcdefghijklmnopqrstuvwxyz0123456789 ( ) - .</span>
                                                                            <br>
                                                                            <span id="FormsPH_lblInst" style="color:Red;">Instructions</span>
                                                                            <br>
                                                                            <span id="FormsPH_lblInst1" style="color:Red;">Do not accept attended Conference and submitted publications or new paper articles.</span>
                                                                            <br>
                                                                            s
                                                                            <span id="FormsPH_lblInst2" style="color:Red;">Do not accept published Abstract.</span>
                                                                            <br>
                                                                        </td>
                                        </tr>
                                        
                                                                    


                                                                    <tr id="FormsPH_TrCouncil" style="display:none;">
                                            <td>
                                                                            <span id="FormsPH_LblNameOfCouncil">Name Of The Council</span>
                                                                            <br>
                                                                            <select name="ctl00$FormsPH$DdlNameOfCouncil" id="FormsPH_DdlNameOfCouncil" class="NMargin" onchange="FunOtherCouncil(this);" style="width:250px;">
                                                <option selected="selected" value="">Select</option>
                                                <option value="BCIMG">Bar Council of India / Karnataka</option>
                                                <option value="MCIM">Medical Council of India / Karnataka</option>
                                                <option value="MCM">Medical Council of Karnataka</option>
                                                <option value="CCH">Central Council of Homeopathy</option>
                                                <option value="VCI">The Veterinary Council of India</option>
                                                <option value="DCI">Dental Council of India</option>
                                                <option value="NCIM">Nursing Council of India / Karnataka</option>
                                                <option value="ICAI">Institute of Chartered Accountants of India</option>
                                                <option value="ICWAI">Institute of Cost and Works Accountants of India</option>
                                                <option value="CA">Council of Architecture</option>
                                                <option value="PMCJK">Para Medical Council of Karnataka</option>
                                                <option value="PMCOS">Para Medical Council of Other State</option>

                                            </select>

                                                                            <input name="ctl00$FormsPH$TxtOtherCouncil" type="text" maxlength="100" id="FormsPH_TxtOtherCouncil" title="Specify Neme Of Other Council" class="NHide"  oncopy="return false;" onpaste="return false;" style="width:180px;">
                                                                            <br>
                                                                            <span id="FormsPH_ReqOtherCouncil" style="color:Red;display:none;">Name Of The Council : Information is Mandatory</span>
                                                                        </td>
                                            <td>
                                                                            <table style="width: 100%; border: none;">
                                                                                <tbody><tr>
                                                                                    <td style="border: none;">
                                                                                        <span id="FormsPH_LblCouncilRegDt">Council Registration Date</span>
                                                                                        <br>
                                                                                        <input type="hidden" name="ctl00$FormsPH$MaskedEditExtender4_ClientState" id="FormsPH_MaskedEditExtender4_ClientState">
                                                                                        <input name="ctl00$FormsPH$TxtCouncilRegDt" type="text" id="FormsPH_TxtCouncilRegDt" onchange="return FutureDateValiDation(this);" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;">
                                                                                        
                                                                                        <br>
                                                                                        <span id="Span3" style="color: Blue;">Date format DD/MM/YYYY.</span>
                                                                                    </td>
                                                                                    <td style="border: none;">
                                                                                        <span id="FormsPH_LblDateOfRenewal">Date Of Renewal</span>
                                                                                        <br>
                                                                                        <input type="hidden" name="ctl00$FormsPH$MaskedEditExtender5_ClientState" id="FormsPH_MaskedEditExtender5_ClientState">
                                                                                        <input name="ctl00$FormsPH$TxtDtOfRenewal" type="text" id="FormsPH_TxtDtOfRenewal" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" style="width:180px;">
                                                                                        <br>
                                                                                        <span id="Span4" style="color: Blue;">Date format DD/MM/YYYY.</span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody></table>
                                                                        </td>
                                            <td>
                                                                            <span id="FormsPH_LblCouncilRegNo">Council Registration Number</span>
                                                                            <br>
                                                                            <input name="ctl00$FormsPH$TxtCouncilRegNo" type="text" maxlength="20" id="FormsPH_TxtCouncilRegNo" title="Council Registration Number"   placeholder="Council Registration Number" oncopy="return false;" onpaste="return false;" style="width:180px;"><br>

                                                                            <span id="FormsPH_Label6" style="color: Red">Allowed Characters : abcdefghijklmnopqrstuvwxyz0123456789</span>

                                                                        </td>
                                        </tr>
                                        

                                                                    <tr id="FormsPH_trSponsoredproject" style="display: none">
                                            <td>
                                                                            <span id="FormsPH_Lbltypeofproject">Type of Project</span>
                                                                        </td>
                                            <td>
                                                                            <select name="ctl00$FormsPH$ddltypeofproject" id="FormsPH_ddltypeofproject" class="NMargin">
                                                <option selected="selected" value="">Select</option>
                                                <option value="MajorAbove5lac">Major Project amount Mobilized with grants above 5.0 lakhs</option>
                                                <option value="Majorb=Below5lac">Major Project amount Mobilized with grants less than 5.0 lakhs</option>

                                            </select>
                                                                            <span id="FormsPH_rfvddltypeofproject" style="color:Red;display:none;">Information is Mandatory</span>
                                                                        </td>
                                            <td>
                                                                            <span id="FormsPH_Lblnoofproject">No of Projects Completed</span>
                                                                        </td>
                                            <td>
                                                                            <input name="ctl00$FormsPH$txtnoofproject" type="text" maxlength="10" id="FormsPH_txtnoofproject" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" style="height:22px;width:180px;">
                                                                            <span id="FormsPH_rfvtxtnoofproject" style="color:Red;display:none;">Information is Mandatory</span>
                                                                        </td>
                                        </tr>
                                        
                                                                    <tr id="FormsPH_trTrainingcourse" style="display: none">
                                            <td>
                                                                            <span id="FormsPH_LblTrainingtype">Training Type</span>
                                                                        </td>
                                            <td>
                                                                            <select name="ctl00$FormsPH$ddlTrainingtype" id="FormsPH_ddlTrainingtype" class="NMargin">
                                                <option selected="selected" value="">Select</option>
                                                <option value="REFCOUR">Refresher Course</option>
                                                <option value="ORIENPROGRM">Orientation Program</option>
                                                <option value="Workshop">Workshop</option>

                                            </select>
                                                                            <span id="FormsPH_rfvddlTrainingtype" style="color:Red;display:none;">Information is Mandatory</span>
                                                                        </td>
                                            <td>
                                                                            <span id="FormsPH_LblTrainingduration">Training duration</span>
                                                                        </td>
                                            <td>
                                                                            <select name="ctl00$FormsPH$ddlTrainingduration" id="FormsPH_ddlTrainingduration" class="NMargin">
                                                <option selected="selected" value="">Select</option>
                                                <option value="NotLessthan2Weeks">Not Less than 2 Weeks</option>
                                                <option value="OneWeek">One Week</option>

                                            </select>
                                                                            <span id="FormsPH_rfvddlTrainingduration" style="color:Red;display:none;">Information is Mandatory</span>
                                                                        </td>
                                        </tr>
                                        
                                                                    <tr id="FormsPH_trnooftraining" style="display: none">
                                            <td>
                                                                            <span id="FormsPH_LblnoofTrainings">No. of Trainings</span>
                                                                        </td>
                                            <td>
                                                                            <input name="ctl00$FormsPH$txtnoofTrainings" type="text" maxlength="10" id="FormsPH_txtnoofTrainings" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" style="height:22px;width:180px;">
                                                                            <span id="FormsPH_rvftxtnoofTrainings" style="color:Red;display:none;">Information is Mandatory</span>

                                                                        </td>
                                        </tr>
                                        
                                                                    <tr id="FormsPH_trparticipation" style="display:none;">
                                            <td>
                                                                            <span id="FormsPH_lblTypeofparticipation">Type of participation</span>
                                                                        </td>
                                            <td>
                                                                            <select name="ctl00$FormsPH$ddlTypeofparticipation" id="FormsPH_ddlTypeofparticipation" class="NMargin">
                                                <option selected="selected" value="">Select</option>
                                                <option value="PAPERPRESEN">Paper Presentation</option>
                                                <option value="RESEARCHPAPER">Research paper (Oral/Poster)</option>

                                            </select>
                                                                            <span id="FormsPH_rfvddlTypeofparticipation" style="color:Red;display:none;">Information is Mandatory</span>

                                                                        </td>
                                            <td>
                                                                            <span id="FormsPH_lblLevel">Level</span>
                                                                        </td>
                                            <td>
                                                                            <select name="ctl00$FormsPH$ddlLevel" id="FormsPH_ddlLevel" class="NMargin">
                                                <option selected="selected" value="">Select</option>
                                                <option value="International">International</option>
                                                <option value="National">National</option>
                                                <option value="State">State</option>

                                            </select>
                                                                            <span id="FormsPH_rfcddlLevel" style="color:Red;display:none;">Information is Mandatory</span>
                                                                        </td>
                                        </tr>
                                        
                                                                    <tr id="FormsPH_trNoofSemiConfWork" style="display:none;">
                                            <td>
                                                                            <span id="FormsPH_lblNoofSemiConfWork">No of Seminar/conference/Workshop attended</span>
                                                                        </td>
                                            <td>
                                                                            <input name="ctl00$FormsPH$txtNoofSemiConfWork" type="text" maxlength="10" id="FormsPH_txtNoofSemiConfWork" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" style="height:22px;width:180px;">
                                                                            <span id="FormsPH_rfvtxtNoofSemiConfWork" style="color:Red;display:none;">Information is Mandatory</span>
                                                                        </td>
                                        </tr>
                                        

                                                                    
                                                                    
                                                                    
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" colspan="3" style="border: none;">
                                                                            <table width="100%" border="0">
                                                                                <tbody><tr>
                                                                                    <td align="center" style="border: none;">
                                                                                        <input type="submit" name="ctl00$FormsPH$btnSubmitQual" value="Save" onclick="return CheckEditQual();" id="FormsPH_btnSubmitQual" class="positive" style="width:80px;">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody></table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody></table>
                                                            </fieldset>

                                                            <table width="100%" class="t_default">
                                                                <tbody><tr>
                                                                    <td style="border: none;" align="right">
                                                                        <input type="submit" name="ctl00$FormsPH$btnNext" value="Next" onclick=" return ConfirmNext(); ;" id="FormsPH_btnNext" class="positive" style="width:80px;"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="border: none;">&nbsp;
                                                                    </td>
                                                                </tr>
                                                            </tbody></table>
                                                        </div>
                                                    </div>


                                                </td>
                                    </tr>
                                </tbody></table>
                                
                                    
                            </div>
                                
    
    
            </div>
        </div>
        
    
                            </form>
                            <div class="rounded_footer">
                                <div class="left_footer">
                                </div>
                                <div class="right_footer">
                                </div>
                            </div>
                            </div>
                            <div class="cleaner">
                            </div>
                            <div id="footer">
                            <div class="container-fluid">
                                <p>
                                    <span id="ctl00_lblDisclaimer"></span><span id="ctl00_lblVersion"> </span></p>
                            </div>
                            </div>
                            
                            
</body></html>
