<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0022)http://localhost:8080/ -->
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>
            Upload photo/Signature
        </title>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link id="ContrastStyleSheet" href="/stylesheets/Layout.css" rel="stylesheet" type="text/css">
        <link id="CultureSheet" href="/stylesheets/LayoutEN.css" rel="stylesheet" type="text/css">
        <link id="Link1" href="/stylesheets/LayoutEN.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/sb-admin-2.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
        
        <link href="/stylesheets/PopStyles.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/fileuploader.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/vscroller.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/GridviewScroll.css" rel="stylesheet" type="text/css">
        <link id="SiteLayoutSheet" href="/stylesheets/Layout1.css" rel="stylesheet" type="text/css">
        <link id="Link2" href="/stylesheets/Site1.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            /* The Modal (background) */
            .mySessionModal-modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }
    
            /* Modal Content */
            .mySessionModal-modal-content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 400px;
            }
    
            /* The Close Button */
            .mySessionModalclose {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }
    
                .mySessionModalclose:hover, .mySessionModalclose:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
        </style>
        <script type="text/javascript">
            function burstCache() {
                if (!navigator.onLine) {
                    document.body.innerHTML = 'Loading...';
                }
            }
            window.history.forward();
            function noBack() { window.history.forward(); }
        </script>
         <style type="text/css">
            .style1 {
                width: 4px;
            }
    
            .auto-style1 {
                width: 618px;
            }
    
            .prsnl_dtl {
                width: 100%;
            }
    
                .prsnl_dtl > tbody > tr > td, .prsnl_dtl > tbody > tr > th, .prsnl_dtl > tfoot > tr > td, .prsnl_dtl > tfoot > tr > th, .prsnl_dtl > thead > tr > td, .prsnl_dtl > thead > tr > th {
                    padding: 8px;
                    line-height: 1px;
                    vertical-align: top;
                    border-top: 1px solid #ddd;
                }
    
            .auto-style2 {
                width: 3px;
            }
        </style>
        
    </head>
    
 
    <body>
        <div class="topdiv">
            <div class="topbuton container">
            </div>
        </div>
        <div class="top_banner">
            <div class="container in_banner">
                <div class=" logo col-md-3 col-sm-3 col-xs-12">
                    <img id="" class="img-responsive" src="http://www.tecsok.com/wp-content/uploads/2018/02/tecsok-2.png" style="border-width:0px;">
                   
                </div>
                <div class="banner_text col-md-6 col-sm-6 col-xs-12">
                    <h2 class="text-center">
                        <span id=""><b><u>Technical Consultancy Service Organisation of Karnataka</u></b></span>
                    </h2>
                    <h4 class="text-center">
                        <span id="">Online Application Portal </span>
                    </h4>
                </div>
                <div class=" logo col-md-3 col-sm-3 col-xs-12">
    
              
                    
                </div>
            </div>
        </div>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="">            
                <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="">HELP</a></li>  
                <li><a href="/user/logout" id="">LOGOUT</a></li> 
                

                 </ul>
    
            </div>
        </div>
        </nav>
        <div id="divnew" class="medium">
            <div id="main">
                <div id="header">
                    
<style type="text/css">
    #clockdiv
    {
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size:  0.75em;
    }

        #clockdiv > div
        {
            padding: 5px;
            border-radius: 3px;
            background: #2e62a4;
            display: inline-block;
        }

        #clockdiv div > span
        {
            padding: 5px;
            border-radius: 3px;
            background: #003481;
            display: inline-block;
        }

    .smalltext
    {
        padding-top: 5px;
        font-size: 10px;
    }
     blink, .blink {
         animation: blinker 1s linear infinite;
         }
         @keyframes blinker {  
         50% { opacity: 0; }
         }
</style>





                </div>
                <div class="container-fluid" id="main-content">
                    <div id="dvLeftMenu">
                        <div>
                            <div class="navbar-default sidebar" role="navigation">
                                <div class="sidebar-nav navbar-collapse" aria-expanded="false" style="min-height: 570px; background-color: #bd135b;">
                                    <ul class="nav in" id="side-menu">
                                        <li>
                                            <a href="/<%=user.username%>/dashboard"><i class="fa fa-home fa-fw"></i><span id="liHome">Home</span> </a>
                                        </li>
                                        <li>
                                            <a href="/<%=user.username%>/profile"><i class="fa fa-user fa-fw"></i><span id="liProfileCreation">Profile Creation</span></a>
                                        </li>
                                        <li><a href="/<%=user.username%>/View"><i class="fa fa-angle-double-right fa-fw" style="background-color: white ; color: #bd135b;"></i><span id="liView" >View &amp; Print Profile</span></a></li>
                                        <li>
                                            <a href="/<%=user.username%>/dashboard""><i class="fa fa-file fa-fw"></i><span id="lionlineApp">Online Application</span></a>
                                        </li>
                                        <li>
                                            <a href="/<%=user.username%>/application"><i class="fa fa-street-view fa-fw"></i><span id="liMyApplication">My Application</span></a>
                                        </li>
                                        <li><a href="/<%=user.username%>/request"><i class="fa fa-user fa-fw"></i><span id="liMyRequest">My Request</span></a></li>
                                        <li>
                                            <a href="/<%=user.username%>/dashboard""><i class="fa fa-info-circle fa-fw"></i><span id="liHelp">Help</span></a>
                                        </li>
                                        
                                        
                                    </ul>
                                </div>
                                <!-- /.sidebar-collapse -->
                            </div>
                        </div>
                    </div>
                    <div id="page-wrapper">
                        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ToolkitScriptManager1', 'FormsForm', ['tctl00$UpdRandomToken','UpdRandomToken'], [], [], 90, 'ctl00');
//]]>
</script>

                        
    <div id="divToPrint">
        <div id="" style="">
	
            <div>
                <div class="">
                    <!-- <p>write from here</p> -->
                    <table>
    <tbody><br><br>
    <tr>
        <td colspan="3">
            <div>
            </div>
            <div id="cssmenu">
                <ul>                           
                    <li id="FormsPH_uxProfileMenu_ProfileStep1" class="Complete"><a href="/<%=user.username%>/profile"  >
                        <span id="FormsPH_uxProfileMenu_stp1">&nbsp;&nbsp;Step1 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp1">&nbsp;&nbsp;Personal Details&nbsp&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep2" class="Complete"><a href="/<%=user.username%>/profile/address"  >
                        <span id="FormsPH_uxProfileMenu_stp2">&nbsp;&nbsp;Step2 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp2">&nbsp;&nbsp;Address Details&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep3" class="Complete"><a href="/<%=user.username%>/profile/details"  >
                        <span id="FormsPH_uxProfileMenu_stp3">&nbsp;&nbsp;Step3 &nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp3">&nbsp;&nbsp;Other Details&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep4" class="CompleteActive"><a href="/<%=user.username%>/profile/education"  >
                        <span id="FormsPH_uxProfileMenu_stp4">&nbsp;&nbsp;Step4 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp4">&nbsp;&nbsp;Educational Qualification&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep5" class="InComplete"><a href="/<%=user.username%>/profile/work"  >
                        <span id="FormsPH_uxProfileMenu_stp5">&nbsp;&nbsp;Step5 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp5">&nbsp;&nbsp;Work Experience Details&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep6" class="Complete"><a href="/<%=user.username%>/profile/photo" >
                        <span id="FormsPH_uxProfileMenu_stp6">&nbsp;&nbsp;Step6 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp6">&nbsp;&nbsp;Upload Photo / Signature&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep7" class="Complete"><a href="/<%=user.username%>/profile/documents" >
                        <span id="FormsPH_uxProfileMenu_stp7">&nbsp;&nbsp;Step7 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp7">&nbsp;&nbsp;Upload Documents&nbsp;&nbsp;</span>
                    </a></li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <hr style="background-color: #0183b5;">
            <input type="hidden" name="ctl00$FormsPH$uxProfileMenu$hdnUnsavedChanges" id="FormsPH_uxProfileMenu_hdnUnsavedChanges">
        </td>
    </tr>
</tbody></table>
                      <div id="FormsPH_UPImahe">
            
                                <fieldset class="RFS">
                                    <legend id="FormsPH_UploadPhotoSign" class="RFSL">Photo And Signature Upload</legend>
                                    <table width="100%" class="t_default">
                                        <tbody><tr>
                                            <td width="130px">
                                                <span id="FormsPH_lblPhoto">Photo</span><br>
                                                <img id="FormsPH_ImgPhoto" alt="Photo" src="#" style="height: 140px; width: 130px">
                                            </td>
                                            <td valign="top">
                                                <table width="100%">
                                                    <tbody><tr>
                                                        <td width="25%">
                                                            <span id="FormsPH_lbl_Advt_No">Please Upload ONLY Color Photograph</span>
                                                        </td>
                                                        <td width="75%">
                                                            <input type="file" name="ctl00$FormsPH$FileUpload1" id="FormsPH_FileUpload1" class="txt">
                                                            <span class="red">No special Characters are allowed in the File name</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <table width="100%">
                                                                <tbody><tr>
                                                                    <td colspan="2">
                                                                        <span id="FormsPH_lblInstructions" style="color:Red;">Instructions :</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <span id="FormsPH_lblInstructionsPhoto3" style="color:Red;">Image Size uploaded should be between 20KB to 50KB.</span>
                                                                    </td>
                                                                </tr>
                                                                <tr style="display: none">
                <td colspan="2">
                                                                        <span id="FormsPH_lblInstructionsPhoto1" style="color:Red;">Image Height uploaded  should not exeed 4.5cms.</span>
                                                                    </td>
            </tr>
            
                                                                <tr style="display: none">
                <td colspan="2">
                                                                        <span id="FormsPH_lblInstructionsPhoto2" style="color:Red;">Image Width uploaded  should not exeed 3.5cms.</span>
                                                                    </td>
            </tr>
            
                                                            </tbody></table>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="130px">
                                                <span id="FormsPH_lblSign">Signature</span><br>
                                                <img id="FormsPH_ImgSign" alt="Sign" src="">
                                            </td>
                                            <td valign="top">
                                                <table width="100%">
                                                    <tbody><tr>
                                                        <td width="25%">
                                                            <span id="FormsPH_lblSignUpload">Signature Upload</span>
                                                        </td>
                                                        <td width="75%">
                                                            <input type="file" name="ctl00$FormsPH$FileUpload2" id="FormsPH_FileUpload2" class="txt">
                                                            <span class="red">No special Characters are allowed in the File name</span>
                                                        </td>
                                                    </tr>

                                                </tbody></table>
                                            </td>
                                        </tr>
                                      
                                        <tr>
                                            <td align="center" colspan="2">
                                                <input type="submit" name="ctl00$FormsPH$btnSaveImage" value="Upload Image" onclick="return checkImageFileUpload();" id="FormsPH_btnSaveImage" class="positive" style="width:80px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">&nbsp;
                                            </td>
                                        </tr>
                                    </tbody></table>
                                 
                                </fieldset>
                            
        </div>
                </div>
            </div>
        </div>
    </div>
                    
<style type="text/css">
    .style1 {
        width: 4px;
    }

    .auto-style1 {
        width: 618px;
    }

    .prsnl_dtl {
        width: 100%;
    }

        .prsnl_dtl > tbody > tr > td, .prsnl_dtl > tbody > tr > th, .prsnl_dtl > tfoot > tr > td, .prsnl_dtl > tfoot > tr > th, .prsnl_dtl > thead > tr > td, .prsnl_dtl > thead > tr > th {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }

    .auto-style2 {
        width: 3px;
    }
</style>





                </div>
                <div class="SectionTable">
                    
<div style="height: 5px;">
</div>
<div>
    
</div>

                </div>
                <div class="SectionTable">
                    
<div style="height: 5px;">
</div>
<div id="">
    
</div>
<div style="height: 5px;">
</div>

                </div>
            </div>
        
</div>
    

                    </div>
                
                <div id="bottom">
                    



<div class="footerBlock">
    <div class="footerCont">
        
    </div>
</div>

                </div>
            
        
        <div id="UpdRandomToken">
	
                <div style="display: none">
                    <input type="hidden" name="ctl00$HdnRandomToken" id="HdnRandomToken">
                </div>
            
</div>
        <script src="/stylesheets/common.js.download" type="text/javascript"></script>
    
<script type="text/javascript" src="/stylesheets/MaskedEditFix.js.download"></script>
<script type="text/javascript">
//<![CDATA[
(function() {var fn = function() {$get("ToolkitScriptManager1_HiddenField").value = '';Sys.Application.remove_init(fn);};Sys.Application.add_init(fn);})();//]]>
</script>


   
<div class="rounded_footer">
    <div class="left_footer">
    </div>
    <div class="right_footer">
    </div>
</div>

<div class="cleaner">
</div>
<div id="footer">
<div class="container-fluid">
    <p>
        <span id="ctl00_lblDisclaimer"></span><span id="ctl00_lblVersion"> </span></p>
</div>
</div>
    


</body></html>