<h1 style="text-align: center;">PREVIEW</h1>
<br>
<br>
<div style="text-align: center;">
    <pre><b>Application number:</b>   <%=info._id%></pre>
    <pre><b>Name:</b>   <%=info.name%></pre>
    <pre><b>D.O.B:</b>  <%=info.date%></pre>
    <pre><b>Email:</b>  <%=info.email%></pre>
    <pre><b>Phone:</b>  <%=info.phone%></pre>
    <pre><b>Qualiffication:</b> <%=info.education%></pre>
    <pre><b>Post:</b>   <%=info.post%></pre><br><br>
    <pre><b>Amount to be paid: Rs.100</b></pre><br><br>
    <button><a href="http://13.234.44.147:8080">Proceed to Pay</a> </button>
</div>
