<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0056)https://www.kpscrecruitment.in/Profile/PersonalForm.aspx -->
<html xmlns="http://www.w3.org/1999/xhtml"><head id="FormsHead"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>
	KARNATAKA PUBLIC SERVICE COMMISSION
</title><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><link id="ContrastStyleSheet" href="../stylesheets/Layout.css" rel="stylesheet" type="text/css">
<link id="CultureSheet" href="../stylesheets/LayoutEN.css" rel="stylesheet" type="text/css">
<link id="Link1" href="../stylesheets/LayoutEN.css" rel="stylesheet" type="text/css">
<link id="ContrastStyleSheet" href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../stylesheets/sb-admin-2.css" rel="stylesheet" type="text/css"><link href="../stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"><link href="../stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css"><link href="../stylesheets/PopStyles.css" rel="stylesheet" type="text/css"><link href="../stylesheets/fileuploader.css" rel="stylesheet" type="text/css"><link href="../stylesheets/vscroller.css" rel="stylesheet" type="text/css"><link href="../stylesheets/GridviewScroll.css" rel="stylesheet" type="text/css"><link id="SiteLayoutSheet" href="../stylesheets/Layout1.css" rel="stylesheet" type="text/css"><link id="Link2" href="../stylesheets/Site1.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        /* The Modal (background) */
        .mySessionModal-modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .mySessionModal-modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 400px;
        }

        /* The Close Button */
        .mySessionModalclose {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .mySessionModalclose:hover, .mySessionModalclose:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
    <script src="../javascript/CountDownSession.js" type="text/javascript"></script>
    <script src="../javascript/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="../javascript/CommonValidations.js" type="text/javascript"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../javascript/ie10-viewport-bug-workaround.css" type="text/css" rel="stylesheet">
    <script src="../javascript/ie-emulation-modes-warning.js" type="text/javascript"></script>
    <link href="../javascript/ForIEOnly.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
         <script src="../../ForIEOnly/html5shiv.min.js" type="text/javascript"></script>
      <script src="../../ForIEOnly/respond.min.js" type="text/javascript"></script>
    <![endif]-->

    <script type="text/javascript">
        function burstCache() {
            if (!navigator.onLine) {
                document.body.innerHTML = 'Loading...';
            }
        }
        window.history.forward();
        function noBack() { window.history.forward(); }
    </script>

    
    <script type="text/javascript" language="javascript" src="../javascript/Registration.js"></script>
    <script src="../javascript/RPSencryption.js" type="text/javascript"></script>
    <script type="text/javascript" language="javascript">

        function ConfirmNext() {
            if (confirm("Details has been saved successfully.Do you want to proceed ?")) {
                location.href = "AddressForm.aspx";
            }
            else {
                return false;
            }
            return false;
        }

        function Check_AtLeastOneContact(LangID) {
            if (LangID == 1) {
                alert('Any one field mandatory,(Aadhar No/PAN Card/Driving Licence/Election Card) ');
            }
            else {
                alert('Any one field mandatory. (Aadhar No/PAN Card/Driving Licence/Election Card) ');
            }
        }


        function RequiredField(LangID) {
            if (LangID == 1) {
                alert('* mark fields are mandatory.');
            }
            else {
                alert('* mark fields are mandatory.');
            }
        }

        function FunWhiteSpace(t) {
            str = $(t).val()
            str = str.replace(/\s/g, '')
            $(t).val(str)
        }


    </script>

<link href="../javascript/WebResource.axd" type="text/css" rel="stylesheet"></head>
<body onload="burstCache();  " onpageshow="if (event.persisted) noBack();">

    <form method="post" action="https://www.kpscrecruitment.in/Profile/PersonalForm.aspx" onsubmit="javascript:return WebForm_OnSubmit();" id="FormsForm" enctype="multipart/form-data">
<div class="aspNetHidden">
<input type="hidden" name="ToolkitScriptManager1_HiddenField" id="ToolkitScriptManager1_HiddenField" value=";;AjaxControlToolkit, Version=4.1.50731.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e:en-IN:f8fb2a65-e23a-483b-b20e-6db6ef539a22:5546a2b:475a4ef5:effe2a26:4355a41:2a35a54f:addc6819:d2e10b12:37e2e5c9:5a682656:c7029a2:e9e598a9:beb16dc9">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="">
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="c/lwfX8+tD/QkK1KA90bnM99RjqbLwfCaZts0qGun5kOUTyIc28tcl4JKVXHFcZpU/J85h/u48w7xkLnaPnNO/m7YHwfypzIIVBWrf4/yyBqpG3jZnmCPiOy+49AQvbbtvtBUfcQ6AWzrUzD9qkvnw1+d3df0PJx4udacFllr/a3bFOZrn8MFalawKrO1r/rCD8ZhOZevgo4iadpqU+z88Y2SEE63DcQbWhkd4sXXKCi4CtQab8h9MZgUKx3NxY/fDgrEmDIc+rlj4E4MYIexcNOwHKsVpcbwZ3crgaRDDuVa5XN9u8W7ig/IZMi+x5p4AvxFgybxVTjHVyoCejzx4AYKafCt4CD+GAmo7sUIPio42tb/QuTZxsI+s+KWbPXDileSDiD79z6XoVAtqBqg3zqC7jIENGU3xBaKq3CuIIk/l5xNv5UQ4A2ALPNwyTmKW0Ofnl9Mt07KCs3NtV/97zJJgiWgFTAN/QO9RwQTXDYQ6ZH4gnb3Z7KfXkWURHOPba5tUXQW3pNr4+HHrb6+dQsMiyubjQOgUmZKkFmCzqUa/m+JMrcinIwJgLw1UHyEGtPFbXRmIR6iXhYFArkHvzVlrwoV6eR1uPkJNNQ+q2eypq0aGvsqQ0GUp+rclpPo21qWhiBrJCs98yZpvV4tdMedIDObaRmvh5X3WSE3iIR/eMxmsWbj9pboBzz/UAyo5qjEexZ2j5uT65XA+4SpfU4k9i4ktw8YwrqrmHfYV++q6br3Xruev7TaxxrkxYuAAR0n/wdF9EfOwyGNWQY2UVxCkaB8gJDzS2L/kNE5kyPmkRLzV1J9uPPJV5CJfX2u/qUBitFMUsgUWsPq/Sf8daJYRogiYP+f1iO7Evc8NrBJcvUU5HtoPe9p7VlrS6CsgaDJN15Ieh7t3qWuQB4XsXU6aFGMpFN5hb8HCwaj8D6+lwVX+KNG102uO20rYeO5HoeH8+IjYP9nMd2uRvU4h+Q8jOjuOosAM1e0y0OMclKnWCDZSbjbKk0Fg35GEAGO7GMwMvXXTJVKfYBPRnY338Jvj0kYrospaDJzzcTavCkn69EPBb8nIbWB6vMDhdthwr4BlXVN48w5MVlqvQrX+tlp43KNgTx16k00yKgfMD/Mu7BM4295/niO8qq1WxEedsDhv5354IL1DXFFJjuIkMGCpYmQqHqKRLgXTByiBW9pq2qx8p/1iPMubPEMd2VePUJnKsGc/3MVz3wLqsq4rL8Y2fpifkRY7EwPUId8UbhjEAi2gMD7676V25YqsABVb0em+WzPjzl3GFoa66E2mLZbNwRUIo501rBLM2SmfrrpXpQ8AHuPZlyQB4DplgoBFG6vQ2evG2Tqf7FwrEkHTIDNBehZgyZIhKGGO+3wc719TPfZV7AZLb5CoV59wWm0K+gN/RLuYlAxJVRGzIekeNFS+RiUL3Mofh/vLbxNQ90r5Kp9hZ1EnCMESbxSijQpRWe5LuMWxRPV4p84hMeRbsySP7En2CIwx24RcMOgOK23QWzHTqR8odZDZytnOPVDwHnuXUFvfL91ov0cwvAbtrpys1HgR60aSn0aDvVJEAj4MeJWJZbaAGjli5tED50h9EeyGR4eWCIyebA8RWbf0OQf1Rlo3co3fGbThzV9lMfPAkqgNLknR8oef+muJ3OaVjVElhrzcgfGZYNVR7FoHAXOlvHN5CJ10MYRT6zjUntZnubxeFOh50Mw4tg55EreGOHep7kDGn16gJgPnTyrrvfVLnugX3BcO05UukEG4gj6k3pIfxth83rfQg3mZwbRWl8L6AMzMfxLPclRIEV2LCL15hK5NRbjsUhaUNQGvnyimsq9PfFxGM+KgSMQDUtFK/BgQ17LLuG6FT7ti3bj5fr17wh6sN8iRdPv3UW2yc/1othdR56cbgMJmBdmySvGcFPSpRM7QGUh1uly7eh+s+YfA2LLmH7Tr502QFhKW3juvkqZ/5fdlV5O/zcsQ/UUekbB4JHUF22yxa6GDZBMvdc9QUe3/GjVtkyO9M+9vBKSYEFn+D41OHl/eSXsu+tP+KJ08VWr4+mmvhl27sbt3gkr1AiTTd/gwb2Psp9zXL6czvu8BkNBWAwF/l3hTDKzT+6L3C91/caTbPe4OnF8bnB9AgNxgolMZY0BMa4RWV8UqDvD40B3jrO6pfl2U8u54qFYAOPE8wbMekrvEKPy39cR3jioBYSlf14yfK+LKV4IHrkqwIM4V8y7WCPIRO20+oA9mpXWJlxquRB+LKeDo+mi/7B7GFwGswq6mcSdB3+UbCiOjNSnFE9VRVuGRIyAblLOp3kulihnXpWYn1i61N/R74+zfm70zgz2Az4c/XT+KKHIn5Fc3ftkJ9zGZQkmmis4+rVEociiyNymgBPUpBFu2gCuMdkq/zOOar8tfQ2ynR65gXWpcsNlJ3Ea4Wubw++h59XMbZmTVQCd1AXIDEdS7mo7CMHCokJwPkFskKyZ6EgLxPajYzHqwhbHWHwP/wedrJOVDP2xS1DEMS5fa2KoFcByCmrIHt0Vua/nqI+Z6FpnwNarYG9F8fWeBkF5JJqVJV/5oWaap2PEC4M6leF07pmpCn/4YJ3GCjicgUYtpIm2groVQ26xkx0nCLUS/eUDgsjNMahPnMtt0SlH5axOslIdE4RPczKlG+Z+6nfhWYvZnhi0jaLdofgw9zx+JiS93E5ujS5vFZgzY5tTCBWxmHRoav+G57p8udWnAd8M7UkPh4kWUxEFB1M5uRRFdUKhOJYEdxevHmjjFzMaVKMI5bsxoTiCI+PrGBA99V6H3JNZInbp11FRHmc4VkxAGyCJdsoAUeduxF60eQF2+NBCrQTcydThffUs7VvL/PyIX//u6kKFpy4Xu7LjzQmc9sLl5GtyL/kjtD5B5ydd6p2waTxJzxADZJIBaZ/cDYKTS37htxfkEUrGYECjRkI0mNf06i9rEKoQqcQizVqP2vnx7DyUiW5tUqnazVtXePHMKqs1borz82xPmqiChDB9wDOBMLSLdw4IK9WshDhY/THYxEDf+zWBC7o2afiO6xupGmU7jIqPo9FRRBkJYGz2VvJyLdeq3+jw5mpoQR8ecXBtvKs3yoQbUPeZ7nGHMfmwUb2ln9dV6J8c7veg6bSjXq/WwjthOv/m4OPA/6aPB/zD0vyhrzYmhwgj8Wq7KUCnw2IRGQr+dUxT9p1jpujEBzcoNBAT+Y8TzMsxmPKbyErZXTx6GrKja6ZR8Vf+vCjvHoAbAJZaOyMq/oM90NdUiI7kI+jy98DnvNiEoZnFr+8nmWpSlmAQc3/DZbm3Bkn+UVCacqqB63OM5uhdGP5jw4jd9iJLHILwWJnc+BBep2CsRNFP88b9Pgh6aNA6ysE3Hjtbq7x1LTtfeXuzw12Jh9orkYdln6rQW5XKlLY47ITV1CiLK1Q99IM1Ky4p/adVs+8neybXGqBEzddyRuFL3PZwL170jkormkNrw6db7Sd81lzEnovAcpEVveEgFG2dNX/NtLMvcAMK34wzo1+xPp3wBhFlxnPWgMCNVXcgbUyqDiwYxx7Tn5jWhdcCF7yF3yRCQyoWN7A6D+SvmNqz9zXzG/Vi3dDKWsL3mMMbXLnp1nXm2OibZR4hZpmbapjXUqaRFmIq1D7VOQBxRdMxytrEe7WgOYYs5hULrcdzPf7S7T6lN9K/XGVrGR5omLMGQdTdeGwyQ/LTarWOro74+232LjK6Ld/UKJTOvQJpRXHd0Taq3/NTYfRtIgRj40g5s7sEmgu8JSdWgXe6Wh585hanaKpAJwST2VB2WXDCL3bR/4dNuVz628Hp6bzmv4DLwF+gqZYostuzbmbG9ggqHVCPZFvh+WH0UeWo/I7z6VuDZnE/tDUaYF1bzhOoAh3gFt8TKXjNH/3Wd2vtvM2sAAWSA9Y0tezILkPbsW7KIfeZqJ8EuWtgGEiBONq/FE7Rb0BgnyI54G+aiHEmrYrX5qXngEHk2l3YBWYvvwE1J0pSSiK+4H7HXSdl1WH3BD43+t6fpJvkKqNACeVYpu3ZkTRf/Ltq8pU2033UQ20k8uCohilbZHokOhj/2qquy+N4ilMHjlIzMrlIaO3VmbGJQTqzsgTIEXWCWQti/B5KAvJQBvKW4UoyrkNMVHc6qoJ/nmM7onWHETIb9/BTZlxBJVLS0LtoDSb+nMuzHhQySboq6DLOE8sy0tj+n5ZNM5vQOyw53KoRBJB1tgDQkbgVSzlGmKsPkpiaZqn6LRtxqHwfCQ8ArNcvAotZg3PqqcqDGV42MWf4VVMbhYasEM4y/JMRA2J41TFhxi68k/iDq0Ud0L8cF6nFBPzR9xPGPx9kYX//weei19DNGpYl0bpEZt3YG+lqGIY7cn0xNfHrJmP/xSy2TaDPZJv2NpmH1Aq8sXJYO29PAW98RdVTS2qQhV5ReBue5kQeexUw1VqSSgmADJ5XT8b9qudmbGDn2mg+mn+aSxHW+foKfS3hFpdb+FxQ4cHY+DAE8iw3H2ZkVRwfldQ2PcNJcb7KYPUh52IPWYNpoCo/MEMMp0MWdUJCzmUWgn6UaSSc9WhVG7X979PeRB2MZrVR2dTvL9nSnZzHvuH+B1VwoKCOGLEDUN+xjuXtdmgHLYTvK+xZy7fX8UYkrsMngDc2zmhS5Lo6q6d+dcDaZFEL/2gx2Eu/17FMb/7rQEVYOXaWxsdCDs2OOgNU90bJ9mmj3ux009NkxJ+p3e0ZBzQ8miEHwDtjmEsR7nvy2BWsk+z8yoWVabb045MxhPemcZBsW+2wyMlP3HD9VZ15Na0IDHcgCjm8xwI1i4TI0rZhEQWYQjVnvCeAh2tDdcXnMU8MWIwwaTGg1nhH2AIA2LCkQYdWjGmaVm6orq1ECsHDmGSeESPiOz7OPY/8qOsfJFwbPy5UBEphAAjVB0MKj8IPOPJ1PfLrwYqsUl42KQJPtnCwxV+vFCQ7+R/3wJvibmFhnpD2/KyFOW1XoEWvHBrOyblboCsLVjH9xSu965g3iUk2CONGBVk6XdEaX6mAI42BZuQjvmn1kMP2A2iO4rMqJYOvSA6vnruJwOfEH/7Ev78f0pL04oUnzmCm72n1saQ1PoQdky+FUIQHGoD1uvdyMBjVrgwk82l7lEJCGboS6EBCtVNfwE3S6vUFb9Rd/XNbkFhjL6H8nyt10+C3hnE6sSlbs0V5Y9bvozla4TdEE8rOwdDI7mPRfiW0vTFFkBYtMDFSeEDTOErfsiEAwf9DJ7iY3Jhl0jgWzxdmAkXLDGJpXmYIk4oPsJHIzu/Y/tjxhK/VntyQUeVjs3esbG1KUoaFyrQH1AHC1LbDlit8FnZgB+3pg2atU1vAG8VjlCbGkn0ddzeOg6RVaIC7WfWR0c5H6DB8kW7/E1Fiv0cSYFHnqHI1dl4b+0NyIKk10vOFqAijjnNrM9TKPqKP9spE6od7sbcLVNP+/cdzvGpmN2Ykx4SmcSwi0Pjw0SRaXXplCptiCmwi13Ous6V500mDo6fK//DfrJHMZZM8svq+PlR0wqNesiTmet23me855Uc3jt7EH6XUfO9SI8KbY5vrgf5ViinM9patWJY1qehRSND/Vf0mNd6cgP6AdAoCeoFxmYZM5urrMgUZxiDi7IQRJoZcpzRLW3KfB+ZYiuNEKylxT1AjInuDniLIS8i8Gz0SKPSCqnU82Puf4dy85y1wCJk9lTM0Ta/nC5tmcQBPOIaFPFxC6AYwDkrqaU7xo4f8f8XrLhgbiO8RF+mKVoTZnBvs4RefXy39842rASl5LhynBIpMfVmz0N+YnTuuNQTZkER6GVuPrfX8JXmc7kNxpqPXrndU4cDEBBCHELgB0oDP0GIWojdUx3wLhUM5uzQ8tYg0Y9L2Qoy3FgmiAXPClVX7FOpyH+AoblMxI3PfDwZ89nou+6l6UFGvnK/V0JdpRIysQlhMTso22XwQgve9KSrT3MCknNkqSvGlkjxSiwvWDKz/przHIJ2kXjy6/o1iM77jZpERZv3R+c9A+d05md1ezuzTAtE6Hv6+JwBg+pcfQt4JE5EP6BqYaOgGO39XWuCREMQSDZlKJ8V/F+30YapuGD0s5a9hP2zl5nnm8dKVbLhQ328IuYMOOX+O/NYOiNfAbiXIIJXVRN8P3JHM+hvlXks+qq9Jscwj9HqDpgOybRx3rn/fSA/qg+Zo/yDOobXqHIlmNs9cx6AOtvjmRLbJcLgO/BIdZv/pOCV4Uk2OtYo93EHR00IySvjNDIVW+0dwsGI/8HLgTmA7so1XW1v5W2zpWYjuP4iykN8Y2gfCRZ97qlpgFe9ht6SRw1y8EDFHzHsmTXYakQ2MhkHeVR4XdIsqMr1ZWKcAPs5gZ9ZaUxWh6kxyQ/uXLyKQpiGpqFQT9wbi0j2qRdNpHTihtdRBIh0KQzxMlGUVfM5UO7nlXLpsYf8LB+ffcYGzIl/DrO07/vqc8r5uTDzBeIZ1aa+UaETTRmxfKDSGakGcsP+f9TYg8TTWWOTENKS9r2P9YKAT8sBpJ+wiXiRg/SbttSi+7wL+otRl09V6OdQrq9T7jQf/i84wgLatp9u5LGwbgkqOusy//ZCjd80USeCYO6BPe+vPTU9yGqfhyr+xbFyA8zb3w+0YjdeCCO3k/qikki1e0i5+RDapJg6HXg8jTlj3VDJI64XIp85uI185DZ/rhhr7i4AkooHs9KSgvQl+jjOR1olObnl0jReCSbydnYraMzwXoSjlmhSapA/jTgqA4Lx6RDPL2kfAVaQIXuvPxkAMKExA4YdJrQmu0HJtwXLKDKuReMAoThP+n07GsCI5Ahd1xRI4pkZUehcsvMSyfr3hwMefmmXcK1YSRB8godFwgAGMNXGNCvepEaNh9suYORuUKOV57kK7lDP8xgkp3VXWTYVltTo+V+RYpcvve5Dh+BqvgRSr3gh6xgDdDJfGMp3FcO8mX4Zd1ic/rtH6/i5+oqacZhNzz0fk91lYU70tNaMVfnW7ULyvSq72Q1mTTIvBBLb4fF+EQBMBNbYTxagv6EHarQhj7B1hb4F+XwW2CvXb+iyTlzFNViRb628JJ0DbtsSlWO3zxdy3nm5qbKNwgzMgA2UVm+VvWQkaGhQ+N76yoDyW6tXlt/A8XMY+GxI2MPESxZJBE4lJ/4xZrfEGbKDayf3OwHwDLe9/QhjcW76wvgbEs7bGy0HNRzBjGrGqejokCuyfcdpNSqK7WTHQW7Lj6k283TuOhSwb8mUOnxDVVXQjAmMdE8HkFTSYe0W19BZ60vYgMPsxy3ARh+3JMthKqpkBl55PivZkKWDGWS3WetI1MOpwFrdNe1OfAydajoBzKGysMIywuz+zJSiRA9ecUOEuylgNCwok/ze/S4eGIFYJfVoGrYP1P//DKnmlrEc8LvFEufjHwUKmRLmhyc4muQXHIANkKyfj+x8LzuegzvbsFOKtWOrTtNWLvaiZYSJGAQ+79BOSq03ZAyGqFPrgnK+C6EqvEFY61pRk8cE/2hjeyOuYLhHy0yFKAc7D4E9xJK9agAfRLFWD9JqTgQH7X/fLTWVHoFhCCFheQDgqvEcKeijpC5/gAt3weMCqJ5BnEEOj/BAXB+WfLY9Mto3qVq4Xl4B5X+qt2S1GhaDkQuOCv7g3Qaow3He13NqCAf/fFUtWvFZouxSP+ktpEY1yWNc7mJI8d6dd6zgLTp2Wkt0Cs1EWlvGMnyWZzVf2XwvxwcRtJRcLSiHTmhqAIknsuhW6kCO9T5qjKnZcfnlA8Eh8WhZi4FbpLdyk5wWrwuru/9iDcePvv6tJNZ/CkEj4gfRp5csnuA65h8sz17SSTkZyjzIeQwg7fqRWKuAkE4h2AkfUqmqlQ6vISWj+vd57wzCZF9qZfL0dg25m4lflUgAac42YBjwc1mPczWFQWyoH3NNcsc1qZ2QE1frumuq9oQHw4mt0QXWyoAFEUosC29gXA2IdSpTRAc3aYOhM+lRcreuwo7zUwQRQtPgX/04uiv3sHRZBBUqWMXW7oKW6LzbqLi84AHr7gRRP5mVUhAJZ0vHIvg4acekoOjQra3pt9ZhYS5mLTnnbQe7bG9+2iHdIxRhbNnxl2wxlxrEinQEJ19HoiLc/xwXXog+roC0DAyfOAYNAnRLTSaHfyW7H1j2RMSVa0PEdVKSU058iI1gOyNnFFgGyA7ovZQ+nH/ZJTz4cYfitylo4PyxTvN1zDDTFp7pnGcB1kGF2gR/n5l4LWc9d/olgIBkCvhSVSpRZX2o5zbc7zrfGozwtwz8iFo+XIWpHYTHvT7kbN5kcnRnnU7cjuKuWD4B7YRCIMDeU8x0UcBUXr6eiH8usaW+2UwY7yveQx00i/3IDMX6LL5e2llRAj/abl9E+8vkV5+he5X36j16oxvYokiamNMiv1HhuTZJZdlCNveKeYAOVS964i/iI2l2AYaPGa7tAn2j3OOJTrDNvHKFQL1qSPn1gHCr51zV+6HlDpLHvRN8qoRId9FHry3skejg3BlXQiUhuO/qf00Oy0oL3SgrVPxdijNUMTl3Na+b377MiwIePtYugoQ4koi3pHF3JWuDceCkZ5DcndeyPaBsCN8YDQ7+xf8+9JmdqRd90/87AjbILExlx53o2jIe6CK7LRo04ccR1G6BJoWLRU6Vihtc5VatdyIxQ7AGiZmdp8hxMK8m6GCzGRGyfEroArFcwVGYzKLblw0DuXSv34OhSTUdMsoYpEto3sxLMfcwi8yI31p7bPgZVJr2ujOzM321zye30lwYdmcGg19BoMXoXhoab4D2bBDXhO0323iSIkDTLLpocgSyDY+8Izor1kJjvSyJZfNYc+oQs/DY01Yr9+BhCrS+aDseOmBnS7K0GlpDx7aJirc/r44W2G+fz3g0znp19Jb6OP/rnhqBkqHALwr2ZZshCt9k+0dXV1igrJf+dZsZPFiUaqfXcjDtcedgzl4P6xCaHNZ4RnI9s3WjrnZbk2B4zxintU74QusrKDEGv4NKH/qfqgqYTQtJ9Vgdg1aJ0F7mW/luAN71kuE8wOJRSZuzqTrb9VmkU8rEwJNO3Wr51D3E9oJwZXgc/qSWjDD4kPu3Hg4=">
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['FormsForm'];
if (!theForm) {
    theForm = document.FormsForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="../javascript/WebResource(1).axd" type="text/javascript"></script>


<script src="../javascript/ScriptResource.axd" type="text/javascript"></script>
<script src="../javascript/ScriptResource(1).axd" type="text/javascript"></script>
<script src="../javascript/ScriptResource(2).axd" type="text/javascript"></script>
<script src="../javascript/PersonalForm.aspx" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function WebForm_OnSubmit() {
if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
return true;
}
//]]>
</script>

<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="260F296F">
	<input type="hidden" name="__VIEWSTATEENCRYPTED" id="__VIEWSTATEENCRYPTED" value="">
</div>
        <div id="divnew" class="medium">
            <div id="main">
                <div id="header">
                    
<style type="text/css">
    #clockdiv
    {
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size:  0.75em;
    }

        #clockdiv > div
        {
            padding: 5px;
            border-radius: 3px;
            background: #2e62a4;
            display: inline-block;
        }

        #clockdiv div > span
        {
            padding: 5px;
            border-radius: 3px;
            background: #003481;
            display: inline-block;
        }

    .smalltext
    {
        padding-top: 5px;
        font-size: 10px;
    }
     blink, .blink {
         animation: blinker 1s linear infinite;
         }
         @keyframes blinker {  
         50% { opacity: 0; }
         }
</style>
<div class="topdiv">
    <div class="topbuton container">
    </div>
</div>
<div class="top_banner">
    <div class="container in_banner">
        <div class=" logo col-md-3 col-sm-3 col-xs-12">
            <img id="" class="img-responsive" src="http://www.tecsok.com/wp-content/uploads/2018/02/tecsok-2.png" style="border-width:0px;">
           
        </div>
        <div class="banner_text col-md-6 col-sm-6 col-xs-12">
            <h2 class="text-center">
                <span id=""><b><u>Technical Consultancy Service Organisation of Karnataka</u></b></span>
            </h2>
            <h4 class="text-center">
                <span id="">Online Application Portal </span>
            </h4>
        </div>
        <div class=" logo col-md-3 col-sm-3 col-xs-12">

      
            
        </div>
    </div>
</div>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="">            
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="">HELP</a></li>  
        <li><a href="/user/logout" id="">LOGOUT</a></li> 
        

         </ul>

    </div>
</div>
</nav>
                <div class="container-fluid" id="main-content">
                    <div id="dvLeftMenu">
                        <div>
                            <div class="navbar-default sidebar" role="navigation">
                                <div class="sidebar-nav navbar-collapse" aria-expanded="false" style="min-height: 570px; background-color: #bd135b;">
                                    <ul class="nav in" id="side-menu">
                                        <li>
                                            <a href="/<%=user.username%>/dashboard"><i class="fa fa-home fa-fw"></i><span id="liHome">Home</span> </a>
                                        </li>
                                        <li>
                                            <a href="/<%=user.username%>/profile"><i class="fa fa-user fa-fw"></i><span id="liProfileCreation">Profile Creation</span></a>
                                        </li>
                                        <li><a href="/<%=user.username%>/View"><i class="fa fa-angle-double-right fa-fw" style="background-color: white ; color: #bd135b;"></i><span id="liView" >View &amp; Print Profile</span></a></li>
                                        <li>
                                            <a href="/<%=user.username%>/dashboard""><i class="fa fa-file fa-fw"></i><span id="lionlineApp">Online Application</span></a>
                                        </li>
                                        <li>
                                            <a href="/<%=user.username%>/application"><i class="fa fa-street-view fa-fw"></i><span id="liMyApplication">My Application</span></a>
                                        </li>
                                        <li><a href="/<%=user.username%>/request"><i class="fa fa-user fa-fw"></i><span id="liMyRequest">My Request</span></a></li>
                                        <li>
                                            <a href="/<%=user.username%>/dashboard""><i class="fa fa-info-circle fa-fw"></i><span id="liHelp">Help</span></a>
                                        </li>
                                        
                                        
                                    </ul>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div id="page-wrapper">
                        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ToolkitScriptManager1', 'FormsForm', ['tctl00$FormsPH$UPPersnDet','FormsPH_UPPersnDet','tctl00$FormsPH$UpdatePanel1','FormsPH_UpdatePanel1','tctl00$UpdRandomToken','UpdRandomToken'], [], ['ctl00$FormsPH$btnSavePersonelDet','FormsPH_btnSavePersonelDet'], 90, 'ctl00');
//]]>
</script>

                        
    <script type="text/javascript" language="javascript">
        function EncryptAadharNo() {
            if (!Page_ClientValidate("SAVEPerDet")) {
                return false;
            }
        }
    </script>
    <table id="FormsPH_tblMain" width="100%">
	<tbody><tr>
		<td>
                

<script type="text/javascript">

    $(function () {
        // this will get the full URL at the address bar
        var url = window.location.href;
      
        // passes on every "a" tag 
        $("#cssmenu a").each(function () {
           
            // checks if its the same on the address bar
            if (url.indexOf($(this).attr('navigateurl')) > 0) {
                
                if ($(this).closest("li").hasClass("Complete")) {
                    $(this).closest("li").removeClass("Complete");
                    $(this).closest("li").addClass("CompleteActive");
                }

                if ($(this).closest("li").hasClass("InComplete")) {
                    $(this).closest("li").removeClass("InComplete");
                    $(this).closest("li").addClass("InCompleteActive");
                }
            }

        });


    });


    function SelectProfileTab(ProfileTabID) {

        var varUnsavedChanges = document.getElementById('FormsPH_uxProfileMenu_hdnUnsavedChanges').value;

        if (varUnsavedChanges == 'Unsaved') {
            if (confirm('It looks like you have been editing something. \nIf you leave before saving, your changes will be lost.')) {
                SetProfileTab(ProfileTabID);
            }
        }
        else {
            SetProfileTab(ProfileTabID);
        }
    }

    function SetProfileTab(TabID) {

        if (TabID == 'PersonalForm') {
            location.href = 'PersonalForm.aspx';
        }
        if (TabID == 'AddressForm') {
            location.href = 'AddressForm.aspx';
        }
        if (TabID == 'OtherInfoForm') {
            location.href = 'OtherInfoForm.aspx';
        }
        if (TabID == 'QualificationForm') {
            location.href = 'QualificationForm.aspx';
        }
        if (TabID == 'ExperienceForm') {
            location.href = 'ExperienceForm.aspx';
        }
        if (TabID == 'PhotoSignForm') {
            location.href = 'PhotoSignForm.aspx';
        }
        if (TabID == 'DocumentsForm') {
            location.href = 'DocumentsForm.aspx';
        }
    }
</script>
<table>
    <tbody><tr>
        <td>
            <span id="FormsPH_uxProfileMenu_lblMarks" style="color:Red;font-size:Medium;"> '' * '' marks are mandatory</span>
        </td>
        <td>
            <span id="FormsPH_uxProfileMenu_lblNote" style="color:Red;">If no response found on Save/Add Button, kindly Refresh page (press CTRL + F5) <br>
''Click on Save button to save the information before going to next Step''</span>
        </td>
        <td>
            <span id="FormsPH_uxProfileMenu_lblProfileStatus" style="color:Red;font-size:Medium;font-weight:bold;color:Red;">Profile Status : InComplete</span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <span id="FormsPH_uxProfileMenu_Label1" style="color:Red;font-weight:bold;">These 7 Steps Are Only OTR, Not Application Form. Kindly Go To The Online Application Menu For Apply&nbsp;Notification.</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">
            <div>
            </div>
            <div id="cssmenu">
                <ul>
                    <li id="FormsPH_uxProfileMenu_ProfileStep1" class="InCompleteActive"><a href="https://www.kpscrecruitment.in/Profile/PersonalForm.aspx#" navigateurl="PersonalForm.aspx" onclick="SelectProfileTab(&#39;PersonalForm&#39;);">
                        <span id="FormsPH_uxProfileMenu_stp1">Step1 :</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp1">Personal Details</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep2" class="InComplete"><a href="https://www.kpscrecruitment.in/Profile/PersonalForm.aspx#" navigateurl="AddressForm.aspx" onclick="SelectProfileTab(&#39;AddressForm&#39;);">
                        <span id="FormsPH_uxProfileMenu_stp2">Step2 :</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp2">Address Details</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep3" class="InComplete"><a href="https://www.kpscrecruitment.in/Profile/PersonalForm.aspx#" navigateurl="OtherInfoForm.aspx" onclick="SelectProfileTab(&#39;OtherInfoForm&#39;);">
                        <span id="FormsPH_uxProfileMenu_stp3">Step3 :</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp3">Other Details</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep4" class="InComplete"><a href="https://www.kpscrecruitment.in/Profile/PersonalForm.aspx#" navigateurl="QualificationForm.aspx" onclick="SelectProfileTab(&#39;QualificationForm&#39;);">
                        <span id="FormsPH_uxProfileMenu_stp4">Step4 :</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp4">Educational Qualification</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep5" class="InComplete"><a href="https://www.kpscrecruitment.in/Profile/PersonalForm.aspx#" navigateurl="ExperienceForm.aspx" onclick="SelectProfileTab(&#39;ExperienceForm&#39;);">
                        <span id="FormsPH_uxProfileMenu_stp5">Step5 :</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp5">Work Experience Details</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep6" class="InComplete"><a href="https://www.kpscrecruitment.in/Profile/PersonalForm.aspx#" navigateurl="PhotoSignForm.aspx" onclick="SelectProfileTab(&#39;PhotoSignForm&#39;);">
                        <span id="FormsPH_uxProfileMenu_stp6">Step6 :</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp6">Upload Photo / Signature</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep7" class="InComplete"><a href="https://www.kpscrecruitment.in/Profile/PersonalForm.aspx#" navigateurl="DocumentsForm.aspx" onclick="SelectProfileTab(&#39;DocumentsForm&#39;);">
                        <span id="FormsPH_uxProfileMenu_stp7">Step7 :</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp7">Upload Documents</span>
                    </a></li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <hr style="background-color: #0183b5;">
            <input type="hidden" name="ctl00$FormsPH$uxProfileMenu$hdnUnsavedChanges" id="FormsPH_uxProfileMenu_hdnUnsavedChanges">
        </td>
    </tr>
</tbody></table>

            </td>
	</tr>
	<tr>
		<td valign="top">
                <div>
                    <div id="FormsPH_Panel" onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;FormsPH_Button1&#39;)">
			
                        <div id="FormsPH_tblPersnDet1">
                            <div id="FormsPH_UPPersnDet">
				
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
					<td>
                                                    <fieldset class="RFS">
                                                        <legend id="FormsPH_LGAadhaar" class="RFSL">Identity proof Details</legend>
                                                        <table cellpadding="0" cellspacing="0" width="99%">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="100%">
                                                                        <table cellpadding="0" cellspacing="0" width="100%" class="t_default">
                                                                            <tbody><tr id="FormsPH_TrIdentityDetails1">
						<td style="text-align: left">
                                                                                    <span id="FormsPH_lblIdentitytype">Please Select Identity Type</span><span class="red">* </span>
                                                                                    <br>
                                                                                    <select name="ctl00$FormsPH$ddlIsIdentity" id="FormsPH_ddlIsIdentity" onchange="return IsIdentity(this);" style="width:57%;">
							<option value="">Select</option>
							<option value="PassportNo">Passport Number</option>
							<option value="VoterIDNo">Voter ID Number</option>
							<option value="PANCardNo">PAN Card Number</option>
							<option value="DrivingLicenceNo">Driving Licence Number</option>
							<option value="Others">Others</option>

						</select>
                                                                                    <br>
                                                                                    <span id="FormsPH_reqddlIsIdentity" class="alerttxt" style="color:Red;display:none;">Information is mandatory</span>
                                                                                </td>
						<td style="text-align: left">
                                                                                    <span id="FormsPH_lblIdentityno">Identity Certificate No</span><span class="red">* </span>
                                                                                    <br>
                                                                                    <input name="ctl00$FormsPH$TxtIdentityNo" type="text" maxlength="20" id="TxtIdentityNo" onkeypress="return alphanumericText_only(&#39;|&#39;,event);" onkeyup="this.value=this.value.toUpperCase()" oncopy="return false;" onpaste="return false;" style="width:300px;">
                                                                                    <br>
                                                                                    <span id="FormsPH_reqTxtIdentityNo" class="alerttxt" style="color:Red;display:none;">Information is mandatory</span>
                                                                                </td>
					</tr>
					
                                                                        </tbody></table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </fieldset>
                                                </td>
				</tr>
				
                                            <tr>
                                                <td>
                                                    <fieldset class="RFS">
                                                        <legend id="FormsPH_PersonalDetails" class="RFSL">Personal Details (Field with <span class="red" style="font-size:  1.25em;"> '*' </span> Marks are mandatory)</legend>
                                                        <table cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="t_default">
                                                                            <tbody><tr>
                                                                                <td class="w25" style="text-align: left;">
                                                                                    <span id="FormsPH_IsIndian">Nationality </span>
                                                                                    <span class="red">* </span>
                                                                                    <br>
                                                                                    <select name="ctl00$FormsPH$ddlIsIndian" id="FormsPH_ddlIsIndian" style="width:160px;">
					<option value="">Select</option>
					<option value="I">Indian</option>
					<option value="O">Other</option>

				</select>
                                                                                    <br>
                                                                                    <span id="FormsPH_ReqIsIndian0" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                                                </td>
                                                                                <td class="w25">
                                                                                    <span id="FormsPH_Gender">Gender</span><span class="red">*
                                                                                    </span>
                                                                                    <br>
                                                                                    <select name="ctl00$FormsPH$ddlGender" id="FormsPH_ddlGender" onchange="IsMalefemale(this); FunNoteChange(this);" style="width:160px;">
					<option value="">Select</option>
					<option value="M">Male</option>
					<option value="F">Female</option>

				</select><br>
                                                                                    <span id="FormsPH_rfvddlGender" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span></td>
                                                                                <td colspan="4" style="text-align: left;">
                                                                                    <span id="FormsPH_Name">Full Name (In English as per SSLC /10th std or equivalent  certificate)</span><span class="red">* </span>
                                                                                    <br>
                                                                                    <input name="ctl00$FormsPH$txtName" type="text" maxlength="60" id="FormsPH_txtName" onkeypress="return isCharKey(this, event)" onkeyup="this.value=this.value.toUpperCase()" style="width:95%;">
                                                                                    <br>
                                                                                    <span id="FormsPH_rfvtxtName" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                                                </td>


                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="2" style="text-align: left;">
                                                                                    <span id="FormsPH_Name_LL">Father’s name  as per SSLC /10th std or equivalent  certificate</span><span class="red">* </span>
                                                                                    <br>
                                                                                    <input name="ctl00$FormsPH$txtName_LL" type="text" maxlength="60" id="FormsPH_txtName_LL" onkeypress="return isCharKey(this, event)" onkeyup="this.value=this.value.toUpperCase()" style="width:95%;"><br>
                                                                                    <span id="FormsPH_Label15" style="color:Red;">Parents Name should be as per SSLC /10th std or equivalent  certificate</span>
                                                                                    <span id="FormsPH_rfvtxtName_LL" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                                                </td>

                                                                                <td colspan="2" style="text-align: left">
                                                                                    <span id="FormsPH_MotherName">Mother's Name</span><span class="red">* </span>
                                                                                    <br>
                                                                                    <input name="ctl00$FormsPH$txtMotherName" type="text" maxlength="30" id="FormsPH_txtMotherName" onkeypress="return isCharKey(this, event)" oncopy="return false;" onpaste="return false;" onkeyup="this.value=this.value.toUpperCase()" style="width:95%;">
                                                                                    <span id="FormsPH_rfvtxtMotherName" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                                                </td>
				
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="text-align: left;">
                                                                                    <span id="FormsPH_EmailId">Email Id</span><span class="red">*
                                                                                    </span>
                                                                                    <br>
                                                                                    <input name="ctl00$FormsPH$txtEmailId" type="text" value="harish.jartarghar@gmail.com" maxlength="50" id="FormsPH_txtEmailId" onchange="javascript:ValidateEmail(this);" oncopy="return false;" onpaste="return false;" readonly="true" style="width:75%;">
                                                                                    <span id="FormsPH_rfvtxtEmailId" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                                                </td>

                                                                                <td style="text-align: left;">
                                                                                    <span id="FormsPH_Landline">Landline with STD Code</span>
                                                                                    <br>
                                                                                    <input name="ctl00$FormsPH$txtLandline" type="text" maxlength="12" id="FormsPH_txtLandline" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" style="width:160px;">
                                                                                </td>
                                                                                <td style="text-align: left;">
                                                                                    <span id="FormsPH_Mobile">Mobile Number</span><span class="red">*
                                                                                    </span>
                                                                                    <br>
                                                                                    <input name="ctl00$FormsPH$txtMobile" type="text" value="8762448499" maxlength="10" id="FormsPH_txtMobile" onkeypress="return isNumberKey(this, event)" onchange="javascript:ValidateMobile(this);" oncopy="return false;" onpaste="return false;" readonly="true" style="width:160px;">
                                                                                    <span id="FormsPH_rfvtxtMobile" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                                                </td>
                                                                                <td style="text-align: left;" class="w25">
                                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                        <tbody><tr>
                                                                                            <td style="text-align: left;">
                                                                                                <span id="FormsPH_DOB">Date Of Birth</span><span class="red">*
                                                                                                </span>
                                                                                                <br>
                                                                                                <input name="ctl00$FormsPH$txtDOB" type="text" value="06/03/2000" id="FormsPH_txtDOB" onchange="DateChanged(this);" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" readonly="true" style="width:100px;">
                                                                                                <input type="hidden" name="ctl00$FormsPH$MaskedEditExtender2_ClientState" id="FormsPH_MaskedEditExtender2_ClientState">
                                                                                                <span id="FormsPH_rfvtxtDOB" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                                                            </td>
                                                                                            <td style="text-align: left;">
                                                                                                <span id="FormsPH_Age">Age</span><span class="red">*
                                                                                                </span>
                                                                                                <br>
                                                                                                <input name="ctl00$FormsPH$txtAge" type="text" value="20" maxlength="2" id="FormsPH_txtAge" disabled="disabled" class="aspNetDisabled" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" readonly="true" style="width:60px;">
                                                                                                <span id="FormsPH_rfvtxtAge" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody></table>
                                                                                </td>

                                                                            </tr>



                                                                            <tr>

                                                                                <td style="text-align: left;" class="w25">
                                                                                    <span id="FormsPH_IsDomiciled">Whether Domicile of Karnataka?</span><span class="red">* </span>
                                                                                    <br>
                                                                                    <select name="ctl00$FormsPH$ddlIsDomiciled" id="FormsPH_ddlIsDomiciled" style="width:160px;">
					<option value="">Select</option>
					<option value="N">No</option>
					<option value="Y">Yes</option>

				</select>
                                                                                    <br>
                                                                                    <span id="FormsPH_ReqIsDomiciled0" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                                                    <br>
                                                                                    <span class="red">Note:If you belong to Karnataka state select YES.</span>
                                                                                </td>
                                                                                <td class="w25" style="text-align: left">
                                                                                    <span id="FormsPH_LBLO4">Are you Differently abled Person(PH)?</span><span class="red">* </span>
                                                                                    <br>
                                                                                    <select name="ctl00$FormsPH$ddlIsPhysicallyChallenged" id="FormsPH_ddlIsPhysicallyChallenged" onchange="return IsDisabled(this);" style="width:160px;">
					<option selected="selected" value="">Select</option>
					<option value="N">No</option>
					<option value="Y">Yes</option>

				</select>
                                                                                    <span id="FormsPH_ReqPhysicallyChallenged0" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                                                </td>
                                                                                <td id="FormsPH_Td7" colspan="1" style="text-align: left;">
                                                                                    <span id="FormsPH_IsMarried">Are you Married?</span>
                                                                                    <span class="red">* </span>
                                                                                    <br>
                                                                                    <select name="ctl00$FormsPH$ddlIsMarried" id="FormsPH_ddlIsMarried" onchange="IsMarriedStatus(this);" style="width:160px;">
					<option selected="selected" value="N">Select</option>
					<option value="N">No</option>
					<option value="Y">Yes</option>

				</select>
                                                                                    <span id="FormsPH_rfvddlIsMarried" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                                                </td>
				
                                                                                <td id="FormsPH_TdNameAfterMarriage" style="text-align: left;">
                                                                                    <span id="FormsPH_NameAfterMarriage">Spouse Name</span><span class="red">* </span>
                                                                                    <br>
                                                                                    <input name="ctl00$FormsPH$txtNameAfterMarriage" type="text" maxlength="50" id="FormsPH_txtNameAfterMarriage" onkeypress="return isCharKey(this, event)" oncopy="return false;" onpaste="return false;" onkeyup="this.value=this.value.toUpperCase()" style="width:95%;">
                                                                                    <br>
                                                                                    <span id="FormsPH_ReqNameAfterMarriage" class="alerttxt" style="color: red; display: inline;">Information is mandatory</span>
                                                                                </td>
				
                                                                            </tr>
                                                                            <tr id="FormsPH_trPhcertificate" style="">
					<td class="w25" style="text-align: left">
                                                                                    <span id="FormsPH_lblDisability">If YES, Type of Disability</span>
                                                                                    <span id="FormsPH_lblDisabilityStar" style="color:Red;">*</span>
                                                                                    <br>
                                                                                    <select name="ctl00$FormsPH$ddlDisabilityType" id="FormsPH_ddlDisabilityType" onchange="return IsDisabilityType(this);" style="width:160px;">
						<option selected="selected" value="">Select</option>
						<option value="1">Blind</option>
						<option value="2">Low Vision</option>
						<option value="3">Hearing Impaired</option>
						<option value="4">Leprosy cured</option>
						<option value="5">Mentally retarded</option>
						<option value="6">Mentally ill</option>
						<option value="7">Locomotor(OA/BA/OL/BL/OAL/BAL)</option>
						<option value="8">Cerebral palsy</option>

					</select>
                                                                                    <br>
                                                                                    <span id="FormsPH_ReqDisabilityType" class="alerttxt" style="color: red; display: inline;">Information is Mandatory</span>
                                                                                </td>
					<td class="w25" style="text-align: left">
                                                                                    <span id="FormsPH_lblPercentageOfHandicap">Percentage Of Disability</span>
                                                                                    <span class="red">* </span>
                                                                                    <br>

                                                                                    <input name="ctl00$FormsPH$txtPhpercentage" type="text" maxlength="4" id="FormsPH_txtPhpercentage" onkeypress="return isNumberKey(this, event)" onchange="return OnPhpercentage()" oncopy="return false;" onpaste="return false;" autocomplete="false" style="width:100px;">
                                                                                    <br>
                                                                                    <span id="FormsPH_ReqPhPercent" style="color: red; display: inline;">Information is Mandatory</span>
                                                                                </td>
					<td style="text-align: left;">
                                                                                    <span id="FormsPH_lblPhcertificateno">PH Certificate No :</span>
                                                                                    <span class="red">* </span>
                                                                                    <br>
                                                                                    <input name="ctl00$FormsPH$txtPhcertificatenumber" type="text" maxlength="200" id="FormsPH_txtPhcertificatenumber" onkeypress="return alphanumericText_only(&#39;(|,|)|-|.&#39;,event);" oncopy="return false;" onpaste="return false;" style="width:160px;">
                                                                                    <br>
                                                                                    <span id="FormsPH_ReqPhcertificateno" class="alerttxt" style="color: red; display: inline;">Information is mandatory</span>
                                                                                </td>
					<td style="text-align: left">
                                                                                    <span id="FormsPH_lblCertificateIssuingDate">PH Certificate Issuing Date : </span><span class="red">* </span>
                                                                                    <br>
                                                                                    <input type="hidden" name="ctl00$FormsPH$MaskedEditExtender5_ClientState" id="FormsPH_MaskedEditExtender5_ClientState">
                                                                                    <input name="ctl00$FormsPH$txtIssueDate" type="text" id="FormsPH_txtIssueDate" onchange="return FutureDateValiDation(this);" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" style="width:100px;">
                                                                                    <br>
                                                                                    <span id="FormsPH_ReqIssuedate" class="alerttxt" style="color: red; display: inline;">Information is Mandatory</span>
                                                                                </td>
				</tr>
				
                                                                            <tr id="FormsPH_trScribe" style="display:none;">
					<td style="text-align: left;" colspan="4">
                                                                                    <span id="FormsPH_LBLOD1">Do you require scribe due to Differently abled Person(PH)?</span>
                                                                                    <br>
                                                                                    <select name="ctl00$FormsPH$ddlWriterRequired" id="FormsPH_ddlWriterRequired">
						<option value="">Select</option>
						<option value="N">No</option>
						<option value="Y">Yes</option>

					</select>
                                                                                    <span id="FormsPH_ReqWriterRequired" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                                                </td>
				</tr>
				
                                                                            <tr id="FormsPH_TdLocomotor" style="display:none;">
					<td style="text-align: left;" colspan="4">
                                                                                    <span id="FormsPH_lblLocomotor">Locomotor Type</span>
                                                                                    <br>
                                                                                    <select name="ctl00$FormsPH$ddlLocomotorType" id="FormsPH_ddlLocomotorType">
						<option value="">Select</option>
						<option value="1">OA - ONE ARM AFFECTED RIGHT OR LEFT</option>
						<option value="2">BA - BOTH ARMS AFFECTED</option>
						<option value="3">OL- ONE LEGS AFFECTED RIGHT OR LEFT</option>
						<option value="4">BL - BOTH LEGS AFFECTED BUT NOT ARMS</option>
						<option value="5">OAL - ONE ARM and ONE LEGS AFFECTED</option>
						<option value="6">BAL -BOTH ARM AND BOTH LEGS AFFECTED</option>

					</select>
                                                                                    <span id="FormsPH_ReqLocomotorType" class="alerttxt" style="color:Red;display:none;">Information is mandatory</span>
                                                                                </td>
				</tr>
				
                                                                        </tbody></table>
                                                                    </td>
                                                                </tr>
                                                        </tbody></table>
                                                    </fieldset>
                                                </td>
                                            </tr>

                                            <tr id="FormsPH_TrCaste">
					<td>
                                                    <fieldset class="RFS">
                                                        <legend id="FormsPH_CasteCategoryDetails" class="RFSL">Reservation claimed</legend>
                                                        <table width="100%" class="t_default">
                                                            <tbody><tr>
                                                                <td style="text-align: left;">
                                                                    <span id="FormsPH_Caste">Category</span><span class="red">*
                                                                    </span>
                                                                    <br>
                                                                    <select name="ctl00$FormsPH$ddlCaste" id="FormsPH_ddlCaste" onchange="IsCategory(this);" style="width:160px;">
						<option selected="selected" value="">Select</option>
						<option value="ce18b86d-d7ee-42f7-9d89-862fdca8717d">General/Merit</option>
						<option value="89c65cf1-f41a-4b19-bbe9-5648d65a9ae1">SC</option>
						<option value="a34fca03-c3ac-439d-a3a4-4af1d553e356">ST</option>
						<option value="0ce80d66-da2e-478e-8f82-27f12e2f4ade">Category I</option>
						<option value="217d3feb-28c3-44a3-8e14-202700c62cf2">Category 2A</option>
						<option value="2facec99-1a27-42dd-9d97-4b6501d129c5">Category 2B</option>
						<option value="dcb8990d-a8ec-4430-9d90-263f41baedec">Category 3A</option>
						<option value="fc9c4fc0-693a-4e6d-86ea-0b9060e88c79">Category 3B</option>

					</select>
                                                                    <br>
                                                                    <span id="FormsPH_ReqCaste0" class="alerttxt" style="color: red; display: none;">Information is Mandatory</span>
                                                                </td>

                                                                <td style="text-align: left" colspan="3">
                                                                    <span id="FormsPH_SubCaste">Sub Caste</span>
                                                                    <br>
                                                                    <input name="ctl00$FormsPH$txtSubCaste" type="text" maxlength="50" id="FormsPH_txtSubCaste" onkeypress="return isCharKey(this, event)" oncopy="return false;" onpaste="return false;" style="width:160px;">
                                                                </td>
                                                            </tr>
                                                            <tr id="FormsPH_trCasteDetails" style="">
						<td class="w25" align="left">
                                                                    <span id="FormsPH_lblCasteNo">Certificate No.(RD No.)</span><span class="red">* </span>
                                                                    <br>
                                                                    <input name="ctl00$FormsPH$txtCasteNo" type="text" maxlength="200" id="FormsPH_txtCasteNo" onkeypress="return alphanumericText_only(&#39;(|,|)|-|.&#39;,event);" oncopy="return false;" onpaste="return false;" style="width:160px;">
                                                                    <br>
                                                                    <span id="FormsPH_ReqCasteNo" class="alerttxt" style="color:Red;display:none;">Information is mandatory</span>
                                                                </td>
						<td class="w25" align="left">
                                                                    <span id="FormsPH_lblCasteNoPlace">Place of issue</span><span class="red">*
                                                                    </span>
                                                                    <br>
                                                                    <select name="ctl00$FormsPH$ddlCasteNoPlace" id="FormsPH_ddlCasteNoPlace" style="width:160px;">
							

						<option value="">Select District</option><option value="556">Bagalkot</option><option value="572">Bangalore</option><option value="583">Bangalore Rural</option><option value="555">Belgaum</option><option value="565">Bellary</option><option value="558">Bidar</option><option value="557">Bijapur</option><option value="578">Chamarajanagar</option><option value="582">Chikkaballapura</option><option value="570">Chikmagalur</option><option value="566">Chitradurga</option><option value="575">Dakshina Kannada</option><option value="567">Davanagere</option><option value="562">Dharwad</option><option value="561">Gadag</option><option value="579">Gulbarga</option><option value="574">Hassan</option><option value="564">Haveri</option><option value="576">Kodagu</option><option value="581">Kolar</option><option value="560">Koppal</option><option value="573">Mandya</option><option value="577">Mysore</option><option value="559">Raichur</option><option value="584">Ramanagara</option><option value="568">Shimoga</option><option value="571">Tumkur</option><option value="569">Udupi</option><option value="563">Uttara Kannada</option><option value="580">Yadgir</option></select>
                                                                    <input type="hidden" name="ctl00$FormsPH$ccdCasteNoPlace_ClientState" id="FormsPH_ccdCasteNoPlace_ClientState" value="::::::">
                                                                    <br>
                                                                    <span id="FormsPH_ReqCasteNoPlace" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                                </td>
						<td class="w25" style="text-align: left">
                                                                    <span id="FormsPH_Label28">Date of issue</span><span class="red">* </span>
                                                                    <br>
                                                                    <input type="hidden" name="ctl00$FormsPH$MaskedEditExtender10_ClientState" id="FormsPH_MaskedEditExtender10_ClientState">
                                                                    <input name="ctl00$FormsPH$txtCastCertificateIssuingDate" type="text" id="FormsPH_txtCastCertificateIssuingDate" onkeydown="return KEYDOWNKPSC();" onchange="return FutureDateValiDation(this);" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" style="width:100px;">
                                                                    <br>
                                                                    <span id="FormsPH_ReqCastCertificateIssuingDate" class="alerttxt" style="color:Red;display:none;">Information is Mandatory</span>
                                                                </td>
						<td id="FormsPH_tdCastCertificateValidUptodate" class="w25" style="text-align: left;">
                                                                    <span id="FormsPH_lblCastCFvalidupto">Valid Upto</span><span class="red">* </span>
                                                                    <br>
                                                                    <input type="hidden" name="ctl00$FormsPH$MaskedEditExtender11_ClientState" id="FormsPH_MaskedEditExtender11_ClientState">
                                                                    <input name="ctl00$FormsPH$txtCastCertificateValidUptodate" type="text" id="FormsPH_txtCastCertificateValidUptodate" onkeydown="return KEYDOWNKPSC();" onkeypress="return isNumberKey(this, event)" onchange="return FutureDateValiDation1(this);" oncopy="return false;" onpaste="return false;" style="width:100px;">
                                                                    <br>
                                                                    <span id="FormsPH_reqCastCertificateValidUptodate" class="alerttxt" style="color:Red;display:none;">Information is mandatory</span>
                                                                </td>
					</tr>
					
                                                        </tbody></table>
                                                    </fieldset>
                                                </td>
				</tr>
				
                                            <tr>
                                                <td align="center">
                                                    <table width="100%" border="0">
                                                        <tbody><tr>
                                                            <td align="right" style="width: 55%">
                                                                <input type="submit" name="ctl00$FormsPH$btnSavePersonelDet" value="Save" onclick=" return EncryptAadharNo(); ;WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$FormsPH$btnSavePersonelDet&quot;, &quot;&quot;, true, &quot;SAVEPerDet&quot;, &quot;&quot;, false, false))" id="FormsPH_btnSavePersonelDet" class="positive" style="width:80px;">
                                                                <input type="submit" name="ctl00$FormsPH$Button1" value="" onclick="return false;" id="FormsPH_Button1" style="display: none;">
                                                                <div id="FormsPH_ValidationSummary1" style="display:none;">

				</div>
                                                            </td>
                                                            <td align="right">
                                                                <input type="submit" name="ctl00$FormsPH$btnNext" value="Next" onclick=" return ConfirmNext(); ;" id="FormsPH_btnNext" class="positive" style="width:80px;">
                                                            </td>
                                                        </tr>
                                                    </tbody></table>
                                                </td>
                                            </tr>
                                            <tr style="height: 40px;">
                                                <td align="center">&nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                
			</div>
                        </div>
                    
		</div>
                </div>
            </td>
	</tr>
</tbody></table>


    <span id="FormsPH_Save" style="display: none"></span>

    <div id="FormsPH_UpdatePanel1">
	
            <div style="display: none;">

                <input type="hidden" name="ctl00$FormsPH$hdnLangID" id="FormsPH_hdnLangID" value="1">
                <input type="hidden" name="ctl00$FormsPH$hdnEditRow" id="FormsPH_hdnEditRow" value="Kindly Update Edited details.">
                <input type="hidden" name="ctl00$FormsPH$hdnAadhaarNo" id="FormsPH_hdnAadhaarNo">
                <input name="ctl00$FormsPH$hdnv" type="hidden" id="FormsPH_hdnv">
                <input name="ctl00$FormsPH$hdniv" type="hidden" id="FormsPH_hdniv">

            </div>
        
</div>

    <div id="FormsPH_UpdateProgress1" style="display:none;" role="status" aria-hidden="true">
	
            <div class="popUpDiv">
                <div class="popUpBG">
                </div>
                <div class="popUpImage">
                    <img src="./1_files/pleaseWait.gif" alt="Please Wait!">
                </div>
            </div>
        
</div>

                    </div>
                </div>
                <div id="bottom">
                    


                    <div class="rounded_footer">
                        <div class="left_footer">
                        </div>
                        <div class="right_footer">
                        </div>
                    </div>
                    </div>
                    <div class="cleaner">
                    </div>
                    <div id="footer">
                    <div class="container-fluid">
                        <p>
                            <span id="ctl00_lblDisclaimer"></span><span id="ctl00_lblVersion"> </span></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="UpdRandomToken">
	
                <div style="display: none">
                    <input type="hidden" name="ctl00$HdnRandomToken" id="HdnRandomToken">
                </div>
            
</div>
        <script src="../javascript/common.js" type="text/javascript"></script>
    
<script type="text/javascript">
//<![CDATA[
var Page_ValidationSummaries =  new Array(document.getElementById("FormsPH_ValidationSummary1"));
var Page_Validators =  new Array(document.getElementById("FormsPH_reqddlIsIdentity"), document.getElementById("FormsPH_reqTxtIdentityNo"), document.getElementById("FormsPH_ReqIsIndian0"), document.getElementById("FormsPH_rfvddlGender"), document.getElementById("FormsPH_rfvtxtName"), document.getElementById("FormsPH_rfvtxtName_LL"), document.getElementById("FormsPH_rfvtxtMotherName"), document.getElementById("FormsPH_rfvtxtEmailId"), document.getElementById("FormsPH_rfvtxtMobile"), document.getElementById("FormsPH_rfvtxtDOB"), document.getElementById("FormsPH_rfvtxtAge"), document.getElementById("FormsPH_ReqIsDomiciled0"), document.getElementById("FormsPH_ReqPhysicallyChallenged0"), document.getElementById("FormsPH_rfvddlIsMarried"), document.getElementById("FormsPH_ReqNameAfterMarriage"), document.getElementById("FormsPH_ReqDisabilityType"), document.getElementById("FormsPH_ReqPhPercent"), document.getElementById("FormsPH_ReqPhcertificateno"), document.getElementById("FormsPH_ReqIssuedate"), document.getElementById("FormsPH_ReqWriterRequired"), document.getElementById("FormsPH_ReqLocomotorType"), document.getElementById("FormsPH_ReqCaste0"), document.getElementById("FormsPH_ReqCasteNo"), document.getElementById("FormsPH_ReqCasteNoPlace"), document.getElementById("FormsPH_ReqCastCertificateIssuingDate"), document.getElementById("FormsPH_reqCastCertificateValidUptodate"));
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
var FormsPH_reqddlIsIdentity = document.all ? document.all["FormsPH_reqddlIsIdentity"] : document.getElementById("FormsPH_reqddlIsIdentity");
FormsPH_reqddlIsIdentity.controltovalidate = "FormsPH_ddlIsIdentity";
FormsPH_reqddlIsIdentity.focusOnError = "t";
FormsPH_reqddlIsIdentity.errormessage = "Information is mandatory";
FormsPH_reqddlIsIdentity.display = "Dynamic";
FormsPH_reqddlIsIdentity.validationGroup = "SAVEPerDet";
FormsPH_reqddlIsIdentity.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_reqddlIsIdentity.initialvalue = "";
var FormsPH_reqTxtIdentityNo = document.all ? document.all["FormsPH_reqTxtIdentityNo"] : document.getElementById("FormsPH_reqTxtIdentityNo");
FormsPH_reqTxtIdentityNo.controltovalidate = "TxtIdentityNo";
FormsPH_reqTxtIdentityNo.focusOnError = "t";
FormsPH_reqTxtIdentityNo.errormessage = "Information is mandatory";
FormsPH_reqTxtIdentityNo.display = "Dynamic";
FormsPH_reqTxtIdentityNo.validationGroup = "SAVEPerDet";
FormsPH_reqTxtIdentityNo.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_reqTxtIdentityNo.initialvalue = "";
var FormsPH_ReqIsIndian0 = document.all ? document.all["FormsPH_ReqIsIndian0"] : document.getElementById("FormsPH_ReqIsIndian0");
FormsPH_ReqIsIndian0.controltovalidate = "FormsPH_ddlIsIndian";
FormsPH_ReqIsIndian0.focusOnError = "t";
FormsPH_ReqIsIndian0.errormessage = "Information is Mandatory";
FormsPH_ReqIsIndian0.display = "Dynamic";
FormsPH_ReqIsIndian0.validationGroup = "SAVEPerDet";
FormsPH_ReqIsIndian0.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqIsIndian0.initialvalue = "";
var FormsPH_rfvddlGender = document.all ? document.all["FormsPH_rfvddlGender"] : document.getElementById("FormsPH_rfvddlGender");
FormsPH_rfvddlGender.controltovalidate = "FormsPH_ddlGender";
FormsPH_rfvddlGender.focusOnError = "t";
FormsPH_rfvddlGender.errormessage = "Information is Mandatory";
FormsPH_rfvddlGender.display = "Dynamic";
FormsPH_rfvddlGender.validationGroup = "SAVEPerDet";
FormsPH_rfvddlGender.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_rfvddlGender.initialvalue = "";
var FormsPH_rfvtxtName = document.all ? document.all["FormsPH_rfvtxtName"] : document.getElementById("FormsPH_rfvtxtName");
FormsPH_rfvtxtName.controltovalidate = "FormsPH_txtName";
FormsPH_rfvtxtName.focusOnError = "t";
FormsPH_rfvtxtName.errormessage = "Information is Mandatory";
FormsPH_rfvtxtName.display = "Dynamic";
FormsPH_rfvtxtName.validationGroup = "SAVEPerDet";
FormsPH_rfvtxtName.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_rfvtxtName.initialvalue = "";
var FormsPH_rfvtxtName_LL = document.all ? document.all["FormsPH_rfvtxtName_LL"] : document.getElementById("FormsPH_rfvtxtName_LL");
FormsPH_rfvtxtName_LL.controltovalidate = "FormsPH_txtName_LL";
FormsPH_rfvtxtName_LL.focusOnError = "t";
FormsPH_rfvtxtName_LL.errormessage = "Information is Mandatory";
FormsPH_rfvtxtName_LL.display = "Dynamic";
FormsPH_rfvtxtName_LL.validationGroup = "SAVEPerDet";
FormsPH_rfvtxtName_LL.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_rfvtxtName_LL.initialvalue = "";
var FormsPH_rfvtxtMotherName = document.all ? document.all["FormsPH_rfvtxtMotherName"] : document.getElementById("FormsPH_rfvtxtMotherName");
FormsPH_rfvtxtMotherName.controltovalidate = "FormsPH_txtMotherName";
FormsPH_rfvtxtMotherName.focusOnError = "t";
FormsPH_rfvtxtMotherName.errormessage = "Information is Mandatory";
FormsPH_rfvtxtMotherName.display = "Dynamic";
FormsPH_rfvtxtMotherName.validationGroup = "SAVEPerDet";
FormsPH_rfvtxtMotherName.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_rfvtxtMotherName.initialvalue = "";
var FormsPH_rfvtxtEmailId = document.all ? document.all["FormsPH_rfvtxtEmailId"] : document.getElementById("FormsPH_rfvtxtEmailId");
FormsPH_rfvtxtEmailId.controltovalidate = "FormsPH_txtEmailId";
FormsPH_rfvtxtEmailId.focusOnError = "t";
FormsPH_rfvtxtEmailId.errormessage = "Information is Mandatory";
FormsPH_rfvtxtEmailId.display = "Dynamic";
FormsPH_rfvtxtEmailId.validationGroup = "SAVEPerDet";
FormsPH_rfvtxtEmailId.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_rfvtxtEmailId.initialvalue = "";
var FormsPH_rfvtxtMobile = document.all ? document.all["FormsPH_rfvtxtMobile"] : document.getElementById("FormsPH_rfvtxtMobile");
FormsPH_rfvtxtMobile.controltovalidate = "FormsPH_txtMobile";
FormsPH_rfvtxtMobile.focusOnError = "t";
FormsPH_rfvtxtMobile.errormessage = "Information is Mandatory";
FormsPH_rfvtxtMobile.display = "Dynamic";
FormsPH_rfvtxtMobile.validationGroup = "SAVEPerDet";
FormsPH_rfvtxtMobile.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_rfvtxtMobile.initialvalue = "";
var FormsPH_rfvtxtDOB = document.all ? document.all["FormsPH_rfvtxtDOB"] : document.getElementById("FormsPH_rfvtxtDOB");
FormsPH_rfvtxtDOB.controltovalidate = "FormsPH_txtDOB";
FormsPH_rfvtxtDOB.focusOnError = "t";
FormsPH_rfvtxtDOB.errormessage = "Information is Mandatory";
FormsPH_rfvtxtDOB.display = "Dynamic";
FormsPH_rfvtxtDOB.validationGroup = "SAVEPerDet";
FormsPH_rfvtxtDOB.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_rfvtxtDOB.initialvalue = "";
var FormsPH_rfvtxtAge = document.all ? document.all["FormsPH_rfvtxtAge"] : document.getElementById("FormsPH_rfvtxtAge");
FormsPH_rfvtxtAge.controltovalidate = "FormsPH_txtAge";
FormsPH_rfvtxtAge.focusOnError = "t";
FormsPH_rfvtxtAge.errormessage = "Information is Mandatory";
FormsPH_rfvtxtAge.display = "Dynamic";
FormsPH_rfvtxtAge.validationGroup = "SAVEPerDet";
FormsPH_rfvtxtAge.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_rfvtxtAge.initialvalue = "";
var FormsPH_ReqIsDomiciled0 = document.all ? document.all["FormsPH_ReqIsDomiciled0"] : document.getElementById("FormsPH_ReqIsDomiciled0");
FormsPH_ReqIsDomiciled0.controltovalidate = "FormsPH_ddlIsDomiciled";
FormsPH_ReqIsDomiciled0.focusOnError = "t";
FormsPH_ReqIsDomiciled0.errormessage = "Information is Mandatory";
FormsPH_ReqIsDomiciled0.display = "Dynamic";
FormsPH_ReqIsDomiciled0.validationGroup = "SAVEPerDet";
FormsPH_ReqIsDomiciled0.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqIsDomiciled0.initialvalue = "";
var FormsPH_ReqPhysicallyChallenged0 = document.all ? document.all["FormsPH_ReqPhysicallyChallenged0"] : document.getElementById("FormsPH_ReqPhysicallyChallenged0");
FormsPH_ReqPhysicallyChallenged0.controltovalidate = "FormsPH_ddlIsPhysicallyChallenged";
FormsPH_ReqPhysicallyChallenged0.focusOnError = "t";
FormsPH_ReqPhysicallyChallenged0.errormessage = "Information is Mandatory";
FormsPH_ReqPhysicallyChallenged0.display = "Dynamic";
FormsPH_ReqPhysicallyChallenged0.validationGroup = "SAVEPerDet";
FormsPH_ReqPhysicallyChallenged0.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqPhysicallyChallenged0.initialvalue = "";
var FormsPH_rfvddlIsMarried = document.all ? document.all["FormsPH_rfvddlIsMarried"] : document.getElementById("FormsPH_rfvddlIsMarried");
FormsPH_rfvddlIsMarried.controltovalidate = "FormsPH_ddlIsMarried";
FormsPH_rfvddlIsMarried.focusOnError = "t";
FormsPH_rfvddlIsMarried.errormessage = "Information is Mandatory";
FormsPH_rfvddlIsMarried.display = "Dynamic";
FormsPH_rfvddlIsMarried.validationGroup = "SAVEPerDet";
FormsPH_rfvddlIsMarried.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_rfvddlIsMarried.initialvalue = "";
var FormsPH_ReqNameAfterMarriage = document.all ? document.all["FormsPH_ReqNameAfterMarriage"] : document.getElementById("FormsPH_ReqNameAfterMarriage");
FormsPH_ReqNameAfterMarriage.controltovalidate = "FormsPH_txtNameAfterMarriage";
FormsPH_ReqNameAfterMarriage.focusOnError = "t";
FormsPH_ReqNameAfterMarriage.errormessage = "Information is mandatory";
FormsPH_ReqNameAfterMarriage.display = "Dynamic";
FormsPH_ReqNameAfterMarriage.enabled = "False";
FormsPH_ReqNameAfterMarriage.validationGroup = "SAVEPerDet";
FormsPH_ReqNameAfterMarriage.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqNameAfterMarriage.initialvalue = "";
var FormsPH_ReqDisabilityType = document.all ? document.all["FormsPH_ReqDisabilityType"] : document.getElementById("FormsPH_ReqDisabilityType");
FormsPH_ReqDisabilityType.controltovalidate = "FormsPH_ddlDisabilityType";
FormsPH_ReqDisabilityType.focusOnError = "t";
FormsPH_ReqDisabilityType.errormessage = "Information is Mandatory";
FormsPH_ReqDisabilityType.display = "Dynamic";
FormsPH_ReqDisabilityType.enabled = "False";
FormsPH_ReqDisabilityType.validationGroup = "SAVEPerDet";
FormsPH_ReqDisabilityType.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqDisabilityType.initialvalue = "";
var FormsPH_ReqPhPercent = document.all ? document.all["FormsPH_ReqPhPercent"] : document.getElementById("FormsPH_ReqPhPercent");
FormsPH_ReqPhPercent.controltovalidate = "FormsPH_txtPhpercentage";
FormsPH_ReqPhPercent.focusOnError = "t";
FormsPH_ReqPhPercent.errormessage = "Information is Mandatory";
FormsPH_ReqPhPercent.display = "Dynamic";
FormsPH_ReqPhPercent.enabled = "False";
FormsPH_ReqPhPercent.validationGroup = "SAVEPerDet";
FormsPH_ReqPhPercent.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqPhPercent.initialvalue = "";
var FormsPH_ReqPhcertificateno = document.all ? document.all["FormsPH_ReqPhcertificateno"] : document.getElementById("FormsPH_ReqPhcertificateno");
FormsPH_ReqPhcertificateno.controltovalidate = "FormsPH_txtPhcertificatenumber";
FormsPH_ReqPhcertificateno.focusOnError = "t";
FormsPH_ReqPhcertificateno.errormessage = "Information is mandatory";
FormsPH_ReqPhcertificateno.display = "Dynamic";
FormsPH_ReqPhcertificateno.enabled = "False";
FormsPH_ReqPhcertificateno.validationGroup = "SAVEPerDet";
FormsPH_ReqPhcertificateno.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqPhcertificateno.initialvalue = "";
var FormsPH_ReqIssuedate = document.all ? document.all["FormsPH_ReqIssuedate"] : document.getElementById("FormsPH_ReqIssuedate");
FormsPH_ReqIssuedate.controltovalidate = "FormsPH_txtIssueDate";
FormsPH_ReqIssuedate.focusOnError = "t";
FormsPH_ReqIssuedate.errormessage = "Information is Mandatory";
FormsPH_ReqIssuedate.display = "Dynamic";
FormsPH_ReqIssuedate.enabled = "False";
FormsPH_ReqIssuedate.validationGroup = "SAVEPerDet";
FormsPH_ReqIssuedate.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqIssuedate.initialvalue = "";
var FormsPH_ReqWriterRequired = document.all ? document.all["FormsPH_ReqWriterRequired"] : document.getElementById("FormsPH_ReqWriterRequired");
FormsPH_ReqWriterRequired.controltovalidate = "FormsPH_ddlWriterRequired";
FormsPH_ReqWriterRequired.focusOnError = "t";
FormsPH_ReqWriterRequired.errormessage = "Information is Mandatory";
FormsPH_ReqWriterRequired.display = "Dynamic";
FormsPH_ReqWriterRequired.enabled = "False";
FormsPH_ReqWriterRequired.validationGroup = "SAVEPerDet";
FormsPH_ReqWriterRequired.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqWriterRequired.initialvalue = "";
var FormsPH_ReqLocomotorType = document.all ? document.all["FormsPH_ReqLocomotorType"] : document.getElementById("FormsPH_ReqLocomotorType");
FormsPH_ReqLocomotorType.controltovalidate = "FormsPH_ddlLocomotorType";
FormsPH_ReqLocomotorType.focusOnError = "t";
FormsPH_ReqLocomotorType.errormessage = "Information is mandatory";
FormsPH_ReqLocomotorType.display = "Dynamic";
FormsPH_ReqLocomotorType.enabled = "False";
FormsPH_ReqLocomotorType.validationGroup = "SAVEPerDet";
FormsPH_ReqLocomotorType.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqLocomotorType.initialvalue = "";
var FormsPH_ReqCaste0 = document.all ? document.all["FormsPH_ReqCaste0"] : document.getElementById("FormsPH_ReqCaste0");
FormsPH_ReqCaste0.controltovalidate = "FormsPH_ddlCaste";
FormsPH_ReqCaste0.focusOnError = "t";
FormsPH_ReqCaste0.errormessage = "Information is Mandatory";
FormsPH_ReqCaste0.display = "Dynamic";
FormsPH_ReqCaste0.validationGroup = "SAVEPerDet";
FormsPH_ReqCaste0.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqCaste0.initialvalue = "";
var FormsPH_ReqCasteNo = document.all ? document.all["FormsPH_ReqCasteNo"] : document.getElementById("FormsPH_ReqCasteNo");
FormsPH_ReqCasteNo.controltovalidate = "FormsPH_txtCasteNo";
FormsPH_ReqCasteNo.focusOnError = "t";
FormsPH_ReqCasteNo.errormessage = "Information is mandatory";
FormsPH_ReqCasteNo.display = "Dynamic";
FormsPH_ReqCasteNo.validationGroup = "SAVEPerDet";
FormsPH_ReqCasteNo.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqCasteNo.initialvalue = "";
var FormsPH_ReqCasteNoPlace = document.all ? document.all["FormsPH_ReqCasteNoPlace"] : document.getElementById("FormsPH_ReqCasteNoPlace");
FormsPH_ReqCasteNoPlace.controltovalidate = "FormsPH_ddlCasteNoPlace";
FormsPH_ReqCasteNoPlace.focusOnError = "t";
FormsPH_ReqCasteNoPlace.errormessage = "Information is Mandatory";
FormsPH_ReqCasteNoPlace.display = "Dynamic";
FormsPH_ReqCasteNoPlace.validationGroup = "SAVEPerDet";
FormsPH_ReqCasteNoPlace.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqCasteNoPlace.initialvalue = "";
var FormsPH_ReqCastCertificateIssuingDate = document.all ? document.all["FormsPH_ReqCastCertificateIssuingDate"] : document.getElementById("FormsPH_ReqCastCertificateIssuingDate");
FormsPH_ReqCastCertificateIssuingDate.controltovalidate = "FormsPH_txtCastCertificateIssuingDate";
FormsPH_ReqCastCertificateIssuingDate.focusOnError = "t";
FormsPH_ReqCastCertificateIssuingDate.errormessage = "Information is Mandatory";
FormsPH_ReqCastCertificateIssuingDate.display = "Dynamic";
FormsPH_ReqCastCertificateIssuingDate.validationGroup = "SAVEPerDet";
FormsPH_ReqCastCertificateIssuingDate.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqCastCertificateIssuingDate.initialvalue = "";
var FormsPH_reqCastCertificateValidUptodate = document.all ? document.all["FormsPH_reqCastCertificateValidUptodate"] : document.getElementById("FormsPH_reqCastCertificateValidUptodate");
FormsPH_reqCastCertificateValidUptodate.controltovalidate = "FormsPH_txtCastCertificateValidUptodate";
FormsPH_reqCastCertificateValidUptodate.focusOnError = "t";
FormsPH_reqCastCertificateValidUptodate.errormessage = "Information is mandatory";
FormsPH_reqCastCertificateValidUptodate.display = "Dynamic";
FormsPH_reqCastCertificateValidUptodate.enabled = "False";
FormsPH_reqCastCertificateValidUptodate.validationGroup = "SAVEPerDet";
FormsPH_reqCastCertificateValidUptodate.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_reqCastCertificateValidUptodate.initialvalue = "";
var FormsPH_ValidationSummary1 = document.all ? document.all["FormsPH_ValidationSummary1"] : document.getElementById("FormsPH_ValidationSummary1");
FormsPH_ValidationSummary1.showmessagebox = "True";
FormsPH_ValidationSummary1.showsummary = "False";
FormsPH_ValidationSummary1.displaymode = "List";
FormsPH_ValidationSummary1.validationGroup = "SAVEPerDet";
//]]>
</script>

<script type="text/javascript" src="../javascript/MaskedEditFix.js"></script>
<script type="text/javascript">
//<![CDATA[
(function() {var fn = function() {$get("ToolkitScriptManager1_HiddenField").value = '';Sys.Application.remove_init(fn);};Sys.Application.add_init(fn);})();
var Page_ValidationActive = false;
if (typeof(ValidatorOnLoad) == "function") {
    ValidatorOnLoad();
}

function ValidatorOnSubmit() {
    if (Page_ValidationActive) {
        return ValidatorCommonOnSubmit();
    }
    else {
        return true;
    }
}
        
(function(id) {
    var e = document.getElementById(id);
    if (e) {
        e.dispose = function() {
            Array.remove(Page_ValidationSummaries, document.getElementById(id));
        }
        e = null;
    }
})('FormsPH_ValidationSummary1');

document.getElementById('FormsPH_reqddlIsIdentity').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_reqddlIsIdentity'));
}

document.getElementById('FormsPH_reqTxtIdentityNo').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_reqTxtIdentityNo'));
}

document.getElementById('FormsPH_ReqIsIndian0').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqIsIndian0'));
}

document.getElementById('FormsPH_rfvddlGender').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_rfvddlGender'));
}

document.getElementById('FormsPH_rfvtxtName').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_rfvtxtName'));
}

document.getElementById('FormsPH_rfvtxtName_LL').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_rfvtxtName_LL'));
}

document.getElementById('FormsPH_rfvtxtMotherName').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_rfvtxtMotherName'));
}

document.getElementById('FormsPH_rfvtxtEmailId').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_rfvtxtEmailId'));
}

document.getElementById('FormsPH_rfvtxtMobile').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_rfvtxtMobile'));
}
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.MaskedEditBehavior, {"ClientStateFieldID":"FormsPH_MaskedEditExtender2_ClientState","CultureAMPMPlaceholder":"AM;PM","CultureCurrencySymbolPlaceholder":"£","CultureDateFormat":"DMY","CultureDatePlaceholder":"/","CultureDecimalPlaceholder":".","CultureName":"en-GB","CultureThousandsPlaceholder":",","CultureTimePlaceholder":":","ErrorTooltipEnabled":true,"Mask":"99/99/9999","MaskType":1,"id":"FormsPH_MaskedEditExtender2"}, null, null, $get("FormsPH_txtDOB"));
});

document.getElementById('FormsPH_rfvtxtDOB').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_rfvtxtDOB'));
}

document.getElementById('FormsPH_rfvtxtAge').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_rfvtxtAge'));
}

document.getElementById('FormsPH_ReqIsDomiciled0').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqIsDomiciled0'));
}

document.getElementById('FormsPH_ReqPhysicallyChallenged0').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqPhysicallyChallenged0'));
}

document.getElementById('FormsPH_rfvddlIsMarried').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_rfvddlIsMarried'));
}

document.getElementById('FormsPH_ReqNameAfterMarriage').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqNameAfterMarriage'));
}

document.getElementById('FormsPH_ReqDisabilityType').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqDisabilityType'));
}

document.getElementById('FormsPH_ReqPhPercent').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqPhPercent'));
}

document.getElementById('FormsPH_ReqPhcertificateno').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqPhcertificateno'));
}
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.MaskedEditBehavior, {"ClientStateFieldID":"FormsPH_MaskedEditExtender5_ClientState","CultureAMPMPlaceholder":"AM;PM","CultureCurrencySymbolPlaceholder":"£","CultureDateFormat":"DMY","CultureDatePlaceholder":"/","CultureDecimalPlaceholder":".","CultureName":"en-GB","CultureThousandsPlaceholder":",","CultureTimePlaceholder":":","ErrorTooltipEnabled":true,"Mask":"99/99/9999","MaskType":1,"id":"FormsPH_MaskedEditExtender5"}, null, null, $get("FormsPH_txtIssueDate"));
});
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.CalendarBehavior, {"format":"dd/MM/yyyy","id":"FormsPH_CalendarExtender9"}, null, null, $get("FormsPH_txtIssueDate"));
});

document.getElementById('FormsPH_ReqIssuedate').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqIssuedate'));
}

document.getElementById('FormsPH_ReqWriterRequired').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqWriterRequired'));
}

document.getElementById('FormsPH_ReqLocomotorType').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqLocomotorType'));
}

document.getElementById('FormsPH_ReqCaste0').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqCaste0'));
}

document.getElementById('FormsPH_ReqCasteNo').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqCasteNo'));
}
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.CascadingDropDownBehavior, {"Category":"District","ClientStateFieldID":"FormsPH_ccdCasteNoPlace_ClientState","LoadingText":"Loading District","PromptText":"Select District","ServiceMethod":"BindDistrictEng","ServicePath":"../WebServices/Address/Address.asmx","id":"FormsPH_ccdCasteNoPlace"}, null, null, $get("FormsPH_ddlCasteNoPlace"));
});

document.getElementById('FormsPH_ReqCasteNoPlace').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqCasteNoPlace'));
}
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.MaskedEditBehavior, {"ClientStateFieldID":"FormsPH_MaskedEditExtender10_ClientState","CultureAMPMPlaceholder":"AM;PM","CultureCurrencySymbolPlaceholder":"£","CultureDateFormat":"DMY","CultureDatePlaceholder":"/","CultureDecimalPlaceholder":".","CultureName":"en-GB","CultureThousandsPlaceholder":",","CultureTimePlaceholder":":","ErrorTooltipEnabled":true,"Mask":"99/99/9999","MaskType":1,"id":"FormsPH_MaskedEditExtender10"}, null, null, $get("FormsPH_txtCastCertificateIssuingDate"));
});
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.CalendarBehavior, {"format":"dd/MM/yyyy","id":"FormsPH_CalendarExtender13"}, null, null, $get("FormsPH_txtCastCertificateIssuingDate"));
});

document.getElementById('FormsPH_ReqCastCertificateIssuingDate').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqCastCertificateIssuingDate'));
}
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.MaskedEditBehavior, {"ClientStateFieldID":"FormsPH_MaskedEditExtender11_ClientState","CultureAMPMPlaceholder":"AM;PM","CultureCurrencySymbolPlaceholder":"£","CultureDateFormat":"DMY","CultureDatePlaceholder":"/","CultureDecimalPlaceholder":".","CultureName":"en-GB","CultureThousandsPlaceholder":",","CultureTimePlaceholder":":","ErrorTooltipEnabled":true,"Mask":"99/99/9999","MaskType":1,"id":"FormsPH_MaskedEditExtender11"}, null, null, $get("FormsPH_txtCastCertificateValidUptodate"));
});
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.CalendarBehavior, {"format":"dd/MM/yyyy","id":"FormsPH_CalendarExtender18"}, null, null, $get("FormsPH_txtCastCertificateValidUptodate"));
});

document.getElementById('FormsPH_reqCastCertificateValidUptodate').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_reqCastCertificateValidUptodate'));
}
Sys.Application.add_init(function() {
    $create(Sys.UI._UpdateProgress, {"associatedUpdatePanelId":"FormsPH_UPPersnDet","displayAfter":500,"dynamicLayout":true}, null, null, $get("FormsPH_UpdateProgress1"));
});
//]]>
</script>


  
   


</body></html>