<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0022)http://localhost:8080/ -->
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>
            Upload photo/Signature
        </title>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link id="ContrastStyleSheet" href="/stylesheets/Layout.css" rel="stylesheet" type="text/css">
        <link id="CultureSheet" href="/stylesheets/LayoutEN.css" rel="stylesheet" type="text/css">
        <link id="Link1" href="/stylesheets/LayoutEN.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/sb-admin-2.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
        
        <link href="/stylesheets/PopStyles.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/fileuploader.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/vscroller.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/GridviewScroll.css" rel="stylesheet" type="text/css">
        <link id="SiteLayoutSheet" href="/stylesheets/Layout1.css" rel="stylesheet" type="text/css">
        <link id="Link2" href="/stylesheets/Site1.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            /* The Modal (background) */
            .mySessionModal-modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }
    
            /* Modal Content */
            .mySessionModal-modal-content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 400px;
            }
    
            /* The Close Button */
            .mySessionModalclose {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }
    
                .mySessionModalclose:hover, .mySessionModalclose:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
        </style>
        <script type="text/javascript">
            function burstCache() {
                if (!navigator.onLine) {
                    document.body.innerHTML = 'Loading.';
                }
            }
            window.history.forward();
            function noBack() { window.history.forward(); }
        </script>
         <style type="text/css">
            .style1 {
                width: 4px;
            }
    
            .auto-style1 {
                width: 618px;
            }
    
            .prsnl_dtl {
                width: 100%;
            }
    
                .prsnl_dtl > tbody > tr > td, .prsnl_dtl > tbody > tr > th, .prsnl_dtl > tfoot > tr > td, .prsnl_dtl > tfoot > tr > th, .prsnl_dtl > thead > tr > td, .prsnl_dtl > thead > tr > th {
                    padding: 8px;
                    line-height: 1px;
                    vertical-align: top;
                    border-top: 1px solid #ddd;
                }
    
            .auto-style2 {
                width: 3px;
            }
        </style>
        
    </head>
    
 
    <body>
        <div class="topdiv">
            <div class="topbuton container">
            </div>
        </div>
        <div class="top_banner">
            <div class="container in_banner">
                <div class=" logo col-md-3 col-sm-3 col-xs-12">
                    <img id="" class="img-responsive" src="http://www.tecsok.com/wp-content/uploads/2018/02/tecsok-2.png" style="border-width:0px;">
                   
                </div>
                <div class="banner_text col-md-6 col-sm-6 col-xs-12">
                    <h2 class="text-center">
                        <span id=""><b><u>Technical Consultancy Service Organisation of Karnataka</u></b></span>
                    </h2>
                    <h4 class="text-center">
                        <span id="">Online Application Portal </span>
                    </h4>
                </div>
                <div class=" logo col-md-3 col-sm-3 col-xs-12">
    
              
                    
                </div>
            </div>
        </div>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="">            
                <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="">HELP</a></li>  
                <li><a href="/user/logout" id="">LOGOUT</a></li> 
                

                 </ul>
    
            </div>
        </div>
        </nav>
        <div id="divnew" class="medium">
            <div id="main">
                <div id="header">
                    
<style type="text/css">
    #clockdiv
    {
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size:  0.75em;
    }

        #clockdiv > div
        {
            padding: 5px;
            border-radius: 3px;
            background: #2e62a4;
            display: inline-block;
        }

        #clockdiv div > span
        {
            padding: 5px;
            border-radius: 3px;
            background: #003481;
            display: inline-block;
        }

    .smalltext
    {
        padding-top: 5px;
        font-size: 10px;
    }
     blink, .blink {
         animation: blinker 1s linear infinite;
         }
         @keyframes blinker {  
         50% { opacity: 0; }
         }
</style>





                </div>
                <div class="container-fluid" id="main-content">
                    <div id="dvLeftMenu">
                        <div>
                            <div class="navbar-default sidebar" role="navigation">
                                <div class="sidebar-nav navbar-collapse" aria-expanded="false" style="min-height: 570px; background-color: #bd135b;">
                                    <ul class="nav in" id="side-menu">
                                        <li>
                                            <a href="/<%=user.username%>/dashboard"><i class="fa fa-home fa-fw"></i><span id="liHome">Home</span> </a>
                                        </li>
                                        <li>
                                            <a href="/<%=user.username%>/profile"><i class="fa fa-user fa-fw"></i><span id="liProfileCreation">Profile Creation</span></a>
                                        </li>
                                        <li><a href="/<%=user.username%>/View"><i class="fa fa-angle-double-right fa-fw" style="background-color: white ; color: #bd135b;"></i><span id="liView" >View &amp; Print Profile</span></a></li>
                                        <li>
                                            <a href="/<%=user.username%>/dashboard""><i class="fa fa-file fa-fw"></i><span id="lionlineApp">Online Application</span></a>
                                        </li>
                                        <li>
                                            <a href="/<%=user.username%>/dashboard""><i class="fa fa-street-view fa-fw"></i><span id="liMyApplication">My Application</span></a>
                                        </li>
                                        <li><a href="/<%=user.username%>/dashboard""><i class="fa fa-user fa-fw"></i><span id="liMyRequest">My Request</span></a></li>
                                        <li>
                                            <a href="/<%=user.username%>/dashboard""><i class="fa fa-info-circle fa-fw"></i><span id="liHelp">Help</span></a>
                                        </li>
                                        
                                        
                                    </ul>
                                </div>
                                <!-- /.sidebar-collapse -->
                            </div>
                        </div>
                    </div>
