<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>
            login
        </title>
        
        <link rel="stylesheet" href="../stylesheets/bootstrap.css">
        <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link id="ContrastStyleSheet" href="../stylesheets/Layout.css" rel="stylesheet" type="text/css">
        <link id="CultureSheet" href="../stylesheets/LayoutEN.css" rel="stylesheet" type="text/css">
        <link id="Link1" href="../stylesheets/LayoutEN.css" rel="stylesheet" type="text/css">
        <link href="../stylesheets/sb-admin-2.css" rel="stylesheet" type="text/css">
        <link href="../stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
        
        <link href="../stylesheets/PopStyles.css" rel="stylesheet" type="text/css">
        <link href="../stylesheets/fileuploader.css" rel="stylesheet" type="text/css">
        <link href="../stylesheets/vscroller.css" rel="stylesheet" type="text/css">
        <link href="../stylesheets/GridviewScroll.css" rel="stylesheet" type="text/css">
        <link id="SiteLayoutSheet" href="../stylesheets/Layout1.css" rel="stylesheet" type="text/css">
        <link id="Link2" href="../stylesheets/Site1.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            /* The Modal (background) */
            .mySessionModal-modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }
    
            /* Modal Content */
            .mySessionModal-modal-content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 400px;
            }
    
            /* The Close Button */
            .mySessionModalclose {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }
    
                .mySessionModalclose:hover, .mySessionModalclose:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
        </style>
        
         <style type="text/css">
            .style1 {
                width: 4px;
            }
    
            .auto-style1 {
                width: 618px;
            }
    
            .prsnl_dtl {
                width: 100%;
            }
    
                .prsnl_dtl > tbody > tr > td, .prsnl_dtl > tbody > tr > th, .prsnl_dtl > tfoot > tr > td, .prsnl_dtl > tfoot > tr > th, .prsnl_dtl > thead > tr > td, .prsnl_dtl > thead > tr > th {
                    padding: 8px;
                    line-height: 1px;
                    vertical-align: top;
                    border-top: 1px solid #ddd;
                }
    
            .auto-style2 {
                width: 3px;
            }
        </style>
        <script type="text/javascript">
            function PrintPanel() {
    
                var panel = document.getElementById('divToPrint');
                var printWindow = window.open('', '', 'height=auto,width=auto');
                printWindow.document.write('<html><head><title>Profile Details</title>   <link href="../stylesheets/Site1.css" id="Link1" rel="stylesheet" type="text/css" /> ');
                printWindow.document.write(' <style type="text/css">   .style1 { width: 4px; }  .auto-style1 { width: 618px; }  .prsnl_dtl { width: 100%; }   .prsnl_dtl > tbody > tr > td, .prsnl_dtl > tbody > tr > th, .prsnl_dtl > tfoot > tr > td, .prsnl_dtl > tfoot > tr > th, .prsnl_dtl > thead > tr > td, .prsnl_dtl > thead > tr > th { padding: 8px; line-height: 1px;  vertical-align: top;  border-top: 1px solid #ddd;        }   .auto-style2 {  width: 3px;   }    </style>');
                printWindow.document.write('</head><body >');
                printWindow.document.write('<table border="0" style="border:solid #000000 1px;" cellpadding="0" cellspacing="0" width="100%">');
                printWindow.document.write('<tr><td>');
                printWindow.document.write(panel.innerHTML);
                printWindow.document.write('</td></tr></table>');
                printWindow.document.write('</body></html>');
                printWindow.document.close();
                printWindow.onload=function(){
                    printWindow.focus();
                
                printWindow.print(),
                printWindow.close();
                }
    
                
                
                document.getElementById('divToHide').style.display = 'none';
                return false;
            }
    
            function callMsg(msg, redirect, newtab) {
                if (msg != '')
                    alert(msg);
    
                if (newtab == 'Y')
                    window.open(redirect, '_blank');  // <- This is what makes it open in a new window.);
                else
                    location.href = redirect;
    
            }
        </script>
    </head>
    
 
    <body>
        <div class="topdiv">
            <div class="topbuton container">
            </div>
        </div>
        <div class="top_banner">
            <div class="container in_banner">
                <div class=" logo col-md-3 col-sm-3 col-xs-12">
                    <img id="" class="img-responsive" src="http://www.tecsok.com/wp-content/uploads/2018/02/tecsok-2.png" style="border-width:0px;">
                   
                </div>
                <div class="banner_text col-md-6 col-sm-6 col-xs-12">
                    <h2 class="text-center">
                        <span id=""><b><u>Technical Consultancy Service Organisation of Karnataka</u></b></span>
                    </h2>
                    <h4 class="text-center">
                        <span id="">Online Application Portal </span>
                    </h4>
                </div>
                <div class=" logo col-md-3 col-sm-3 col-xs-12">
    
              
                    
                </div>
            </div>
        </div>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="">            
                <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="">HELP</a></li>  
                <li><a href="/user/logout" id="">LOGOUT</a></li> 
                

                 </ul>
    
            </div>
        </div>
        </nav>
        <div id="divnew" class="medium">
            <div id="main">
                <div id="header">
                    
<style type="text/css">
    #clockdiv
    {
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size:  0.75em;
    }

        #clockdiv > div
        {
            padding: 5px;
            border-radius: 3px;
            background: #2e62a4;
            display: inline-block;
        }

        #clockdiv div > span
        {
            padding: 5px;
            border-radius: 3px;
            background: #003481;
            display: inline-block;
        }

    .smalltext
    {
        padding-top: 5px;
        font-size: 10px;
    }
     blink, .blink {
         animation: blinker 1s linear infinite;
         }
         @keyframes blinker {  
         50% { opacity: 0; }
         }
</style>





                </div>
                <div class="container-fluid" id="main-content">
                    <div id="dvLeftMenu">
                        <div>
                            <div class="navbar-default sidebar" role="navigation">
                                <div class="sidebar-nav navbar-collapse" aria-expanded="false" style="min-height: 570px; background-color: #bd135b;">
                                    <ul class="nav in" id="side-menu">
                                        <li>
                                            <a href="/<%=user.username%>/dashboard"><i class="fa fa-home fa-fw"></i><span id="liHome">Home</span> </a>
                                        </li>
                                        <li>
                                            <a href="/<%=user.username%>/profile"><i class="fa fa-user fa-fw"></i><span id="liProfileCreation">Profile Creation</span></a>
                                        </li>
                                        <li><a href="/<%=user.username%>/View"><i class="fa fa-angle-double-right fa-fw" style="background-color: white ; color: #bd135b;"></i><span id="liView" >View &amp; Print Profile</span></a></li>
                                        <li>
                                            <a href="/<%=user.username%>/online_application"><i class="fa fa-file fa-fw"></i><span id="lionlineApp">Online Application</span></a>
                                        </li>
                                        <li>
                                            <a href="/<%=user.username%>/application"><i class="fa fa-street-view fa-fw"></i><span id="liMyApplication">My Application</span></a>
                                        </li>
                                        <li><a href="/<%=user.username%>/request"><i class="fa fa-user fa-fw"></i><span id="liMyRequest">My Request</span></a></li>
                                        <li>
                                            <a href="/<%=user.username%>/dashboard""><i class="fa fa-info-circle fa-fw"></i><span id="liHelp">Help</span></a>
                                        </li>
                                        
                                        
                                    </ul>
                                </div>
                                <!-- /.sidebar-collapse -->
                            </div>
                        </div>
                    </div>
                    <div id="page-wrapper">
                        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ToolkitScriptManager1', 'FormsForm', ['tctl00$UpdRandomToken','UpdRandomToken'], [], [], 90, 'ctl00');
//]]>
</script>

                        
    <div id="divToPrint">
        <div id="FormsPH_pnlToPrint" style="width:100%;">
	
            <div>
                <div class="SectionTitle">
                    <span id="">Profile Details</span>
                </div>
                <div class="SectionTable">
                    
<style type="text/css">
    .style1 {
        width: 4px;
    }

    .auto-style1 {
        width: 618px;
    }

    .prsnl_dtl {
        width: 100%;
    }

        .prsnl_dtl > tbody > tr > td, .prsnl_dtl > tbody > tr > th, .prsnl_dtl > tfoot > tr > td, .prsnl_dtl > tfoot > tr > th, .prsnl_dtl > thead > tr > td, .prsnl_dtl > thead > tr > th {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }

    .auto-style2 {
        width: 3px;
    }
</style>



<div class="SectionTable">

    <div>
        <fieldset class="RFS">
            <legend class="RFSL">
                <span id="">Personal Details</span></legend>
            <table style="width: 100%;">
                <tbody><tr>
                    <td style="width: 150px; vertical-align: top;">
                        <img id="" src="">
                        <br>
                        
                    </td>
                    <td valign="top">
                        <table cellpadding="0" cellspacing="0" class="prsnl_dtl" style="line-height: 21px !important; font-size: 0.75em;">

                            
                            <tbody><tr>
                                <td class="w25">
                                    <span id="" style="font-weight:bold;">Full Name (In English as per SSLC /10th std or equivalent  certificate)</span>
                                    <span class="red"></span>
                                </td>
                                <td colspan="3">
                                    <span id=""></span>
                                </td>

                            </tr>
                            <tr>
                                <td class="w25">
                                    <span id="" style="font-weight:bold;">Father’s name  as per SSLC /10th std or equivalent  certificate</span>
                                    <span class="red"></span>
                                </td>
                                <td colspan="3">
                                    <span id=""></span>
                                </td>
                            </tr>

                            <tr>
                                <td class="w25">
                                    <span id="" style="font-weight:bold;">Mother's Name</span>
                                    <span class="red"></span>
                                </td>
	
                                <td class="w25">
                                    <span id=""></span>
                                </td>
	
                                <td class="w25">
                                    <span id="" style="font-weight:bold;">Gender</span>
                                    <span class="red"></span>
                                </td>
                                <td class="w25">
                                    <span id="">Male</span>
                                    <span id="" style="display: none">M</span>
                                </td>
                            </tr>
                            <tr>
		<td class="w25">
                                    <span id="" style="font-weight:bold;">Are you Married?</span>
                                    <span class="red"></span>
                                </td>
		<td class="w25">
                                    <span id=""></span>
                                    <span id="" style="display: none">N</span>
                                </td>
		<td id="" class="w25" style="display:none;">
                                    <span id="" style="font-weight:bold;">Spouse Name</span>
                                    <span class="red"></span>
                                </td>
		<td id="" style="display:none;">
                                    <span id=""></span>
                                </td>
		<td id="" class="w25" style="display:none;">&nbsp;</td>
	</tr>
	
                            <tr>
                                <td class="w25">
                                    <span id="" style="font-weight:bold;">Date Of Birth</span>
                                    <span class="red"></span>
                                </td>
                                <td class="w25">
                                    <span id=""></span>
                                </td>
                                <td class="w25">
                                    <span id="" style="font-weight:bold;">Age</span>
                                    <span class="red"></span>
                                </td>
                                <td class="w25">
                                    <span id=""></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w25">
                                    <span id="" style="font-weight:bold;">Mobile Number</span>
                                    <span class="red"></span>
                                </td>
                                <td class="w25">
                                    <span id=""></span>
                                </td>
                                <td class="w25">
                                    <span id="" style="font-weight:bold;">Landline with STD Code</span>
                                    <span class="red"></span>
                                </td>
                                <td class="w25">
                                    <span id=""></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w25">
                                    <span id="" style="font-weight:bold;">Email Id</span>
                                    <span class="red"></span>
                                </td>
                                <td colspan="3">
                                    <span id=""></span>
                                </td>

                            </tr>

                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </fieldset>
    </div>
    <div style="height: 5px;">
    </div>
    <div id="">
        <fieldset class="RFS">
            <legend class="RFSL">
                <span id="">Identity proof Details</span></legend>
            <table cellpadding="0" cellspacing="0" class="prsnl_dtl" style="line-height: 21px !important; font-size: 0.75em;">

                <tbody><tr id="">
		<td class="w25">
                        <span id="" style="font-weight:bold;">Please Select Identity Type</span>
                    </td>
		<td class="w25">
                        <span id="" style="display:inline-block;width:200px;">PAN Card Number</span>
                    </td>
		<td class="w25">
                        <span id="" style="font-weight:bold;">Identity Certificate No</span>
                    </td>
		<td class="w25">
                        <span id="" style="display:inline-block;width:200px;"></span>
                    </td>
	</tr>
	

            </tbody></table>
        </fieldset>
    </div>
    <div style="height: 5px;">
    </div>
    <div id="">
        <fieldset class="RFS">
            <legend class="RFSL">
                <span id="">Permanent Address</span></legend>
            <table cellpadding="0" cellspacing="0" class="prsnl_dtl" style="line-height: 21px !important; font-size: 0.75em;">
                <tbody><tr>
                    <td class="w25">
                        <span id="" style="font-weight:bold;">Address</span>
                        <span class="red"></span>
                    </td>
                    <td class="w25" colspan="1">
                        <span id=""></span>
                    </td>
                </tr>
                <tr>
                    <td class="w25">
                        <span id="" style="font-weight:bold;">State / Union Territory</span>
                        <span class="red"></span>
                    </td>
                    <td class="w25">
                        <span id=""></span>
                    </td>
                    <td class="w25">
                        <span id="" style="font-weight:bold;">District</span>
                        <span class="red"></span>
                    </td>
                    <td class="w25">
                        <span id=""></span>
                    </td>
                </tr>
                <tr>

                    <td class="w25">
                        <span id="" style="font-weight:bold;">Taluk</span>
                        <span class="red"></span>
                    </td>
                    <td class="w25">
                        <span id=""></span>
                    </td>
                    <td class="w25">
                        <span id="" style="font-weight:bold;">Village/City</span>
                        <span class="red"></span>
                    </td>
                    <td class="w25">
                        <span id=""></span>
                    </td>
                </tr>
                <tr>

                    <td class="w25">
                        <span id="" style="font-weight:bold;">PinCode</span>
                        <span class="red"></span>
                    </td>
                    <td class="w25">
                        <span id=""></span>
                    </td>
                </tr>
            </tbody></table>
        </fieldset>
    </div>
    <div style="height: 5px;">
    </div>
    <div id="" style="display: none">
        <input id="" type="checkbox" name="">
        <span id="">Is Permanent Address the same as Present Address ?</span>
        <span class="red"></span>
    </div>
    <div style="height: 5px;">
    </div>
    <div>
        <fieldset class="RFS">
            <legend class="RFSL">
                <span id="">Correspondence Address</span></legend>
            <table cellpadding="0" cellspacing="0" class="prsnl_dtl" style="line-height: 21px !important; font-size: 0.75em;">
                <tbody><tr>
                    <td class="w25">
                        <span id="" style="font-weight:bold;">Address</span>
                        <span class="red"></span>
                    </td>
                    <td class="w25" colspan="1">
                        <span id=""></span>
                    </td>

                </tr>
                <tr>

                    <td class="w25">
                        <span id="" style="font-weight:bold;">State / Union Territory</span>
                        <span class="red"></span>
                    </td>
                    <td class="w25">
                        <span id=""></span>
                    </td>
                    <td class="w25">
                        <span id="" style="font-weight:bold;">District</span>
                        <span class="red"></span>
                    </td>
                    <td class="w25">
                        <span id=""></span>
                    </td>
                </tr>

                <tr>

                    <td class="w25">
                        <span id="" style="font-weight:bold;">Taluk</span>
                        <span class="red"></span>
                    </td>
                    <td class="w25">
                        <span id=""></span>
                    </td>
                    <td class="w25">
                        <span id="" style="font-weight:bold;">Village/City</span>
                        <span class="red"></span>
                    </td>
                    <td class="w25">
                        <span id=""></span>
                    </td>
                </tr>
                <tr>


                    <td class="w25">
                        <span id="" style="font-weight:bold;">PinCode</span>
                        <span class="red"></span>
                    </td>
                    <td class="w25">
                        <span id=""></span>
                    </td>
                </tr>


            </tbody></table>
        </fieldset>
    </div>
    <div style="height: 5px;">
    </div>
    <div>
        <fieldset class="RFS">
            <legend class="RFSL">
                <span id="">Reservation / Category Details</span></legend>
            <table cellpadding="0" cellspacing="0" class="prsnl_dtl" style="line-height: 21px !important; font-size: 0.75em;">
                <tbody><tr>
                    <td class="w25">
                        <span id="" style="font-weight:bold;">Category</span>
                    </td>
                    <td class="w25">
                        <span id=""></span>
                    </td>

                    <td class="w25">
                        <span id="" style="font-weight:bold;">Sub Caste</span>
                    </td>
                    <td class="w25">
                        <span id=""></span>
                    </td>
                </tr>

                <tr id="" style="display:;">
		<td class="w25" style="text-align: left">
                        <span id="" style="font-weight:bold;">Certificate No.(RD No.)</span>
                    </td>
		<td class="w25">
                        <span id=""></span>
                    </td>
		<td class="w25" style="text-align: left">
                        <span id="" style="font-weight:bold;">Place of issue</span>
                    </td>
		<td class="w25">
                        <span id=""></span>
                    </td>
	</tr>
	


                <tr id="" style="display:none;">
		<td class="w25">
                        <span id="" style="font-weight:bold;">Do you have Caste Validity Certificate ?</span>
                    </td>
		<td class="w25">
                        <span id=""></span>
                    </td>
		<td class="w25">
                        <span id="" style="font-weight:bold;">Caste Validity Certificate No</span>
                    </td>
		<td style="display: none;">
                        <span id=""></span>
                    </td>
	</tr>
	
                <tr id="" style="display: none">
		<td class="w25">
                        <span id="" style="font-weight:bold;">Issuing Date</span>
                    </td>
		<td colspan="3">
                        <span id=""></span>
                    </td>
	</tr>
	
            </tbody></table>

        </fieldset>
    </div>
    <div style="height: 5px;">
    </div>
    <div>
        <fieldset class="RFS">
            <legend class="RFSL">
                <span id="">Other Details</span></legend>
            <table cellpadding="0" cellspacing="0" class="prsnl_dtl" style="line-height: 21px !important; font-size: 0.75em;">

                <tbody><tr>
                    <td class="w25">
                        <span id="" style="font-weight:bold;">Are you Differently abled Person(PH)?</span>
                        <span class="red"></span>
                    </td>

                    <td class="w25">
                        <span id=""></span>
                    </td>
                    <td id="" class="w25" style="display:none;">
                        <span id="" style="font-weight:bold;">If YES, Type of Disability</span><span class="red"> </span>
                    </td>
	
                    <td id="" style="display:none;">
                        <span id=""></span>
                    </td>
	
                </tr>
                <tr id="" style="display:none;">
		<td class="w25">
                        <span id="" style="font-weight:bold;">Percentage Of Disability</span>
                        <span class="red"></span>
                    </td>
		<td class="w25">
                        <span id=""></span>
                    </td>
		<td class="w25">
                        <span id="" style="font-weight:bold;">PH Certificate No :</span>
                        <span class="red"></span>
                    </td>
		<td id="">
                        <span id=""></span>
                    </td>
	</tr>
	

                <tr id="" style="display:none;">
		<td class="w25">
                        <span id="" style="font-weight:bold;">PH Certificate Issuing Date : </span>
                        <span class="red"></span>
                    </td>
		<td class="w25">
                        <span id=""></span>
                    </td>
	</tr>
	

                
                <tr>
                    <td class="w25">
                        <span id="" style="font-weight:bold;">Nationality </span>
                        <span class="red"></span>
                    </td>
                    <td class="w25">
                        <span id=""></span>
                    </td>
                    <td class="w25">
                        <span id="" style="font-weight:bold;">Whether Domicile of Karnataka?</span><span class="red"> </span>
                    </td>
                    <td class="w25">
                        <span id=""></span>
                    </td>
                </tr>


                <tr id="">
		<td class="w25">
                        <span id="" style="font-weight:bold;">Are you a Government employee?</span>
                    </td>
		<td class="w25">
                        <span id=""></span>
                    </td>
		<td id="" class="w25" style="display:none;">
                        <span id="" style="font-weight:bold;">Name of the department:</span>
                    </td>
		<td class="w25">
                        <span id=""></span><br>
                    </td>
	</tr>
	
                <tr id="" style="display:none;">
		<td class="w25">
                        <span id="" style="font-weight:bold;">Designation</span>
                    </td>
		<td class="w25">
                        <span id=""></span>
                    </td>
		<td class="w25">
                        <span id="" style="font-weight:bold;">Joining date</span>
                    </td>
		<td class="w25">
                        <span id=""></span>
                    </td>
	</tr>
	
                <tr id="" style="display:none;">
		<td class="w25">
                        <span id="" style="font-weight:bold;">No. of years of service</span>
                    </td>
		<td class="w25">
                        <span id=""></span>
                    </td>
		<td class="w25">
                        <span id="" style="font-weight:bold;">Have you obtained NOC as per Rules?</span>
                    </td>
		<td class="w25">
                        <span id=""></span>
                    </td>
	</tr>
	

                <tr id="" style="display: none">
		<td id="" class="w25">
                        <span id="" style="font-weight:bold;">Arrangement for Scribe</span>
                    </td>
		<td id="" style="display: none;">
                        <span id=""></span>
                    </td>
	</tr>
	

                <tr>
                    <td>
                        <span id="" style="font-weight:bold;">Are you Ex-Serviceman ?</span>
                    </td>
                    <td class="w25">
                        <span id="">No</span>
                    </td>
                    <td colspan="2">
                        <div id="" style="display:none;">
                            <table style="width: 100%">
                                <tbody><tr>
                                    <td>
                                        <span id="" style="font-weight:bold;">No. of years of service rendered in Army/Navy/Air Force</span>
                                    </td>
                                    <td>:
                                    </td>
                                    <td style="width: 60px;">
                                        <span id="" style="display:inline-block;width:50px;"></span>
                                    </td>
                                    <td>
                                        <span id="" style="font-weight:bold;">Months</span>
                                    </td>
                                    <td>:
                                    </td>
                                    <td style="width: 60px;">
                                        <span id="" style="display:inline-block;width:50px;"></span>
                                    </td>
                                    <td>
                                        <span id="" style="font-weight:bold;">Days</span>
                                    </td>
                                    <td>:
                                    </td>
                                    <td style="width: 60px;">
                                        <span id="" style="display:inline-block;width:50px;"></span>
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                    </td>
                </tr>
                <tr id="" style="display:none;">
		<td class="w25">
                        <span id="" style="font-weight:bold;">Date of Discharge:</span>
                    </td>
		<td class="w25">
                        <span id=""></span>
                    </td>
		<td class="w25">
                        <span id="" style="font-weight:bold;">Reason for discharge:</span>
                    </td>
		<td class="w25">
                        <span id=""></span><br>
                    </td>
	</tr>
	
                <tr id="">
		<td id="" class="w25">
                        <span id="" style="font-weight:bold;">Are you claiming Rural reservation ?</span>
                    </td>
		<td id="" class="w25">
                        <span id=""></span>
                    </td>
		<td id="" class="w25">
                        <span id="" style="font-weight:bold;">Are you claiming Kannada Medium Student reservation?</span>
                    </td>
		<td id="" class="w25">
                        <span id=""></span><br>
                    </td>
	</tr>
	
                <tr id="">
		<td id="" class="w25">
                        <span id="" style="font-weight:bold;">Are you claiming Project displaced person reservation?</span>
                    </td>
		<td id="" class="w25">
                        <span id=""></span>
                    </td>
		<td id="" class="w25">
                        <span id="" style="font-weight:bold;">Are you claiming Hyderabad-Karnataka Region  Reservation ?</span>
                    </td>
		<td id="" class="w25">
                        <span id=""></span><br>
                    </td>
	</tr>
	
                <tr id="">
		<td class="w25">
                        <span id="" style="font-weight:bold;">Are you a dependant  of a Battle Casualty Military Person(Battle casualty cases where Military personnel are killed or disabled during war/war like operations ?</span>
                    </td>
		<td class="w25">
                        <span id=""></span>
                    </td>
	</tr>
	
                <tr id="">
		<td class="w25">
                        <span id="" style="font-weight:bold;">Are you a candidate who has been released from the National Cadet Corps after service as whole time Cadet Instructor?</span>
                    </td>
		<td class="w25">
                        <span id=""></span>
                    </td>
	</tr>
	
                <tr id="">
		<td class="w25">
                        <span id="" style="font-weight:bold;">Are you a candidate who is or was a village Group Inspector appointed in a Rural Industrialisation Scheme sponsored by the State Government?</span>
                    </td>
		<td class="w25">
                        <span id=""></span>
                    </td>
	</tr>
	
                <tr id="">
		<td class="w25">
                        <span id="" style="font-weight:bold;">Are you a candidate who is or was holding a post under the Census Organisation of the Government of India in this State?</span>
                    </td>
		<td class="w25">
                        <span id=""></span>
                    </td>
	</tr>
	
                <tr>
                    
                    
                    <td id="" class="w25">
                        <span id="" style="font-weight:bold;">Are You a candidate who is bonded labourer?</span>
                    </td>
	
                    <td id="" class="w25">
                        <span id=""></span><br>
                    </td>
	
                </tr>
            </tbody></table>
        </fieldset>
    </div>
    <div style="height: 5px;">
    </div>
    <div>
        <fieldset class="RFS">
            <legend class="RFSL">
                <span id="">Black List</span></legend>
            <table cellpadding="0" cellspacing="0" class="prsnl_dtl" style="line-height: 21px !important; font-size: 0.75em; width: 100%;">
                <tbody><tr>
                    <td class="w25">
                        <span id="" style="font-weight:bold;">Is there any criminal case against you.?</span>
                    </td>
                    <td class="w25">
                        <span id=""></span>
                    </td>
                    <td id="" class="w25" style="display:none;">
                        <span id="" style="font-weight:bold;">Status of Criminal Case</span>
                    </td>
	
                    <td id="" class="w25" style="display:none;">
                        <span id=""></span>
                    </td>
	
                </tr>
                <tr id="" style="display:none;">
		<td class="w25">
                        <span id="" style="font-weight:bold;">Court Case No.</span>
                    </td>
		<td class="w25">
                        <span id=""></span>
                    </td>
		<td class="w25">
                        <span id="" style="font-weight:bold;">Court Case Details </span>
                    </td>
		<td class="w25">
                        <span id=""></span>
                    </td>
	</tr>
	
                <tr>
                    <td class="w25">
                        <span id="" style="font-weight:bold;">Whether debarred or Black Listed for Examination / Selection held by KPSC ,UPSC ,other State PSCs, KEA, Railway Board,IPBS ,Universities and other  selecting /recruiting authorities?</span>
                    </td>

                    <td class="w25">
                        <span id=""></span>
                    </td>


                </tr>
                <tr>
                    <td colspan="2" style="vertical-align: top;">
                        <div id="" style="display:none;">
                            <table>
                                <tbody><tr>
                                    <td style="vertical-align: top;">
                                        <span id="" style="font-weight:bold;">From Date</span>
                                    </td>
                                    <td>&nbsp;&nbsp;</td>
                                    <td style="vertical-align: top;">
                                        <span id=""></span>
                                    </td>
                                    <td>&nbsp;&nbsp;</td>
                                    <td style="vertical-align: top;">
                                        <span id="" style="font-weight:bold;">To Date</span>
                                    </td>
                                    <td>&nbsp;&nbsp;</td>
                                    <td style="vertical-align: top;">
                                        <span id=""></span>
                                    </td>
                                </tr>

                            </tbody></table>
                        </div>
                    </td>
                </tr>
                
                
                
            </tbody></table>
        </fieldset>
    </div>
    <div style="height: 5px;">
    </div>
</div>


                </div>
                <div class="SectionTable">
                    
<div style="height: 5px;">
</div>
<div>
    <fieldset class="RFS">
        <legend class="RFSL">
            <span id="">Qualification Details</span></legend>
        <table style="width: 100%;">
            <tbody><tr>
                <td>
                    <div>
		<table class="tableClassInner" cellspacing="0" rules="all" border="1" id="" style="width:100%;border-collapse:collapse;">
			<tbody><tr>
				<th scope="col">Qualification Type</th><th scope="col">Name of Degree</th><th scope="col">Subject</th><th scope="col">Board/University</th><th scope="col">Percentage</th><th scope="col">Result Date</th>
			</tr><tr>
				<td></td><td></td><td></td><td></td><td></td><td style="width:100px;"></td>
			</tr><tr>
				<td></td><td></td><td></td><td></td><td></td><td style="width:100px;"></td>
			</tr><tr>
				<td></td><td></td><td></td><td></td><td></td><td style="width:100px;"></td>
			</tr>
		</tbody></table>
	</div>
                </td>
            </tr>
        </tbody></table>
    </fieldset>
</div>

                </div>
                <div class="SectionTable">
                    
<div style="height: 5px;">
</div>
<div id="">
    <fieldset id="" class="RFS">
        <legend class="RFSL">
            <span id="">Experience Details</span>
        </legend>
        <div>
            <table cellpadding="0" cellspacing="0" style="width: 100%;">
                <tbody><tr>
                    <td>
                        <div>
		<table class="tableClassInner" cellspacing="0" rules="all" border="1" id="" style="width:100%;border-collapse:collapse;">
			<tbody><tr>
				<td> </td>
			</tr>
		</tbody></table>
	</div>
                    </td>
                </tr>
            </tbody></table>
        </div>
    </fieldset>
</div>
<div style="height: 5px;">
</div>

                </div>
            </div>
        
</div>
    </div>
    <div style="width: 100%; text-align: center; margin: 0 auto;">
        <input type="submit" name="ctl00$FormsPH$btnPrint" value="Print" onclick="return PrintPanel(); ;" id="" class="positive" style="width:100px;">
    </div>
   
    </div>

                    </div>
                </div>
                <div id="bottom">
                    



<div class="footerBlock">
    <div class="footerCont">
        
    </div>
</div>

                </div>
            </div>
        </div>
        <div id="UpdRandomToken">
	
                <div style="display: none">
                    <input type="hidden" name="ctl00$HdnRandomToken" id="HdnRandomToken">
                </div>
            
</div>
        <script src="./Profile Details_files/common.js" type="text/javascript"></script>
    
<script type="text/javascript" src="./Profile Details_files/MaskedEditFix.js"></script>
<script type="text/javascript">
//<![CDATA[
(function() {var fn = function() {$get("ToolkitScriptManager1_HiddenField").value = '';Sys.Application.remove_init(fn);};Sys.Application.add_init(fn);})();//]]>
</script>
</form>

   
<div class="rounded_footer">
    <div class="left_footer">
    </div>
    <div class="right_footer">
    </div>
</div>
</div>
<div class="cleaner">
</div>
<div id="footer">
<div class="container-fluid">
    <p>
        <span id=""></span><span id=""> </span></p>
</div>
</div>
    



</body></html>