<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0058)https://www.kpscrecruitment.in/Profile/ExperienceForm.aspx -->
<html xmlns="http://www.w3.org/1999/xhtml"><head id="FormsHead"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>
	Work Experience Details
</title><meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link id="ContrastStyleSheet" href="/stylesheets/Layout.css" rel="stylesheet" type="text/css">
<link id="CultureSheet" href="/stylesheets/LayoutEN.css" rel="stylesheet" type="text/css">
<link id="Link1" href="/stylesheets/LayoutEN.css" rel="stylesheet" type="text/css">
<link id="ContrastStyleSheet" href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/sb-admin-2.css" rel="stylesheet" type="text/css"><link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"><link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css"><link href="/stylesheets/PopStyles.css" rel="stylesheet" type="text/css"><link href="/stylesheets/fileuploader.css" rel="stylesheet" type="text/css"><link href="/stylesheets/vscroller.css" rel="stylesheet" type="text/css"><link href="/stylesheets/GridviewScroll.css" rel="stylesheet" type="text/css"><link id="SiteLayoutSheet" href="/stylesheets/Layout1.css" rel="stylesheet" type="text/css"><link id="Link2" href="/stylesheets/Site1.css" rel="stylesheet" type="text/css">    <style type="text/css">
        /* The Modal (background) */
        .mySessionModal-modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .mySessionModal-modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 400px;
        }

        /* The Close Button */
        .mySessionModalclose {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .mySessionModalclose:hover, .mySessionModalclose:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
    <script src="/javascript/CountDownSession.js" type="text/javascript"></script>
    <script src="/javascript/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/javascript/CommonValidations.js" type="text/javascript"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/stylesheets/ie10-viewport-bug-workaround.css" type="text/css" rel="stylesheet">
    <script src="/javascript/ie-emulation-modes-warning.js" type="text/javascript"></script>
    <link href="/stylesheets/ForIEOnly.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
         <script src="../../ForIEOnly/html5shiv.min.js" type="text/javascript"></script>
      <script src="../../ForIEOnly/respond.min.js" type="text/javascript"></script>
    <![endif]-->

    <script type="text/javascript">
        function burstCache() {
            if (!navigator.onLine) {
                document.body.innerHTML = 'Loading...';
            }
        }
        window.history.forward();
        function noBack() { window.history.forward(); }
    </script>

    
    <link href="/stylesheets/web.css" rel="stylesheet">
    <script src="/javascript/gridviewscroll.js" type="text/javascript"></script>
    <script type="text/javascript" language="javascript" src="/javascript/Registration.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            gridviewScroll();
        });

        function gridviewScroll() {
            var gridViewScroll = new GridViewScroll({
                elementID: "FormsPH_GV_ExperienceDetails",
                width: "100%",
                height: 250
            });
            gridViewScroll.enhance();
        }
    </script>


    <script type="text/javascript" language="javascript">

        function ConfirmNext() {

            if ($('[id="FormsPH_rdNo"]').is(':checked')) {
                location.href = "PhotoSignForm.aspx";
                return false;
            }
            else {
                if (confirm("Details has been saved successfully.Do you want to proceed ?")) {
                    location.href = "PhotoSignForm.aspx";
                }
                else {
                    return false;
                }
                return false;
            }
        }

        function RedirectPerDetail(LangID) {
            if (LangID == 1) {
                alert('Please Submit Personal Details.');
            }
            else {
                alert('Please Submit Personal Details.');
            }
            location.href = "../../Profile/PersonalForm.aspx";
        }

        function RequiredField(LangID) {
            if (LangID == 1) {
                alert('* mark fields are mandatory.');
            }
            else {
                alert('* mark fields are mandatory.');
            }
        }

        function CheckEditExp() {
            var EditExp = $("#FormsPH_hdv_valueExp").val();

            if (EditExp != '0') {
                alert($("#FormsPH_hdnEditRow").val());
                return false;
            }
            else {
                var msg = $("#FormsPH_hdnConfirmExp").val();
                return confirm(msg);
            }
            return true;
        }


        function ConfirmExperience(objrb) {
            debugger;
            switch (objrb.id) {
                case "FormsPH_rdYes":

                    if (objrb.checked) {
                        __doPostBack();
                    }
                    break;
                case "FormsPH_rdNo":

                    if (objrb.checked) {
                        var RowCount = parseInt(document.getElementById('FormsPH_hdnRowCount').value);

                        if (RowCount == 0) {
                            __doPostBack();
                        }
                        else if (RowCount > 0) {
                            if (confirm("Filled experience(s) will be deleted automatically. are you want to continue. ")) {
                                __doPostBack();
                            }
                            else {
                                $('#FormsPH_rdYes').prop('checked', true);
                                return false;
                            }
                        }
                    }

                    break;
            }

        }
    </script>
<link href="/stylesheets/WebResource.axd" type="text/css" rel="stylesheet"></head>
<body onload="burstCache();  " onpageshow="if (event.persisted) noBack();">

    <form method="post" action="https://www.kpscrecruitment.in/Profile/ExperienceForm.aspx" onsubmit="javascript:return WebForm_OnSubmit();" id="FormsForm" enctype="multipart/form-data">
<div class="aspNetHidden">
<input type="hidden" name="ToolkitScriptManager1_HiddenField" id="ToolkitScriptManager1_HiddenField" value=";;AjaxControlToolkit, Version=4.1.50731.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e:en-IN:f8fb2a65-e23a-483b-b20e-6db6ef539a22:5546a2b:475a4ef5:effe2a26:4355a41:2a35a54f:addc6819:d2e10b12:37e2e5c9:5a682656:c7029a2:e9e598a9">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="">
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="ls9ojcGmFMWN5mQ7PrObrsGem+jUZZtrQO4oYSKEKWgHyEUzkX3xc1ANYRv8DvMH2wGz4XKBbpiYOTwg2WFbCphHMhr8w8cOFhoXksNQrwYWDChj0WZk61bLXHWtMzHSaDRFebO2jT2mc8ISFk8dlsr+uZjZPAF1CphMhao9MFP01xxRM80s+67RBhUZFMuB8FooHb2BH1Gp9uBeh1fUJ768FfyY4HFUEsKY4uF3n803On714H5za1Wb/DU5wTUYPDpRGC1WhJkh2cMa4/85LW4HHgGa2qyNiFeZ52hZhOoCs0jRAeOZkLweodOgqlLMbddjs3B/RA4ZQHjl/0vcWvVPAcpTsN7LS4X/54Lv7zyrU1Li9Xy1m/H9uqUd2SJ1wCzKPvQy0EI/3v5mPN2ubgDnOK+kBVUU2FYOylpTlTpNFWMmariWuu0eDoM1+gw+Qxp3o9BcFtioaq9Lxdkk/AAf8M431zx/phQcLtwQYKhF5PcNQtFb94nXqrr1qM+cJgO0RT7gK+ydA6lpDmzJrLyzJT1MRe54bD5Y7iQe9dqtdNsOnCWuDEJPAUsJciFoqZuvvV+pe/EEQf3SKkByQvsS1lIA0DxViEJ1fX6gnnz1czslifv/mzAA1fhYYdoYNv76xg6xo2gsvsJ7BZ+K5X/fHTqwLjl1uFIjjmlFXdahmrbpJKYT/xE+WS1XJU/xpcL2pDwnDZuhAmKR63wPJd9+kvMSGEmadwDyXlDzdnc8zwLtkr1b98GcaVcXcA+E9YE+L9Mtv/7KXWgtZDc6jJ19SoOiVzDxosfNjOzeO1bnhfkszalJr545wZn1K1plL2lM398Zdimwm1zm6Edarjwa3jwf78kaCyN4SUoogc580Hwf4Ji4kTvpDdWdwHb6jGI7DkMVWfqdeP6DL5HfVSxAP6xHj0vf3uCa4P1/O4CuQ8O1RymUHHldatQ8GdwmLAPkcJylXdMPhIZsRQoZijheRDKa+o5wqDjPjoBhNUG1+IQmPRXoBCXtTqph0kriafRvDAwQM0c0t8efC2SBKwxQEHzynUA1fndCFZsGcQ2r5wPopWN/x0Z/D6HtbGrKijAobFbMe//nJm6/68RMfODSI/SYGznh0zZ1QO3aBS4tUcnwlkX4xG1AeZLWQdAfRKNZCW1u1pHs1uPFNBTXtH65uP6ZklB4b4AkJBCm8c1xu6hRJLyYgUDiKCiW8DMr5cG9tKCF8EEoxMn3E5slQROAslA8RYIgEJuivpk9Yw99ukk9np0uvMRdgI1vy/HBOGvaY1romyAMfAsNh22Csb88EHIX8Ueb0q+WdYOs8J6e1WVSmjKMeOrenV31hJwHvrAaonidHWzVzPrVvAJBqnCQ3FuVshiAd+FAXXERpqQyVuUTqq5bRAh4ogkMIP910QmHnesewx9GMWNtdjpdXJqUqNtz4g/kzcrSw644gvg6wzSCqN7ojMjB8KlNpL0hbrSe5mvGFBahVGbgzTYezmUr7iq9QRKObpNRTSkXYJFQmKamdNLvxSi9MIA1gLOYAvJkyquTPmMJMCvMJCeutim1j+gch6JHyP9o2fUj3W0ONePn6GSdc72gBeZ8WDoawXBVQYTZIFaUsIlx/wnAwFxC3AU0bekKFFWfQM6LKA/HomIvWtL1wH/G9yr+bkELX6NKo61ego6alcM4c3z4XhMQDsKL7yP3JX6/+a7eV3KD4/6oYRwn7LMBP4mOfnbNDCNj5gA1Ws8D4hBSsknzT1arr1D4ltvErYbZbesGDsQMXIyX7dvq9V2ZPO88slznZRVjl+c2yfOj1EFktsuFQj1UUnbViLeR6e+SSg840qUaLbezxMlDbtGl+bebSbvC0/pykEFm7gzxsDgxPyqFL2D5OvPnE4szAM9mGSWx4uBvmd8fc/61UKDNo4AYSecFXYr+fbWQIl1k/j7GSkxAeX9eUdQN1htZnSyayiwWqcgiO844N0A6VOp9BaZO9V+PT1h/alqVyAe5wry7dMJ5g48R1vqlnHGsdawwjwZrTlyukP/QK0td3aaN6hPs5+M2lEEdjfutiA1eWhI6EpUVDUviAWXT0O0NQxCn1bUJLg+HFKbkI6gvWA/dj+54OVCALXVvB6dTECIkszdJtdQ734/97DRlXkLg2/xYMQWsHsqfpbxSUFJBDTKhZ13bwimnUXDXlFcK4wABn7FhLAhRKYJvC7+mEhMwXtTxr/l1RnMRPr2AJu/8yUmcXJGzmkr1ECqdDVCLiR1aU6RTA0pIrEcrhWtdkYJD7vnc3xGWnLdbFzqBKb7oLccqn+UjyQWWdJMHlsQbzLuI0OJKWZSS5LvZ1xE4TMAdTA07E9eFyMm8q9UkeNNBwBD8As4MgPoSriJGkP/EH0G39JpRy/6sM6c7z1YwNXEio/m7iDIjvDCts2T6M61Sjnh9wINdF3jL1P11+0abQKh+cxVjj4NhwkUX+f1fVL1y8p7QHazSdFi+yKwAoOD/unljGDhlNGlYuZK8cTK/izyrIaMi4h4ROJCq8ysFHxrjX3MQl4x6jQMQijLWpeZdqfVf9UO806GZYOIHNgj9ywS+NYZ6uiFVghNw/BOdRYikcOZwh7BUjgnWPNChuLTf8s8xqWMOVp50MFNEWSCdEXjMowb2EATPc67TbSlgwBUcGrdHmDNiawsJ67WOQ1FVRqt2UK9yxxAfv/mHMgiSTi3sMz8+cLkiD4SgEbz2VJ/B43caDRDxGILaNmj1Fvip5Nf5UHzn5D3lzxETP3usFp9lX6EFUoR/tudwPkVtsYtbFfZc7jvMZqZECiDif/7m9IpUr0c6+hHQ6puQuNfHISEKy856tyHPEyh+frw6WuuErB2Qvq9ygJzOgmPuNeKbbRXaSEVL/c7f6866o1rJka05PN8NxRfLqkdzWRTcnUUCepcsiO8pKvVTAWkekQ4vMwsMYr1/45jPBIfJra5ZwFPr74gPNocJ7NC0hFmRvzOSLLd+7C5G3KaJ86KOoe0srch1+Jra+ppI86Gf5IiPIzXMVOsMbNQZSp4pl7GJ9ITkq08rIQRIWGB/GoSfCeIDx5vhy7GoTb68M/e6mi2fkaRMe8Ti+K1N3owMDuoyGZw7G5PJlryXsdPkBFUX9v/t203vnxDfLe8m1vr5utDAK4qWAifzrt0Rpq6Xb6e2PYtWKKW3/1DVuaDSiEQTJPtRzq+JYcHPf8dN2qSPwPUMqkBcg5dlwa3Urz6jGucjcSNe7kVoFLkr8IEIWGM7wLyn5Q3kHVJbeiNGnU4yct2H2b64Sm0u3dI8kIE585Dutv/S03ilk/qwEn3UHQ5eqezmmz363YwIBqX7xXJr5H7C1wanTTKfS0LRGEE/PprHIjnb0gegF4xTzKJ/QPlaIJygqSbIgBJexJ2yFDWWGSyd3a1sH5axzsHFXtEFJrY1V4y3TW7F8gX9Zf+P77sD6Wp/lLHc+OhPuv0BVGMgPd1iJewDKOmZ9C6xVN9gsz4q13lsfVCNZCPSMzDzVOlqegxVkx38QCYni06wu0f7bpawlTvfUgKWkpOmCQL+2SCCSi+eameOMnyJky+Hyy2Xq/0/JZPKUmN+URq4B+tsGRPLvk3TYERx0FERcvM/dXSETs+cZXX8A7jsdn8IBucauKO79PyK7/lY9xw41VwqIBoCMpmDIxiBzZKpTzaoGNoWV0YtozwuqOaKzCI8PEfPYopkHO3GTlbrksX3gaJxE4CWP3IKzaQuSxkd9Ieqk72CjJFKtJqE+K0+oTS2prIim3XKdnwfiNmSn3TG9hGa9u4pPIDVrAjmg9zYE1/u3TBzQ98/HtT3dLoOro/oPPOWytMd5C4bbfxmTcLwZkjV25w1rhbK8FAJtGqux3l+Z1PnFFgNWb3SEsIHEynyXfYnTQVge+biEuKNf7cL8gs4UIV2w9aUkQK/JF2IzSNDFupKaMH8GA4A7In3vmrdDBaYTuWK90Lz+q5NY22jqj7jUUlm43r6LmI6pI/xtjJXCXmaa4DybRQphro6cotGTr2puyeLPk5KJ4hw4zFuH+brM+SHm1jYO7XpVLsQLB2YsBkyhUriN50oZ/qSVkEdMP2qjqGq9Z81gQjvTxZ5P6djirGcoNsgiLwP2hhqvJt0M/b0sIBs6uRgn4lDRb5ZpW+M5beIUOLY6JirJW12ISA5t4q34f8FYrmMec81QueT57wjcyp7U022cO9ieBmxidSExUGfc33hpW0GOygaD68YMrqY4bANe3FkBcYV1pI2BanauDieChm2QGq5He+3wh6EJ2igMII/zbQopqDeF3g8cOY3a2yhGMD50T9jT19UafmBXGuKF7WW84nPJ+3XO6DWxChTvaMZG4b6WeQXJd/KAoweZz9Kt2VEauTZxYS1r6TOlrDArCo6g/LdB1z6+CASLe06xro+IFp1rysxbkzOIyjb6pJDJj9/i4o4efnOEkSnd700zDXvtYZiyHOKZCGa/A48VdQaRE6Akd+MXPLJh2eK5UFvOBNz60sjRbhDmYFqhl4Tv01yRXvw+XTe3EFpqCy/j0WA80M78Mu139UKKr/pRhnxFnr+LQHd4Ev1IrG3zo7Du119NHeyOdzwOqLptIvAiKa985cdZJ8uxofxHIzTsWOrnseOG7qwHZm7G70yvkzp6ym/o6+7O+HGjkqlAxYeqeozoA2r/yoe9dTnI3l4V4f+gBWbtCwXeAfZFAcSpCF0gSMVu2AUo3epxH2IO9bUQRFjPf1KCJTGOVY21K+jFf3s3Z72LlOZ06MhugyGFgo4xp7Y+/R+uD2CNzTCCp0/1aEK5VCdxlY5hQnJbsCcUjAnjbet5bCYpua7WJHY5xFD+oeTB4e2mGGfhxe+USkeiJ/XtZ+GbzNCJ8aZnM87plwFh3nEsqebLp1cSIfTfmcuW/QbPXE6T1magUJUH6gaOtAXU5G50kECUNzkRcC9oZpdXiaGbYeqk+t+HSdGDJy9rawXoxTcUFWfYJntGky8n4iMmRD8LL13lOEaP8bZJJtE7537rDeHLqB7R13NaQEvLU0B8eo+s1WoeWKVO6y5p0G8xQyJRJd4qMH8FSFdxqdT814u930BifoEvFLtR4Tw4/sB98FChQmHvKmEJD9IWLDj9SBdvDMKsjyfqUYS3I8ZmKvKGIa+KjNY+vRsZ0mrkSGrjWZrosc3DjVG/OkRx9NnMq/0Y1vdu0ZXKU7+cuJq78TcOzgElGRMimXeQ3bFCI6IK+fnJoAWCcR1UFzTEWFP3N5TuWUUTbr7MFi2hCHFz+K3kATo47K4QceVo8mEhYYlQ/RkAHdnaewSWEZWjnfZgwi7dMvruDTSAmp5kaHPetaXViSq03hZ2QGkYIIDUiym4b4B6O8bINeD/eYRN4nQf+MEq7C1ZjNOZe80qtfiwDAwqJLXx3DdU/JZ3v73oRfb84Rr4WBJEvoUbU4yQGl1fU0v1sl30lNuS6iDq+ltarGMeJgtjLcDiVu+xkOic4cyklb0lyIiWWvsaiJgafadgEmCe4dlcEtaEsX9T91uTG007LrqWcKCSkEyXQV2G4931osn3bs9S0DV+P76q3cq/Kbs6b7ya4BN1ZMxkZTf4WABzrAuTgWm1KWUg2w3F7VTJymfYU7vnblw/6w6Q9LRjq7BE50Tm81lnRin+OVJrV5Iw2ujWyPFhvbAEQv0n48W5KujlWbPKeSBBBsw2/LozfWsnaNhtFrFfpDRLQ0E/KkodJjRrN3NSYCotOY3596MeHC+AhrGsPhZPqw1f3RnBJYjeuC9D0uKq/kWked0B9dDEZ4zvh5uWKIduGhIRGhNjG6GYVLMMJHEIKgWR1huGmK6eV8MSYez6EnRBgwpwm/SdhAuaYFwza0NFPj1FBz35Bm0HdEaQGsUun4X4etxf3BoG2p7dwvLOwSIFrdoiv3lrG5qsQRq1ekqqq0iuFQfhCSerLlXlv3XuGTovctsCQYeQOQ0NClr3Qd+dGhDxON0zrMOoDMf/YkCXBj/IxVJ/zgriYAXcNgVDFXRIe2+7SDyJI13qS3KMde196deog1OzGXf7M02Uuobzft6UrACVbrSY31pn5+I3tCA+A1taFqJCPLc2rZhhhpvElnjT3xPICvDNZutOJ9IJ4Dkb6ABLowe9HYTIoGQq74MppYURTsirwDzZuj/p65HJWBbWzEHknnmcoCVnsFNCpYJYRLZASwDiMvcrqPozpG2xordMUvVaebUFwAQavgQ7xQkJgK1On+aI3r+t5jSpAMJFjDvuNT+Elb0ITCrF9zqrBJaGPFRh4J+XRGD2ecQbcmEjTwnrtrex5waqZn9TIz1ivAyeNDu02rR2UOMS3WmzJNUGWk51jSFuyTZ9yIHxjh/1dSibTcY6gN093qVeMeRplxkF00LSc/zYHWKBEBTp+gbRjZgUHsHpN1KjCjJRMs0WtQd+gVDEe9GJ5+WKvZbH7H/uV5JwZy+fzpFzVf70aYGaR/KPVLi4dQq2ImqqgHdLlu6dzFsEDQPCSa8bJssjxzAjgdDzQ4Z81vHwIB1hitxWc3Q7wwHIMdHNFqRc5Zb9HgX447o111hpwO1X6+M9lGsRN3ebF5MeZ8TpAI/qeq0GIdp5BLPm19yfCe7UMLQUx2H4E8o8ArEkSc9ori0dWzuboObs4fBCGxyLVCzo2Ytc4RkBQxoK5fy7L2X9MeaQKzfnYrUvjF52DKgrkj9/uIwhwtHXOWT760U6MKSAO0IfowYBGeYFAFM9m7fwexUUydtwOvdoK+pdyldEMbOdyEKkX2W0k7ZnD0aih5iBPjPY546lNvOfDaxjze87jrtTaQ1UmphVxaTHO2CTNFsG3BPGVNYQGweYVQaVMVmYqRluvA+PWrtNX8nrskaHzcky0NR/9eTfz9/vUY+6SaLPfxTr8guLOT1gU8aILz+17YZPqS7LO63hezVrVajgGcfidbK9jTC0Roru6iKuGkjAVkdJFvG0EYafs7VYTjnWdrXrLolRzUzmZn352QPNxVKMa8Id/CSXFIWgJXmzYddEfGBB7H7r4+A4zl1sk2BY6R8fXDI0S4gMM/Ij5F0R6h3Z59SPqNpfR4q1uOrOZ5lZz2ScfZB3Qdnc+FoJHWQR3sbFNZIRK/SO6vnF90VmzhdyVQTeyflVJyIbYR9N8uEd+3NbgE/JCD958Abiqx7fSw7pQOEaxjXGeirswg+WUaMJ+mYzU30PqJ3r+9Qp6AYbgKiXl0RLJ0tmc+Rctq9C0W8G+h6UVJm7P266fRo6LlAN6WhKQC51/BRrGGtLmWwqTZP1gXMhxMegRm7ZuakhxDJQlA8u3UEMERmhSMr+gC03NSK2OZ5ifjiF8YbrD76nfObCxp8Fe7ltecRV4YHo2BpTpxsv/lhXXbylFOEt03d5oSGFlYNmKgX1OmKJu7aj8lJxUUupeSvBMtbfu4lh5a6S82L/48Eqa+t33/T8MUFNcWd4/2rzXWTcNloyWPk9kuiO4F08dfGnXosuU2VbvQkj8BFPfnaLIuQ2QcJtWT8zjxAEa+ulmLtjrz74AtPE8O0xV0apN8XFP+5UzmEcakwOC+2FtUNOo4HZERjKcBtnDuVHyMDFPeU/ESqzIX90BV57Kd8ndzfAnlpioPpaJnI8zlQ3I7Kw6yZOdE4lBFwBspcsT+ch7YKeA1JWu/PJlSDemyMbptHAKy6C+EGjR321RhEuDG39h5gNR8QNhjmspLXLhKkAfXn7cARvBzD2USnfG8aCxEop39UBPFBZ+Usq4VXQjApj3CshzKOZrWmNxCCnapUiPxLoD4sFfjP+57XOPgPXpeV+y+VuydFwy70Z9cDD0yd4ON3MAhiFneS0Neb6T4YlmEbZxefUbnv2jfTE9qs9vSQtthNvy7LkC/+gUw/mZwnWdejQSop5gPPGisETmYJ2ANyDY7A+96k0Tz/fNra5gJuADyzSe5L9Spvmi7+gzMpJLgF6Wf4lWTLVXI9oxDyoY/Ywy2ZpkTNOx1f53i5KYIo/zAg61Zp09yx2VRCWN196tQpkCaua9jdLEMTrbmVHl/5PAdcSeTBO4rmYwkXCHoLNdFzlVHQivBfEAHBgCAQjoZrAUPaqRJiVADdHpUce604EkYCCMvNup066iFmKfbgoTQU3/jIpejHSeBbwHvgp2EJ1bWnQJIPEO3NQqz/N4XmMTR6cgdtkdkc1FaFMlNhLUMGuPRsgMB8b2mOpalA12zVfM5s09Jy0eAH7eLd+zodezTiySSwK2xuiLlGfytgwgYxqQzhJrvfRC4oSQLRkOPU56I7rC3kXQNcjmc763jC4HEHBAIdkb4SZyb4AkSoHhpkAJv3qcRqYsG96etjxXTp1JwQRSPYb9cm4puXRistzdyzLCtsvBUrKcU3+a0sdZUeyyhiaEXex3yrjcNp65YN5KZnvlxKqQ/DSG4UtDLgFSPwdBnL65X3C8NqbNhb8ADSuNTCOV+gRNBayLtyuh1KusE48lcuyhq2olnMzxZfjVgTK59SEGbybc9sp15YwWXcCcF/Zn8fppTAakcei2C56eQjM5eWRPlmWLwhBimJYktlqKljnGRy8ffWrEYZ6lpZ87YXoR5zeIXVj1BjEgiZmwujRNeu0tpcgzrB81W/0hf2CUtEZb36RKWrnjCNqorAV/ejHD1ra8mYEovioN2ix3KUC2b6YLSjmE4qkWVUlz6LEszv+CSQPm0DrrzTQ2nfWX549cyHaHZ1LJ73ydWVaf2EABvcbU+Wl+eXwzJGMU6nbNy0hoppJLGxiz8PYuTIHGRtFA4g3A4CdaOAe5Z9uhLykFCVaBO9Cw5cwzxpElke2aCsEt4C3g2e4bXgVx8EVzCr6gtsBdtOczkM3rW+afwRaft9j+6FbxXEqzFqlkbf8yygxCr8gChunfRfSBOl26DoEbdW1wFJybOMa4UA9wlP7s/na+6p+vuRwt8z8MR5gzU84/1MZ04FxwFdYqZrt8MXsPN4ka44+P2dO7wwUHLM3XpEkEEMolpwRFcsBdNoAJDPmY+A6TftUVcLFa5E/7ePMNbhzOPbXcMj9/SrJLZQOOS062icyg4j/AhV2T5hAlI0/FaGR6OPpakJES+1J3zn76zOauyUxTvFvvzeWP/oP1uOEsu8vvADo3bzXaDtEmDN0wSjI6AF8iJD0mWoMVtTFiH8PZsiHgZlJq/3ljnbcmTB9S6KUSeGkpInkeBWRCNXKOsvnJWhD5gSgCeTW8Qj7zsGtEhW/90+/jgEbg4I30i0Cv5UpLaMwnMNCgxif5Bi23KIbCmjAwZ0shgzPvpFQt8rqThBaX7N0uDJrReY9REgr3bxVeG8BF44FSoze9Uw3IK0hBfXPUAlkUByIhrpbdM4XMWNs8ICfCenmWQTwXaCxKV+RY2SqLIVwYN1eVRutmXgjx6UD/izgezC7DJosUMeuT4d5sfCpJMZIfxAieFPJSCzeqGWrHol/bVjcKRNBcDp/mvHujQLbLQ0Fb77kWU9Yy4c41mrthXRcu+Rt5Ed+36MerX442JtIN4JXOQVYUuIqqlJnns2GllLAlMN8GmPh3i1RaK8bM0JEfLvZTTWP8PaVVRe7tsPSh3t7Qhl9sZzEP3tLH0DIitIYXth3tqqjRlFFGMnNHOIhWCSvHesj15JYEiFBzAjIqCbDMdU20IJ2Wdh1WLPtThO76LXjIuybwXqVNRpYAiVZfkoNTIkpa0cUR1xfFohNogesAYW87YCYWAPv2CqGgwLGxld8S1bDYo80HRZnQvi2bPuwaqzS6ithMCUAGHIns6RuskazriaW9pB9uIvSsTX+nyNt4MutMJIzdExeiEjYZ5GiWbOQUzMLRqRxJCytNnUPi5FmY9CBT4o6kQfs8b9QJRJxO2S0pgGtHqcDr4+OelWnAs02cWgv7ZOTECIzaA3yGbuu6yIN7CgDCQJ2qqCMkvjQxYDItW2b+gbrdxOOCG7/Y87XgCZ6AAnb8f5WwkoMFevxzxp3f/fTD7iamtjrYguQyX1ZCDs634P9d/dhEfZGPu/l6wLxLHVBAT5DMdWtVtOndXy5naEWp41/ljntfbxl5WRv909denAQG7a6KcU113Hks54JEAWLUEcFdXKy7eyzH+uXE1Ex1ft0ca6xNFilQRFkYe+K/someAlxA1FaPjlqWCTCG7gFXMN57UxsZSkfgZ4qhO51Kt+7yqsLNNH2MTrxA88wubN9Xubqo1apF1VBEh1SI25F440Y7wN+J9eK9skDv88rNaKYPnkur3CPg6faT0xMym0BYay4KvyogLhwxCJOdyUIQWfz+c6r4kFbusxWcrWm5UFWyBqARKYNQ/JnqJzThJjUC/czJmsJWQNktFPJOi5B39iEqVKC9FrTQ8+EJkJ6dcxZ+xBH2v6KaucBOXn61oi1/ETqEsaqXIF+4iF17AfG9hMX8obLFknElmzaPcUkpNgKDpI31C7FLzr9mIc9Z0WVpRk3xI1b9SNjeYILjiVnzwt1I1qxi4kYs931LHk+mwHJH7DjFjUIDWxaVfalJoR/Q083oTowdeya7K9g/18aipZKukgzCsTDoP9ulvOtxhf+QFoNJCVAsRqu2s7f6qAxbWRQ+iiCRvbW4fXcVHEBcKgs+t3XjqAgPgAUGH7cr5n+n3Y7Up4ZFeg7A+ab23rq7H/xxP4CW7nIU/msQCJ3ff8MBFxmU2v3J25V5jQQyY=">
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['FormsForm'];
if (!theForm) {
    theForm = document.FormsForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/javascript/WebResource(1).axd" type="text/javascript"></script>


<script src="/javascript/ScriptResource.axd" type="text/javascript"></script>
<script src="/javascript/ScriptResource(1).axd" type="text/javascript"></script>
<script src="/javascript/ScriptResource(2).axd" type="text/javascript"></script>
<script src="/javascript/ExperienceForm.aspx" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function WebForm_OnSubmit() {
if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
return true;
}
//]]>
</script>

<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="04DBE837">
	<input type="hidden" name="__VIEWSTATEENCRYPTED" id="__VIEWSTATEENCRYPTED" value="">
</div>
        <div id="divnew" class="medium">
            <div id="main">
                <div id="header">
                    
<style type="text/css">
    #clockdiv
    {
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size:  0.75em;
    }

        #clockdiv > div
        {
            padding: 5px;
            border-radius: 3px;
            background: #2e62a4;
            display: inline-block;
        }

        #clockdiv div > span
        {
            padding: 5px;
            border-radius: 3px;
            background: #003481;
            display: inline-block;
        }

    .smalltext
    {
        padding-top: 5px;
        font-size: 10px;
    }
     blink, .blink {
         animation: blinker 1s linear infinite;
         }
         @keyframes blinker {  
         50% { opacity: 0; }
         }
</style>
<div class="topdiv">
    <div class="topbuton container">
    </div>
</div>
<div class="top_banner">
    <div class="container in_banner">
        <div class=" logo col-md-3 col-sm-3 col-xs-12">
            <img id="" class="img-responsive" src="http://www.tecsok.com/wp-content/uploads/2018/02/tecsok-2.png" style="border-width:0px;">
           
        </div>
        <div class="banner_text col-md-6 col-sm-6 col-xs-12">
            <h2 class="text-center">
                <span id=""><b><u>Technical Consultancy Service Organisation of Karnataka</u></b></span>
            </h2>
            <h4 class="text-center">
                <span id="">Online Application Portal </span>
            </h4>
        </div>
        <div class=" logo col-md-3 col-sm-3 col-xs-12">

      
            
        </div>
    </div>
</div>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="">            
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="">HELP</a></li>  
        <li><a href="/user/logout" id="">LOGOUT</a></li> 
        

         </ul>

    </div>
</div>
</nav>
                <div class="container-fluid" id="main-content">
                    <div id="dvLeftMenu">
                        <div>
                            <div class="navbar-default sidebar" role="navigation">
                                <div class="sidebar-nav navbar-collapse" aria-expanded="false" style="min-height: 570px; background-color: #bd135b;">
                                    <ul class="nav in" id="side-menu">
                                        <li>
                                            <a href="/<%=user.username%>/dashboard"><i class="fa fa-home fa-fw"></i><span id="liHome">Home</span> </a>
                                        </li>
                                        <li>
                                            <a href="/<%=user.username%>/profile"><i class="fa fa-user fa-fw"></i><span id="liProfileCreation">Profile Creation</span></a>
                                        </li>
                                        <li><a href="/<%=user.username%>/View"><i class="fa fa-angle-double-right fa-fw" style="background-color: white ; color: #bd135b;"></i><span id="liView" >View &amp; Print Profile</span></a></li>
                                        <li>
                                            <a href="/<%=user.username%>/online_application"><i class="fa fa-file fa-fw"></i><span id="lionlineApp">Online Application</span></a>
                                        </li>
                                        <li>
                                            <a href="/<%=user.username%>/application"><i class="fa fa-street-view fa-fw"></i><span id="liMyApplication">My Application</span></a>
                                        </li>
                                        <li><a href="/<%=user.username%>/request"><i class="fa fa-user fa-fw"></i><span id="liMyRequest">My Request</span></a></li>
                                        <li>
                                            <a href="/<%=user.username%>/dashboard""><i class="fa fa-info-circle fa-fw"></i><span id="liHelp">Help</span></a>
                                        </li>
                                        
                                        
                                    </ul>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div id="page-wrapper">
                        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ToolkitScriptManager1', 'FormsForm', ['tctl00$FormsPH$UPPersnDet','FormsPH_UPPersnDet','tctl00$FormsPH$UpdatePanel1','FormsPH_UpdatePanel1','tctl00$UpdRandomToken','UpdRandomToken'], [], ['ctl00$FormsPH$btnSavePersonelDet','FormsPH_btnSavePersonelDet'], 90, 'ctl00');
//]]>
</script>

                        
    <script type="text/javascript" language="javascript">
        function EncryptAadharNo() {
            if (!Page_ClientValidate("SAVEPerDet")) {
                return false;
            }
        }
    </script>
    <table id="FormsPH_tblMain" width="100%">
	<tbody><tr>
		<td>
                

<script type="text/javascript">

    $(function () {
        // this will get the full URL at the address bar
        var url = window.location.href;
      
        // passes on every "a" tag 
        $("#cssmenu a").each(function () {
           
            // checks if its the same on the address bar
            if (url.indexOf($(this).attr('navigateurl')) > 0) {
                
                if ($(this).closest("li").hasClass("Complete")) {
                    $(this).closest("li").removeClass("Complete");
                    $(this).closest("li").addClass("CompleteActive");
                }

                if ($(this).closest("li").hasClass("InComplete")) {
                    $(this).closest("li").removeClass("InComplete");
                    $(this).closest("li").addClass("InCompleteActive");
                }
            }

        });


    });


    function SelectProfileTab(ProfileTabID) {

        var varUnsavedChanges = document.getElementById('FormsPH_uxProfileMenu_hdnUnsavedChanges').value;

        if (varUnsavedChanges == 'Unsaved') {
            if (confirm('It looks like you have been editing something. \nIf you leave before saving, your changes will be lost.')) {
                SetProfileTab(ProfileTabID);
            }
        }
        else {
            SetProfileTab(ProfileTabID);
        }
    }

    function SetProfileTab(TabID) {

        if (TabID == 'PersonalForm') {
            location.href = 'PersonalForm.aspx';
        }
        if (TabID == 'AddressForm') {
            location.href = 'AddressForm.aspx';
        }
        if (TabID == 'OtherInfoForm') {
            location.href = 'OtherInfoForm.aspx';
        }
        if (TabID == 'QualificationForm') {
            location.href = 'QualificationForm.aspx';
        }
        if (TabID == 'ExperienceForm') {
            location.href = 'ExperienceForm.aspx';
        }
        if (TabID == 'PhotoSignForm') {
            location.href = 'PhotoSignForm.aspx';
        }
        if (TabID == 'DocumentsForm') {
            location.href = 'DocumentsForm.aspx';
        }
    }
</script>
<table>
    <tbody><tr>
        <td>
            <span id="FormsPH_uxProfileMenu_lblMarks" style="color:Red;font-size:Medium;"> '' * '' marks are mandatory</span>
        </td>
        <td>
            <span id="FormsPH_uxProfileMenu_lblNote" style="color:Red;">If no response found on Save/Add Button, kindly Refresh page (press CTRL + F5) <br>
''Click on Save button to save the information before going to next Step''</span>
        </td>
        <td>
            <span id="FormsPH_uxProfileMenu_lblProfileStatus" style="color:Red;font-size:Medium;font-weight:bold;color:Red;">Profile Status : InComplete</span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <span id="FormsPH_uxProfileMenu_Label1" style="color:Red;font-weight:bold;">These 7 Steps Are Only OTR, Not Application Form. Kindly Go To The Online Application Menu For Apply&nbsp;Notification.</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">
            <div>
            </div>
            <div id="cssmenu">
                <ul>
                    <li id="FormsPH_uxProfileMenu_ProfileStep1" class="Complete"><a href="/<%=user.username%>/profile"  >
                        <span id="FormsPH_uxProfileMenu_stp1">&nbsp;&nbsp;Step1 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp1">&nbsp;&nbsp;Personal Details&nbsp&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep2" class="Complete"><a href="/<%=user.username%>/profile/address"  >
                        <span id="FormsPH_uxProfileMenu_stp2">&nbsp;&nbsp;Step2 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp2">&nbsp;&nbsp;Address Details&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep3" class="Complete"><a href="/<%=user.username%>/profile/details"  >
                        <span id="FormsPH_uxProfileMenu_stp3">&nbsp;&nbsp;Step3 &nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp3">&nbsp;&nbsp;Other Details&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep4" class="CompleteActive"><a href="/<%=user.username%>/profile/education"  >
                        <span id="FormsPH_uxProfileMenu_stp4">&nbsp;&nbsp;Step4 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp4">&nbsp;&nbsp;Educational Qualification&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep5" class="InComplete"><a href="/<%=user.username%>/profile/work"  >
                        <span id="FormsPH_uxProfileMenu_stp5">&nbsp;&nbsp;Step5 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp5">&nbsp;&nbsp;Work Experience Details&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep6" class="Complete"><a href="/<%=user.username%>/profile/photo" >
                        <span id="FormsPH_uxProfileMenu_stp6">&nbsp;&nbsp;Step6 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp6">&nbsp;&nbsp;Upload Photo / Signature&nbsp;&nbsp;</span>
                    </a></li>
                    <li id="FormsPH_uxProfileMenu_ProfileStep7" class="Complete"><a href="/<%=user.username%>/profile/documents" >
                        <span id="FormsPH_uxProfileMenu_stp7">&nbsp;&nbsp;Step7 :&nbsp;&nbsp;</span><br>
                        <span id="FormsPH_uxProfileMenu_Lstp7">&nbsp;&nbsp;Upload Documents&nbsp;&nbsp;</span>
                    </a></li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <hr style="background-color: #0183b5;">
            <input type="hidden" name="ctl00$FormsPH$uxProfileMenu$hdnUnsavedChanges" id="FormsPH_uxProfileMenu_hdnUnsavedChanges">
        </td>
    </tr>
</tbody></table>

                    </td>
		</tr>
		<tr>
			<td valign="top">
                        <div>
                            <div>
                                <fieldset class="RFS">
                                    <legend id="FormsPH_ExperienceDetails" class="RFSL">Work Experience Details</legend>
                                    <table width="100%" class="t_default">
                                        <tbody><tr>
                                            <td>
                                                <span id="FormsPH_lblworkexp" style="font-size: large;">Do you have any work experience in Pvt., Govt. or Semi Govt. organisations (In Chronological order)?</span>&nbsp; 
                                               <span style="font-weight:bold;font-size: medium;"><input id="FormsPH_rdYes" type="radio" name="ctl00$FormsPH$Experienced" value="rdYes" checked="checked" onclick="ConfirmExperience(this);"><label for="FormsPH_rdYes">Yes</label></span>
                                                &nbsp;&nbsp;&nbsp;<span style="font-weight:bold;font-size: medium;"><input id="FormsPH_rdNo" type="radio" name="ctl00$FormsPH$Experienced" value="rdNo" onclick="  ConfirmExperience(this);"><label for="FormsPH_rdNo">No</label></span>
                                            </td>
                                        </tr>
                                    </tbody></table>

                                    <div id="FormsPH_pnlExperience">
				
                                        <table width="100%" class="t_default">
                                            <tbody><tr>
                                                <td colspan="3" style="text-align: center; display: none;">
                                                    <span id="FormsPH_LblExpMsg" style="font-size:Medium;font-weight:bold;color: Red">Please enter professional experience if you have any.It is not mandatory if you donot have experience.</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="text-align: center; display: none;">
                                                    <span id="FormsPH_LblExpOrderMsg" style="font-weight:bold;color: Red">Fill all the experience details (Pvt. Govt. semi-govt. etc) in chronological order</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span id="FormsPH_lblEmployment">Employment (Present/Past)</span><span class="red">*</span>
                                                    <br>
                                                    <select name="ctl00$FormsPH$IsPresent" id="FormsPH_IsPresent" onchange="IsPast(this);" style="width:300px;">
					<option selected="selected" value="">Select</option>
					<option value="Pa">Past</option>
					<option value="Pr">Present</option>

				</select>
                                                    <span id="FormsPH_ReqEmployment" style="color:Red;display:none;">Employment (Present/Past) : Information is Mandatory</span>
                                                </td>
                                                <td>
                                                    <span id="FormsPH_lblOrgDept">Institution / Department / Organisation</span><span class="red">*</span>
                                                    <br>
                                                    <input name="ctl00$FormsPH$Department" type="text" maxlength="100" id="FormsPH_Department" title="Enter Institution/Department/Organisation" onfocus="this.placeholder = &#39;&#39;" placeholder="Enter Institution/Department/Organisation" onkeypress="return alphanumeric_only(&#39;&#39;,event);" oncopy="return false;" onpaste="return false;" style="width:300px;">
                                                    <span id="FormsPH_RequiredFieldValidator1" style="color:Red;display:none;">Institution / Department / Organisation : Information is Mandatory</span>
                                                </td>
                                                <td>
                                                    <span id="FormsPH_lblDesignation">Name of Post</span><span class="red">*</span>
                                                    <br>
                                                    <input name="ctl00$FormsPH$Designation" type="text" maxlength="100" id="FormsPH_Designation" title="Enter Designation(Post Held)" onfocus="this.placeholder = &#39;&#39;" placeholder="Enter Designation(Post Held)" onkeypress="return alphanumericText_only(&#39;(|)|-&#39;,event);" oncopy="return false;" onpaste="return false;" style="width:300px;">
                                                    <span id="FormsPH_RequiredFieldValidator2" style="color:Red;display:none;">Name of Post : Information is Mandatory</span>
                                                </td>

                                            </tr>
                                            <tr>

                                                <td>
                                                    <span id="FormsPH_lblPost">Experience Type</span><span class="red">*</span>
                                                    <br>
                                                    <select name="ctl00$FormsPH$NatureOfPost" id="FormsPH_NatureOfPost" class="NMargin" style="width:300px;">
					<option selected="selected" value="">Select</option>
					<option value="ADMINI">Administrative</option>
					<option value="ANALYTICAL">Analytical Experience</option>
					<option value="BANK">Banking</option>
					<option value="CLER">Clerical</option>
					<option value="DATAPRO">Data Processing</option>
					<option value="DRIV">Driving</option>
					<option value="FITTER">Fitter</option>
					<option value="FORENSCI">Forensic Science</option>
					<option value="INDUSTRY">Industry</option>
					<option value="IT">IT</option>
					<option value="JUDI">Judicial</option>
					<option value="LABTECH">Lab Technician</option>
					<option value="OTH">Others</option>
					<option value="PROGR">Programming</option>
					<option value="RESEAR">Research</option>
					<option value="Teach">Teaching</option>
					<option value="TRANSLATION">Translation</option>

				</select>
                                                    <span id="FormsPH_RequiredFieldValidator9" style="color:Red;display:none;">Experience Type : Information is Mandatory</span>
                                                    <br>
                                                    
                                                    <span id="FormsPH_ReqOtherNatureOfPost" style="color:Red;display:none;">Experience Type : Information is Mandatory</span>


                                                </td>
                                                <td>
                                                    <table style="width: 100%;">
                                                        <tbody><tr>
                                                            <td style="border: none;">
                                                                <span id="FormsPH_lblFromDate">From Date</span><span class="red">*</span>
                                                                <br>
                                                                <input type="hidden" name="ctl00$FormsPH$MaskedEditExtender1_ClientState" id="FormsPH_MaskedEditExtender1_ClientState">
                                                                <input name="ctl00$FormsPH$FromDate" type="text" id="FormsPH_FromDate" title="Select From Date" onfocus="this.placeholder = &#39;&#39;" placeholder="Select From Date" onchange="Checkdate(this),CalPeriod(this);" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" style="width:100px;">
                                                                <br>
                                                                <span id="FormsPH_ReqFromDate" style="color:Red;display:none;">From Date : Information is Mandatory</span>
                                                            </td>
                                                            <td style="border: none;">
                                                                <span id="FormsPH_lblToDate" style="display:;">To Date</span>
                                                                <span id="FormsPH_lblToDateStar" style="color:Red;display:;">*</span>
                                                                <br>
                                                                <input type="hidden" name="ctl00$FormsPH$MaskedEditExtender2_ClientState" id="FormsPH_MaskedEditExtender2_ClientState">
                                                                <input name="ctl00$FormsPH$ToDate" type="text" id="FormsPH_ToDate" title="Select To Date" onfocus="this.placeholder = &#39;&#39;" placeholder="Select To Date" onchange="CalPeriod(this); " onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" style="width:100px;display:;">
                                                                
                                                                <br>
                                                                <span id="FormsPH_ReqToDate" style="color:Red;display:none;">To Date : Information is Mandatory</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" style="border: none;"><span id="Span2" style="color: Blue;">Date format DD/MM/YYYY. </span></td>
                                                        </tr>
                                                    </tbody></table>
                                                </td>
                                                <td>
                                                    <table style="width: 100%;">
                                                        <tbody><tr>
                                                            <td style="border: none;">
                                                                <span id="FormsPH_lblYear">Years</span>
                                                                <br>
                                                                <input name="ctl00$FormsPH$PeriodYear" type="text" maxlength="2" id="FormsPH_PeriodYear" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" style="background-color:#EBEBE4;width:105px;">
                                                            </td>
                                                            <td style="border: none;">
                                                                <span id="FormsPH_lblMonth">Months</span>
                                                                <br>
                                                                <input name="ctl00$FormsPH$PeriodMonth" type="text" maxlength="2" id="FormsPH_PeriodMonth" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" style="background-color:#EBEBE4;width:105px;">
                                                            </td>
                                                            <td style="border: none;">
                                                                <span id="FormsPH_lblDay">Days</span>
                                                                <br>
                                                                <input name="ctl00$FormsPH$PeriodDays" type="text" maxlength="2" id="FormsPH_PeriodDays" onkeypress="return isNumberKey(this, event)" oncopy="return false;" onpaste="return false;" style="background-color:#EBEBE4;width:105px;">
                                                            </td>
                                                        </tr>
                                                    </tbody></table>

                                                </td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    <span id="FormsPH_lblOrganizationType">Organization Type</span><span class="red">*</span>
                                                    <br>
                                                    <select name="ctl00$FormsPH$ddlOrganizationType" id="FormsPH_ddlOrganizationType" style="width:300px;">
					<option selected="selected" value="">Select</option>
					<option value="CENTRALGOV">Central Government </option>
					<option value="CENTRALPSU">Central PSU</option>
					<option value="GOV">Government</option>
					<option value="HIGHCOUTIND">High Courts of India</option>
					<option value="PARLIAMENT">Parliament</option>
					<option value="PRIVATE">Private</option>
					<option value="SEMIGOV">Semi Government</option>
					<option value="STATEGOV">State Government</option>
					<option value="STATELEGISSECR">State Legislatures Secretariats</option>
					<option value="STATEPSU">State PSU</option>
					<option value="SUBORDINCOURT">Subordinates Court</option>
					<option value="SUPCOUTIND">Supreme Court of India</option>

				</select>
                                                    <br>
                                                    <span id="FormsPH_ReqOrganizationType" style="color:Red;display:none;">Organization Type : Information is Mandatory</span>
                                                </td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>

                                            <tr>
                                                <td colspan="3" align="center">
                                                    <input type="submit" name="ctl00$FormsPH$btnSubbmit" value="Add" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$FormsPH$btnSubbmit&quot;, &quot;&quot;, true, &quot;a&quot;, &quot;&quot;, false, false))" id="FormsPH_btnSubbmit" class="positive">
                                                    <div id="FormsPH_ExperienceErrorSummary" style="font-size:Large;display:none;">

				</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" align="center">
                                                    <div>
					<table cellspacing="0" rules="all" border="1" id="FormsPH_GV_ExperienceDetails" style="width:100%;border-collapse:collapse;">
						<tbody><tr>
							<td colspan="12">no experience</td>
						</tr>
					</tbody></table>
				</div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" align="center" style="border: none;">
                                                    <input type="submit" name="ctl00$FormsPH$btnSubmitExp" value="Save" onclick="return CheckEditExp();" id="FormsPH_btnSubmitExp" class="positive" style="width:80px;"><input type="hidden" name="ctl00$FormsPH$HF_TransactionID" id="FormsPH_HF_TransactionID" value="0">
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    
			</div>


                                </fieldset>
                            </div>
                            <table width="100%" class="t_default">
                                <tbody><tr>
                                    <td style="border: none;" align="right">
                                        <input type="submit" name="ctl00$FormsPH$btnNext" value="Next" onclick=" return ConfirmNext(); ;" id="FormsPH_btnNext" class="positive" style="width:80px;">
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                    </td>
		</tr>
	</tbody></table>
	
        
</div>
    <div id="FormsPH_UpdateProgress5" style="display:none;" role="status" aria-hidden="true">
	
            <div class="popUpDiv">
                <div class="popUpBG">
                </div>
                <div class="popUpImage">
                    <img src="./Work Experience Details_files/pleaseWait.gif" alt="Please Wait!">
                </div>
            </div>
        
</div>


    <div id="FormsPH_UpdatePanel1">
	
            <div style="display: none;">
                <input type="hidden" name="ctl00$FormsPH$hdnConfirmExp" id="FormsPH_hdnConfirmExp" value="Are you sure you want to save Experience details?">
                <input type="hidden" name="ctl00$FormsPH$hdnLangID" id="FormsPH_hdnLangID" value="1">
                <input type="hidden" name="ctl00$FormsPH$hdnRowCount" id="FormsPH_hdnRowCount" value="0">
                <input type="hidden" name="ctl00$FormsPH$hdv_valueExp" id="FormsPH_hdv_valueExp" value="0">
                <input type="hidden" name="ctl00$FormsPH$hdnEditRow" id="FormsPH_hdnEditRow" value="Kindly Update Edited details.">
                <span id="FormsPH_lblSrNo" style="display: none"></span>
                <span id="FormsPH_Save" style="display: none"></span>
                <span id="FormsPH_Add" style="display: none"></span>
                <span id="FormsPH_Edit" style="display: none"></span>
                <span id="FormsPH_Delete" style="display: none"></span>
            </div>
        
</div>




                    </div>
                </div>
                <div id="bottom">
                    


                    <div class="rounded_footer">
                        <div class="left_footer">
                        </div>
                        <div class="right_footer">
                        </div>
                    </div>
                    </div>
                    <div class="cleaner">
                    </div>
                    <div id="footer">
                    <div class="container-fluid">
                        <p>
                            <span id="ctl00_lblDisclaimer"></span><span id="ctl00_lblVersion"> </span></p>
                    </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="UpdRandomToken">
	
                <div style="display: none">
                    <input type="hidden" name="ctl00$HdnRandomToken" id="HdnRandomToken">
                </div>
            
</div>
        <script src="/javascript/common.js" type="text/javascript"></script>
    
<script type="text/javascript">
//<![CDATA[
var Page_ValidationSummaries =  new Array(document.getElementById("FormsPH_ExperienceErrorSummary"));
var Page_Validators =  new Array(document.getElementById("FormsPH_ReqEmployment"), document.getElementById("FormsPH_RequiredFieldValidator1"), document.getElementById("FormsPH_RequiredFieldValidator2"), document.getElementById("FormsPH_RequiredFieldValidator9"), document.getElementById("FormsPH_ReqOtherNatureOfPost"), document.getElementById("FormsPH_ReqFromDate"), document.getElementById("FormsPH_ReqToDate"), document.getElementById("FormsPH_ReqOrganizationType"));
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
var FormsPH_ReqEmployment = document.all ? document.all["FormsPH_ReqEmployment"] : document.getElementById("FormsPH_ReqEmployment");
FormsPH_ReqEmployment.controltovalidate = "FormsPH_IsPresent";
FormsPH_ReqEmployment.errormessage = "Employment (Present/Past) : Information is Mandatory";
FormsPH_ReqEmployment.display = "Dynamic";
FormsPH_ReqEmployment.validationGroup = "a";
FormsPH_ReqEmployment.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqEmployment.initialvalue = "";
var FormsPH_RequiredFieldValidator1 = document.all ? document.all["FormsPH_RequiredFieldValidator1"] : document.getElementById("FormsPH_RequiredFieldValidator1");
FormsPH_RequiredFieldValidator1.controltovalidate = "FormsPH_Department";
FormsPH_RequiredFieldValidator1.errormessage = "Institution / Department / Organisation : Information is Mandatory";
FormsPH_RequiredFieldValidator1.display = "Dynamic";
FormsPH_RequiredFieldValidator1.validationGroup = "a";
FormsPH_RequiredFieldValidator1.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_RequiredFieldValidator1.initialvalue = "";
var FormsPH_RequiredFieldValidator2 = document.all ? document.all["FormsPH_RequiredFieldValidator2"] : document.getElementById("FormsPH_RequiredFieldValidator2");
FormsPH_RequiredFieldValidator2.controltovalidate = "FormsPH_Designation";
FormsPH_RequiredFieldValidator2.errormessage = "Name of Post : Information is Mandatory";
FormsPH_RequiredFieldValidator2.display = "Dynamic";
FormsPH_RequiredFieldValidator2.validationGroup = "a";
FormsPH_RequiredFieldValidator2.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_RequiredFieldValidator2.initialvalue = "";
var FormsPH_RequiredFieldValidator9 = document.all ? document.all["FormsPH_RequiredFieldValidator9"] : document.getElementById("FormsPH_RequiredFieldValidator9");
FormsPH_RequiredFieldValidator9.controltovalidate = "FormsPH_NatureOfPost";
FormsPH_RequiredFieldValidator9.errormessage = "Experience Type : Information is Mandatory";
FormsPH_RequiredFieldValidator9.display = "Dynamic";
FormsPH_RequiredFieldValidator9.validationGroup = "a";
FormsPH_RequiredFieldValidator9.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_RequiredFieldValidator9.initialvalue = "";
var FormsPH_ReqOtherNatureOfPost = document.all ? document.all["FormsPH_ReqOtherNatureOfPost"] : document.getElementById("FormsPH_ReqOtherNatureOfPost");
FormsPH_ReqOtherNatureOfPost.controltovalidate = "FormsPH_TxtOtherNatureOfPost";
FormsPH_ReqOtherNatureOfPost.errormessage = "Experience Type : Information is Mandatory";
FormsPH_ReqOtherNatureOfPost.display = "Dynamic";
FormsPH_ReqOtherNatureOfPost.enabled = "False";
FormsPH_ReqOtherNatureOfPost.validationGroup = "a";
FormsPH_ReqOtherNatureOfPost.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqOtherNatureOfPost.initialvalue = "";
var FormsPH_ReqFromDate = document.all ? document.all["FormsPH_ReqFromDate"] : document.getElementById("FormsPH_ReqFromDate");
FormsPH_ReqFromDate.controltovalidate = "FormsPH_FromDate";
FormsPH_ReqFromDate.errormessage = "From Date : Information is Mandatory";
FormsPH_ReqFromDate.display = "Dynamic";
FormsPH_ReqFromDate.validationGroup = "a";
FormsPH_ReqFromDate.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqFromDate.initialvalue = "";
var FormsPH_ReqToDate = document.all ? document.all["FormsPH_ReqToDate"] : document.getElementById("FormsPH_ReqToDate");
FormsPH_ReqToDate.controltovalidate = "FormsPH_ToDate";
FormsPH_ReqToDate.errormessage = "To Date : Information is Mandatory";
FormsPH_ReqToDate.display = "Dynamic";
FormsPH_ReqToDate.validationGroup = "a";
FormsPH_ReqToDate.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqToDate.initialvalue = "";
var FormsPH_ReqOrganizationType = document.all ? document.all["FormsPH_ReqOrganizationType"] : document.getElementById("FormsPH_ReqOrganizationType");
FormsPH_ReqOrganizationType.controltovalidate = "FormsPH_ddlOrganizationType";
FormsPH_ReqOrganizationType.errormessage = "Organization Type : Information is Mandatory";
FormsPH_ReqOrganizationType.display = "Dynamic";
FormsPH_ReqOrganizationType.validationGroup = "a";
FormsPH_ReqOrganizationType.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
FormsPH_ReqOrganizationType.initialvalue = "";
var FormsPH_ExperienceErrorSummary = document.all ? document.all["FormsPH_ExperienceErrorSummary"] : document.getElementById("FormsPH_ExperienceErrorSummary");
FormsPH_ExperienceErrorSummary.showmessagebox = "True";
FormsPH_ExperienceErrorSummary.showsummary = "False";
FormsPH_ExperienceErrorSummary.validationGroup = "a";
//]]>
</script>

<script type="text/javascript" src="/javascript/MaskedEditFix.js"></script>
<script type="text/javascript">
//<![CDATA[
(function() {var fn = function() {$get("ToolkitScriptManager1_HiddenField").value = '';Sys.Application.remove_init(fn);};Sys.Application.add_init(fn);})();
var Page_ValidationActive = false;
if (typeof(ValidatorOnLoad) == "function") {
    ValidatorOnLoad();
}

function ValidatorOnSubmit() {
    if (Page_ValidationActive) {
        return ValidatorCommonOnSubmit();
    }
    else {
        return true;
    }
}
        
(function(id) {
    var e = document.getElementById(id);
    if (e) {
        e.dispose = function() {
            Array.remove(Page_ValidationSummaries, document.getElementById(id));
        }
        e = null;
    }
})('FormsPH_ExperienceErrorSummary');

document.getElementById('FormsPH_ReqEmployment').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqEmployment'));
}

document.getElementById('FormsPH_RequiredFieldValidator1').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_RequiredFieldValidator1'));
}

document.getElementById('FormsPH_RequiredFieldValidator2').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_RequiredFieldValidator2'));
}

document.getElementById('FormsPH_RequiredFieldValidator9').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_RequiredFieldValidator9'));
}

document.getElementById('FormsPH_ReqOtherNatureOfPost').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqOtherNatureOfPost'));
}
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.MaskedEditBehavior, {"ClientStateFieldID":"FormsPH_MaskedEditExtender1_ClientState","CultureAMPMPlaceholder":"AM;PM","CultureCurrencySymbolPlaceholder":"","CultureDateFormat":"DMY","CultureDatePlaceholder":"/","CultureDecimalPlaceholder":".","CultureName":"en-GB","CultureThousandsPlaceholder":",","CultureTimePlaceholder":":","ErrorTooltipEnabled":true,"Mask":"99/99/9999","MaskType":1,"id":"FormsPH_MaskedEditExtender1"}, null, null, $get("FormsPH_FromDate"));
});
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.CalendarBehavior, {"format":"dd/MM/yyyy","id":"FormsPH_txtToDate_CalendarExtender"}, null, null, $get("FormsPH_FromDate"));
});

document.getElementById('FormsPH_ReqFromDate').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqFromDate'));
}
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.MaskedEditBehavior, {"ClientStateFieldID":"FormsPH_MaskedEditExtender2_ClientState","CultureAMPMPlaceholder":"AM;PM","CultureCurrencySymbolPlaceholder":"","CultureDateFormat":"DMY","CultureDatePlaceholder":"/","CultureDecimalPlaceholder":".","CultureName":"en-GB","CultureThousandsPlaceholder":",","CultureTimePlaceholder":":","ErrorTooltipEnabled":true,"Mask":"99/99/9999","MaskType":1,"id":"FormsPH_MaskedEditExtender2"}, null, null, $get("FormsPH_ToDate"));
});
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.CalendarBehavior, {"format":"dd/MM/yyyy","id":"FormsPH_txtEndDate_CalendarExtender"}, null, null, $get("FormsPH_ToDate"));
});

document.getElementById('FormsPH_ReqToDate').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqToDate'));
}

document.getElementById('FormsPH_ReqOrganizationType').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('FormsPH_ReqOrganizationType'));
}
Sys.Application.add_init(function() {
    $create(Sys.UI._UpdateProgress, {"associatedUpdatePanelId":"FormsPH_updExperience","displayAfter":500,"dynamicLayout":true}, null, null, $get("FormsPH_UpdateProgress5"));
});
//]]>
</script>
</form>

    <div id="mySessionModal" class="mySessionModal-modal">
        <!-- Modal content -->
        <div class="mySessionModal-modal-content">
            <span class="mySessionModalclose"></span>
            <h3>Session Expiring! </h3>
            <p>
                Your Session will expire in&nbsp;<span id="mySessionModaSeconds"></span>&nbsp;seconds.<br>
            </p>
        </div>
    </div>

    <form id="pmt" method="post" action="https://www.kpscrecruitment.in/RPS/Forms/MakePayment.aspx">
        <input type="hidden" id="TRNID" name="NTRNID" value="">
        <input type="hidden" id="SRVID" name="NSRVID" value="">
        <input type="hidden" id="AMT" name="NAMT" value="">
        <input type="hidden" id="Email" name="NEmail" value="">
        <input type="hidden" id="Mobile" name="NMobile" value="">
        <input type="hidden" id="RetUrl" name="NRetUrl" value="">
        <input type="hidden" id="ServiceName" name="NServiceName" value="">
        <input type="hidden" id="ADVNo" name="NADVNo" value="">
        <input type="submit" id="SPMT" name="NPMT" value="MKPMT" style="visibility: hidden;">
        <input type="hidden" id="CreatedBy" name="NCreatedBy" value="">
        <input type="hidden" id="Name" name="NName" value="">
    </form>
    <script type="text/javascript">

        var span = document.getElementsByClassName("mySessionModalclose")[0].onclick = function () {
            document.getElementById('mySessionModal').style.display = "none";
        }

        var sessionTimeout = "20";
        var MINUTES = parseInt(sessionTimeout);
        var SECONDS = 60;
        var MILLISECONDS = 1000;
        var timeInMinutes = 10;
        var currentTime = Date.parse(new Date());
        var deadline = new Date(currentTime + MINUTES * SECONDS * MILLISECONDS);
        initializeClock('clockdiv', deadline);

    </script>


</body></html>